.portfolio
    width: 100%
    background-color: #262626
    
.portfolio-wrap
    max-width: 1240px
    width: 100%
    height: 220px
    margin-left: auto
    margin-right: auto
    background-color: #262626
    display: flex
    flex-direction: column
    justify-content: center

.portfolio-header
    font-size: 25px
    font-weight: 700
    font-family: 'Raleway', sans-serif
    color: #ffffff
    text-align: center
    margin-bottom: 20px

.portfolio-link
    width: 100%
    text-align: center
    
.portfolio-link-item
    font-family: 'Lato', sans-serif
    font-size: 14px
    padding: 10px
    text-transform: uppercase
    text-decoration: none
    color: #7a7a7a
    &:hover
        color: #ff0036

.portfolio-offers
    width: 100%
    

.portfolio-offers-blocks
    max-width: 1240px    
    width: 100%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: stretch

.portfolio-offers-blocks-money,
.portfolio-offers-blocks-pot,
.portfolio-offers-blocks-currency,
.portfolio-offers-blocks-check
    width: 30%
    position: relative

.portfolio-offers-blocks-bank,
.portfolio-offers-blocks-cards,
.portfolio-offers-blocks-purse,
.portfolio-offers-blocks-calc
    width: 20%
    position: relative

.porfolio-offers-hover
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

.portfolio-offers-img-wide
    display: inline-block
    width: 100%
    height: 100%

.portfolio-offers-img
    display: inline-block
    width: 100%
    height: 100%

.porfolio-offers-hover
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba( 0, 0, 0, 1 )
    opacity: 0
    &:hover
        opacity: 0.9
    & img
        padding-bottom: 55px
       
.portfolio-offers-hover-text
    position: absolute
    color: #ffffff
    font-family: Lato
    font-size: 14px
    font-weight: 400
    line-height: 1

