@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  background-image: url("../image/simply the best/Main Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

.wrapper {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__logo {
  padding-left: 6rem;
}

.header__logo img {
  width: 10rem;
  margin: 1.5rem 0 0 1rem;
}

.menu__toggle {
  display: none;
}

.hamburger__menu {
  width: 84%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 6.2rem;
}

.header__nav a {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__nav a:hover {
  color: #de813c;
}

@font-face {
  font-family: 'bernadette';
  src: url("../fonts/bernadette.eot");
  src: local("☺"), url("../fonts/bernadette.woff") format("woff"), url("../fonts/bernadette.ttf") format("truetype"), url("../fonts/bernadette.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.first__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first__block h1 {
  font-family: "Bernadette";
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 9rem;
}

.first__block h2 {
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 3rem;
}

.first__block p {
  width: 46rem;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: lighter;
  line-height: 1.7rem;
  color: #ffffff;
  margin-bottom: 3rem;
}

.first__block button {
  width: 12rem;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: 700;
  background-color: #ffffff;
  color: #020202;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: .6rem 1.6rem;
  border: solid #fff;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 6rem;
}

.first__block button:hover {
  background-color: #de813c;
  color: #fff;
  border: solid #de813c;
}

.progress__block {
  width: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress__item {
  width: 28.5rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1), -1rem -1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1), -1rem -1rem 3rem rgba(0, 0, 0, 0.1);
  margin-bottom: 8rem;
  position: relative;
}

.progress__item img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.progress__item h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #333332;
  margin-top: 1rem;
}

.progress__item p {
  width: 100%;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: bolder;
  text-align: center;
  color: #040404;
  padding: 1rem 3rem;
}

.progress__item button {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 10rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#dd813d), to(#435297));
  background-image: linear-gradient(to left, #dd813d 0%, #435297 100%);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  padding: .7rem 1.2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 6rem;
  color: #fff;
}

.progress__item button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#435297), to(#dd813d));
  background-image: linear-gradient(to left, #435297 0%, #dd813d 100%);
  border: none;
}

.creative__agency {
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.wrap__creative__agency {
  width: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrap__creative__agency img {
  width: 42rem;
  margin-left: 25.5rem;
}

.left__block {
  width: 38.5%;
  position: absolute;
  left: 0;
}

.left__block h2 {
  font-family: "Bernadette";
  font-size: 3.5rem;
  font-weight: 400;
  color: #333332;
  margin-bottom: 2rem;
}

.left__block p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #040404;
  margin-bottom: 2rem;
}

.left__block span {
  font-size: 1.4rem;
  color: #040404;
  font-weight: lighter;
}

.left__block button {
  width: 10rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#dd813d), to(#435297));
  background-image: linear-gradient(to left, #dd813d 0%, #435297 100%);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  padding: .7rem 1.2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 6rem;
  color: #fff;
}

.left__block button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#435297), to(#dd813d));
  background-image: linear-gradient(to left, #435297 0%, #dd813d 100%);
  border: none;
}

.right__block {
  width: 33.5%;
  position: absolute;
  right: 0;
}

.right__block p {
  padding: 6rem 0 1.5rem 0;
  line-height: 2rem;
  color: #040404;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: 700;
}

.right__block span {
  font-family: "Bernadette";
  font-size: 3rem;
  font-weight: 400;
  color: #040404;
  padding-left: 3.5rem;
}

.amazing__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 3.5rem;
}

.image__block {
  width: 45%;
  padding: 1rem;
}

.image__block img {
  width: 100%;
}

.amazing_text__block {
  width: 58rem;
  background-color: #fff;
  border-radius: .7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amazing_text__block h1 {
  font-family: "bernadette";
  font-size: 3.5rem;
  font-weight: 400;
  color: #333332;
  padding: .5rem;
}

.amazing_text__block p {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #040404;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.amazing_text__block button {
  width: 10rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#dd813d), to(#435297));
  background-image: linear-gradient(to left, #dd813d 0%, #435297 100%);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  padding: .7rem 1.2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 6rem;
  color: #fff;
  padding: .7rem 1.2rem;
  margin: 3rem 0 1rem 0;
}

.amazing_text__block button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#435297), to(#dd813d));
  background-image: linear-gradient(to left, #435297 0%, #dd813d 100%);
  border: none;
}

.services__we__provide {
  height: 48rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 5rem;
}

.left__side {
  width: 60%;
  padding: 0 18% 0 6%;
}

.left__side h1 {
  font-family: "Bernadette";
  font-size: 3rem;
  font-weight: 400;
  color: #333332;
  padding-top: 5rem;
}

.left__side p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #040404;
  padding: 1rem 0 2.5rem 0;
}

.left__side span {
  font-weight: bold;
  color: #040404;
}

.left__side button {
  width: 10rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#dd813d), to(#435297));
  background-image: linear-gradient(to left, #dd813d 0%, #435297 100%);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  padding: .7rem 1.2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 6rem;
  color: #fff;
}

.left__side button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#435297), to(#dd813d));
  background-image: linear-gradient(to left, #435297 0%, #dd813d 100%);
  border: none;
}

.center__block {
  width: 18rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dd813d), to(#435297));
  background-image: linear-gradient(to bottom right, #dd813d 0%, #435297 100%);
  position: absolute;
  top: 50%;
  left: 51%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 1rem;
  padding: 1rem;
}

.center__block .icon__cell {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center__block .icon__cell:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(50%, transparent));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent 50%);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: .4rem .1rem;
}

.center__block .icon__cell:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(50%, transparent));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent 50%);
  background-position: left;
  background-repeat: repeat-y;
  background-size: .1rem .4rem;
}

.center__block .icon__cell:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(50%, transparent));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent 50%);
  background-position: right;
  background-repeat: repeat-y;
  background-size: .1rem .4em;
}

.center__block .icon__cell:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(50%, transparent));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent 50%);
  background-position: top;
  background-repeat: repeat-x;
  background-size: .4rem .1rem;
}

.center__block img {
  width: 2.5rem;
  margin-bottom: .7rem;
}

.center__block p {
  width: 72%;
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  text-align: center;
}

.right__side {
  width: 40%;
  height: 100%;
}

.right__side img {
  width: 100%;
  height: 100%;
}

.we__are__perfect__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8rem;
}

.we__are__perfect__team h1 {
  font-family: "Bernadette";
  font-size: 3rem;
  font-weight: 400;
  color: #333332;
  margin-bottom: 1.5rem;
}

.we__are__perfect__team p {
  width: 88%;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #040404;
  margin-bottom: 4rem;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.team__block .team__item {
  width: 17.9%;
  padding: 0 .7rem;
}

.team__block .team__item img {
  width: 100%;
  margin-bottom: 1rem;
}

.team__block .team__item h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #333332;
  text-align: center;
}

.team__block .team__item p {
  color: #b7b7b7;
  text-align: center;
}

.team__block::before {
  position: absolute;
  content: "";
  width: 96%;
  height: 80%;
  top: 33%;
  left: 2%;
  background: #f7f7f7;
  z-index: -1;
}

.Anita__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 6rem;
}

.Anita__alen__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96.4rem;
}

.Anita__left__block {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4.5rem;
}

.Anita__left__block h1 {
  font-family: "Bernadette";
  font-size: 4rem;
  font-weight: 400;
  color: #333332;
  padding-left: .9rem;
  line-height: 4rem;
}

.Anita__left__block h3 {
  font-family: "Lato";
  font-size: 1.6rem;
  font-weight: 700;
  color: #636363;
  padding-left: .5rem;
  margin-bottom: 1.5rem;
}

.Anita__left__block p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}

.Creativity,
.Team__work,
.Designing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
}

.Creativity h3,
.Team__work h3,
.Designing h3 {
  font-size: 1.8rem;
  color: #333332;
}

.Creativity::after,
.Team__work::after,
.Designing::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  background-color: #e0e0e0;
  border-radius: .5rem;
}

.Creativity::before,
.Team__work::before,
.Designing::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1rem;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#dd813d), to(#435297));
  background-image: linear-gradient(to right, #dd813d 0%, #435297 100%);
  border-radius: .5rem;
  z-index: 1;
  min-width: 1rem;
  -webkit-transition: 3s;
  transition: 3s;
}

.Creativity:hover::before {
  width: 95%;
}

.Team__work:hover::before {
  width: 80%;
}

.Designing:hover::before {
  width: 90%;
}

.skill__level__number {
  font-size: 1.5rem;
  font-weight: 900;
}

.Anita__right__block {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Anita__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dd813d), to(#435297));
  background-image: linear-gradient(to bottom right, #dd813d 0%, #435297 100%);
  color: #fff;
}

.Anita__social p {
  width: 28rem;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 3.5rem 3.5rem 0 3.5rem;
}

.Anita__social p span {
  font-size: 1.4rem;
  font-weight: bolder;
}

.Anita__social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3.5rem 3.5rem 3.5rem;
}

.social__icon__item img {
  width: 4rem;
  margin: .7rem;
}

.Anita__photo img {
  width: 28rem;
}

.take__your__website {
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website__left__side {
  width: 50%;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#dd813d), to(#435297));
  background: linear-gradient(to bottom right, #dd813d 0%, #435297 100%);
}

.professional {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 15%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1.5rem;
}

.professional h2 {
  font-family: "Bernadette";
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  color: #333332;
  margin-top: 2rem;
}

.professional h3 {
  font-family: "lato";
  font-size: 1.6rem;
  font-weight: 700;
  color: #333332;
  margin-bottom: .7rem;
}

.professional p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #040404;
  text-align: center;
}

#price {
  font-size: 5rem;
  font-weight: 900;
  margin: 4rem 0;
}

#price span {
  font-size: 3rem;
}

.website__right__side {
  background-color: #f4f4f4;
}
/*# sourceMappingURL=main.css.map */