.about
    width: 100%
    display: flex
    justify-content: center
    margin-top: 8rem

.about__wrap
    max-width: 120rem

.about__image
    width: 42%
    position: relative

.about__image::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 38rem
    @include gradient
    opacity: .7
    
.about__content
    display: flex
    justify-content: space-between

.button
    @include button

.about__info
    width: 58%
    padding: 0 8rem

.about__info-header
    @include header_text
    margin: 4rem 0

.about__info-text
    @include regular_text

.button
    margin: 2rem 0

.servises
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-top: 8rem

.servises__elem
    display: flex
    flex-direction: column
    align-items: center
    width: 35rem
    margin: 2rem 0

.servises__elem-icon
    margin-bottom: 2rem

.servises__elem-header
    @include regular_text
    font-weight: 700
    margin-bottom: 2rem

.servises__elem-text
    @include regular_text
    font-size: 1.6rem
    text-align: center
