.contacts
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 8rem

.contacts__wrap
    max-width: 120rem

.contacts__header
    text-align: center

.contacts__block
    display: flex
    justify-content: center
    flex-wrap: wrap

.map-block,
.inputs-block
    width: 50%
    display: flex
    align-items: center
    flex-direction: column

.contacts__block-button
    
