.footer
    margin-top: 8rem

.footer__wrap
    height: 32rem
    background-image: url("../images/footer/footer_background.png")
    background-size: cover
    background-position: top
    background-repeat: no-repeat
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


.footer__wrap::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 32rem
    background: #07507d
    opacity: .7

.footer__content
    width: 120rem
    display: flex
    justify-content: space-between
    align-items: flex-start
    color: #ffffff
    z-index: 5

.content-elem
    display: flex
    flex-direction: column
    width: 25rem
    
.content-elem--wide
    width: 50rem

.content-elem__header
    font-family: 'Roboto', sans-serif
    font-size: 1.8rem
    font-weight: 400
    margin-bottom: 2rem

.content-elem__adress
    width: 10rem
    margin-bottom: 2rem

.content-elem__text
    font-family: 'Roboto', sans-serif
    font-size: 1.2rem
    font-weight: 400
    margin-bottom: 1rem

.content-elem__contacts,
.content-elem__mail
    font-family: 'Roboto', sans-serif
    color: #ffffff