.header
    height: 45rem
    background-image: url("../images/header/header_background.png")
    background-size: cover
    background-position: top
    background-repeat: no-repeat
    position: relative
    display: flex
    flex-direction: column
    align-items: center

.header__gradient
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 45rem
    background: linear-gradient(to bottom right, #fd8a33 0%, #5b7bff 100%)
    opacity: .5

.header__top-line
    width: 83rem
    display: flex
    justify-content: space-between
    margin-top: 2.5rem

.logo
    z-index: 5

.logo__text
    font-size: 2.4rem
    color: #ffffff
    font-weight: 700

.nav-bar
    display: flex
    align-items: center

.nav-bar__list
    display: flex
    align-items: center

.nav-bar__list-elem
    margin: 0 1rem
    z-index: 5

.nav-bar__link
    font-size: 1.4rem
    color: #ffffff
    font-weight: 700
