@media (min-width:320px) and (max-width:767px)

    //header
    .header
        background-size: auto
        height: 32rem

    .header::after
        height: 32rem

    .header__top-line
        width: 95%
        justify-content: flex-end
        margin-top: 1rem

    .nav-bar
        width: 0

    .hamburger__menu  
        display: flex
        align-items: center

    #menu__toggle
        opacity: 0

    .menu__button
        display: flex
        align-items: center
        position: absolute
        top: 1.5rem
        left: 1rem
        width: 2rem
        height: 2rem
        cursor: pointer
        z-index: 100
        span,
        span::before,
        span::after
            display: block
            position: absolute
            width: 100%
            height: 0.2rem
            background-color: #b4b2b2

    .menu__button span::before
        content: ""
        top: -1rem

    .menu__button span::after
        content: ""
        top: 1rem

    .nav-bar__list
        display: flex
        flex-direction: column
        align-items: start
        margin: 0
        padding-top: 5rem
        position: absolute
        top: -100%
        left: 0
        width: 100%
        height: 32rem
        opacity: 0.9
        background-color: #228f6e 
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
        transition: all .3s
        z-index: 99

    .nav-bar__list-elem
        width: 10rem
        margin-bottom: 1rem

    .nav-bar__list.active
        top: 0

    .nav-bar__link
        display: block
        top: 0
        left: 0
        font-size: 1.8rem
        font-weight: 700
        padding: 2rem 0
        color: #ffffff
        &:hover
            color: #fff

    .header__nav span
        display: none

    #menu__toggle:checked ~ .menu__button span
        transform: rotate(45deg)

    #menu__toggle:checked ~ .menu__button span::before
        top: 0
        transform: rotate(0)

    #menu__toggle:checked ~ .menu__button span::after
        top: 0rem
        transform: rotate(90deg)

    .header-content
        width: 100%
        display: flex
        justify-content: center
        margin-top: 5rem
        
    //about
    .about
        margin-top: 1rem

    .about__wrap
        width: 100%

    .about__content
        display: flex
        flex-direction: column
        align-items: center

    .header-content__text
        width: 95%
        font-size: 3.5rem

    .about__image img
        width: 100%

    .about__image
        width: 100%

    .about__image::after
        height: 100%

    .about__info
        width: 95%
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 

    .about__info-text
        text-align: center

    //servises
    .servises
        margin-top: 0

    .servises__elem
        width: 100%
        margin: 3.5rem 0 0 0

    .servises__elem-text
        width: 95%

    //project
    .project
        margin: 5rem 0 0 0 

    .project__header
        margin: 0 0 2rem 0 

    .project__images-block
        width: 100%
        flex-direction: column

    //portfolio
    .portfolio__wrap
        height: 44rem

    .portfolio__quotes
        font-size: 6rem
        line-height: 6rem
        margin-top: 2rem

    .portfolio__text
        width: 95%

    .slider
        display: none

    //contacts
    .contacts
        margin-top: 2rem

    .contacts__wrap
        width: 100%

    .contacts__header
        text-align: center
        margin-bottom: 1.5rem

    .contacts__block
        flex-direction: column
        align-items: center

    .map-block,
    .inputs-block
        width: 100%
        align-items: center

    .map-block
        margin-bottom: 3rem

    .map-block__adress
        text-align: center

    .map-block__map
        text-align: center
        width: 100%

    .input-block__input,
    .input-block__textarea
        width: 95%
        margin-bottom: 1rem

    //footer
    .footer
        margin-top: 5rem

    .footer__wrap::after
        height: 66rem

    .footer__wrap
        height: 66rem
        justify-content: flex-start

    .footer__content
        width: 100%
        flex-direction: column
        align-items: center

    .content-elem 
        width: 95%
        margin: 2rem 0