@media (min-width:768px) and (max-width:1279px)

    //header
    .header
        background-size: auto

    .header__top-line
        width: 95%
        margin-top: 1rem

    .header-content
        width: 100%
        display: flex
        justify-content: center

    .header-content__text
        width: 73rem

    .header-content
        display: flex
        justify-content: center

    //about
    .about__content
        display: flex
        flex-direction: column
        align-items: center

    .about__info
        width: 73rem
        display: flex
        flex-direction: column
        align-items: center
        padding: 0

    .about__info-header
        margin-right: 58rem

    .about__image img
        width: 73rem

    .about__image
        width: 73rem
        display: flex
        justify-content: center

    .about__image::after
        width: 73rem
        height: 100%

    //servises
    .servises
        margin-top: 4rem
        justify-content: space-between

    .servises__elem
        width: 34rem
        margin: 2rem 0

    //project
    .project
        margin: 4rem 0

    .project__header
        margin: 0 0 2rem 0

    .project__images-block
        flex-wrap: wrap

    .project__image-elem
        flex: 0 0 50%

    //portfolio
    .portfolio__text
        width: 73rem

    .portfolio__quotes
        font-size: 8.5rem
        line-height: 8rem
        margin-top: 3rem
