@mixin button    
    font-size: 1.4rem
    font-weight: 400
    width: 14rem
    height: 4rem
    color: #fff
    background: #07b569
    border: #488f94
    cursor: pointer
    &:hover
        background: #088f55

@mixin regular_text
    font-family: 'Roboto', sans-serif
    font-size: 1.8rem
    font-weight: 400

@mixin header_text
    font-family: 'Roboto', sans-serif
    font-size: 3.6rem
    font-weight: 400

@mixin gradient
    background: linear-gradient(to bottom right, #007850 0%, #025181 100%)
