
.portfolio__wrap 
    display: flex
    justify-content: center
    width: 100%
    height: 45rem
    @include gradient

.portfolio__content
    display: flex
    flex-direction: column
    align-items: center
    color: #ffffff

.portfolio__quotes
    font-size: 10rem
    line-height: 8rem
    margin-top: 7rem

.portfolio__text
    @include regular_text
    max-width: 80rem
    font-size: 1.4rem
    text-align: center