@media (min-width:1921px) and (max-width:2560px)

    .header__logo
        font-size: 13rem

    .header__nav
        margin-top: 8rem

    .header__nav__link
        font-size: 1.6rem

    .background-wrap
        height: 86.5rem

    .reservation__and__about
        width: 185rem
        height: 89.5rem
        top: -1.5rem

    .reservation
        height: 46.5rem

    .reservation__right-block img
        width: 117.5rem
        height: 46.5rem

    .about__left-block img 
        width: 67.5rem
        height: 43rem

    .reservation__left-block p,
    .about__right-block p 
        font-size: 1.8rem

    .dishes
        width: 185rem
        height: 93rem
        top: -1.5rem

    .langsta, 
    .pizza,
    .idlis,
    .burger
        width: 92.5rem

    .dishes__image
        width: 46.2rem

    .dishes__description
        font-size: 1.8rem
        padding: 2rem

    .skewers__and__menu
        height: 135rem
        margin-top: 3rem

    .menu
        height: 130rem

    .menu__header__menu
        font-size: 18rem
        margin-top: -12rem

    .menu__header
        font-size: 2.5rem

    .menu__food,
    .menu__deserts
        width: 160rem
        flex-direction: row
        flex-wrap: wrap

    .food__item,
    .deserts__item
        width: 48rem
        align-items: flex-end

    .food__item p,
    .deserts__item p 
        position: relative
      

    .food__item__wrap p,
    .desert__item__wrap p 
        font-size: 1.8rem
        &::after
            content: ''
            position: absolute
            display: block
            bottom: .2rem
            left: 19.8rem
            width: 17rem
            height: .1rem
            background: #000

    .price
        font-size: 4rem
        text-align: end

    .wrap__location
        width: 185rem
        height: 79rem

    .location_header
        font-size: 13rem
        margin: 2rem 0rem 5rem 0rem
            
    .main__location__block
        width: 180rem
        height: 65.5rem

    .wrap__adress,
    .wrap__phone
        width: 42rem



    .adress,
    .phone
        width: 42rem
        font-size: 1.8rem

    .location__image
        width: 85rem


