@media (min-width: 320px) and (max-width: 639px) {
  body {
    background-position: right;
  }
  .header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .header__logo {
    font-size: 6rem;
    margin-top: 3rem;
    margin-left: 0rem;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2rem;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button span,
  .menu__button span::before,
  .menu__button span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #b4b2b2;
    transition: 0.2s;
  }
  .menu__button span::before {
    content: "";
    top: -1rem;
  }
  .menu__button span::after {
    content: "";
    top: 1rem;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 8rem 0rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 32rem;
    height: 100%;
    opacity: 0.6;
    background-color: #fc4263;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: 0.2s;
  }
  .header__nav__link {
    display: block;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0rem 0rem 2rem 2rem;
    color: #222222;
    transition: 0.2s;
  }
  .header__nav__link:hover {
    color: #fff;
  }
  .header__nav span {
    display: none;
  }
  #menu__toggle:checked ~ .menu__button span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__button span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__button span::after {
    top: 0rem;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header__nav {
    visibility: visible;
    left: 0rem;
  }
  .first__block {
    height: 42rem;
  }
  .first__block h1 {
    font-size: 13rem;
    margin-top: 7rem;
  }
  .first__block p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .8rem;
  }
  .background-wrap {
    height: 80rem;
  }
  .reservation__and__about {
    width: 28rem;
    height: 84rem;
    display: flex;
    flex-direction: column;
  }
  .reservation,
  .about {
    height: 41rem;
    flex-direction: column;
    align-items: center;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 5rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    width: 24rem;
  }
  .reservation__left-block button {
    width: 13rem;
    padding: .7rem .5rem;
  }
  .reservation img {
    position: static;
    width: 25rem;
    height: 15rem;
    border-radius: .8rem;
  }
  .reservation__left-block,
  .about__right-block {
    width: 100%;
    padding: 2rem;
  }
  .reservation__left-block button {
    margin-bottom: 1rem;
  }
  .about {
    position: relative;
  }
  .about__right-block {
    position: absolute;
    top: -2.5rem;
  }
  .about img {
    width: 24.5rem;
    height: 15rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .8rem;
  }
  .our__spesialities {
    height: 30rem;
  }
  .our__spesialities h1 {
    width: 28rem;
    font-size: 7rem;
    line-height: 6rem;
  }
  .dishes {
    width: 30rem;
    height: 105rem;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0rem 0rem 2rem 0rem;
    justify-content: flex-start;
    overflow: auto;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 30rem;
    flex-direction: column;
    padding: 2rem;
  }
  .idlis,
  .burger {
    position: relative;
  }
  .langsta__right-block,
  .pizza__right-block,
  .idlis__left-block,
  .burger__left-block {
    display: flex;
    justify-content: center;
  }
  .idlis__left-block {
    position: absolute;
    bottom: -46rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .idlis__right-block {
    width: 85%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger__left-block {
    position: absolute;
    margin: 2rem 0rem;
    bottom: -98rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger__right-block {
    width: 85%;
    position: absolute;
    top: 52rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .langsta__left-block,
  .pizza__left-block,
  .idlis__right-block,
  .burger__right-block {
    margin-bottom: 2rem;
  }
  .dishes__image {
    width: 25rem;
    border-radius: 1rem;
  }
  .wrap__skewers__and__menu {
    height: 177rem;
  }
  .skewers__and__menu {
    margin-top: 21rem;
    height: 20rem;
  }
  .menu {
    height: 156rem;
  }
  .menu__header__menu {
    font-size: 6rem;
    margin-top: 0rem;
  }
  .menu__header {
    font-size: 1.6rem;
    margin: 0rem 0rem;
    padding: 2rem 0rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 68rem;
    justify-content: flex-start;
  }
  .food__item,
  .deserts__item {
    width: 28rem;
    flex-direction: column;
    padding: .7rem;
  }
  .food__item__wrap,
  .desert__item__wrap {
    align-items: center;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    text-align: center;
  }
  .food__item h2,
  .deserts__item h2 {
    font-size: 1.4rem;
    padding-bottom: .5rem;
  }
  .price {
    font-size: 2rem;
  }
  .price span {
    font-size: 1.2rem;
  }
  .menu__dish__image1,
  .menu__dish__image2,
  .menu__dish__image3,
  .menu__dish__image4,
  .menu__dish__image5,
  .menu__dish__image6,
  .menu__dish__image7 {
    width: 5rem;
  }
  .menu__dish__image1 {
    top: -2rem;
  }
  .menu__dish__image2 {
    top: -0.5rem;
  }
  .menu__dish__image3 {
    top: 53.5rem;
  }
  .menu__dish__image4 {
    width: 4rem;
    top: 52rem;
  }
  .menu__dish__image5 {
    bottom: -5rem;
  }
  .menu__dish__image6 {
    bottom: -3rem;
  }
  .menu__dish__image7 {
    bottom: -3rem;
  }
  .locations {
    height: 100rem;
  }
  .wrap__location {
    width: 28rem;
    height: 63rem;
    padding: 1.5rem 0rem;
  }
  .location_header {
    font-size: 7rem;
  }
  .location_header::after {
    bottom: 0rem;
  }
  .main__location__block {
    flex-direction: column;
  }
  .left__block {
    margin-bottom: 3rem;
  }
  .adress,
  .phone {
    font-size: 1.2rem;
    text-align: start;
  }
  .main__location__block {
    width: 28rem;
  }
  .location__image {
    width: 23rem;
    border-radius: .8rem;
  }
  .join {
    font-size: 1.3rem;
  }
  .location__sing__me__up {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location__sing__me__up input {
    width: 28rem;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .location__sing__me__up button {
    width: 13rem;
    font-size: 1.4rem;
    padding: .4rem 1rem;
    margin-left: 0rem;
  }
  .wrap__block {
    height: 15rem;
  }
  .social__icon {
    height: 3rem;
  }
  .social__background {
    width: 3rem;
    height: 3rem;
  }
  .social__icon__item {
    width: 3.5rem;
    height: 3.5rem;
  }
  .footer__link {
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer__link__item {
    font-size: 1.1rem;
    padding: 0rem .6rem;
  }
}
