@media (min-width:1601px) and (max-width:1920px)
    
    .reservation__left-block p,
    .about__right-block p 
        font-size: 1.5rem

    .dishes__description
        font-size: 1.4rem
        padding: 1.3rem
        
    .menu__food,
    .menu__deserts
        width: 135rem
        flex-direction: row
        flex-wrap: wrap

    .food__item,
    .deserts__item
        width: 40rem

    .food__item p,
    .deserts__item p 
        position: relative

    .food__item__wrap p,
    .desert__item__wrap p 
        font-size: 1.5rem
