@media (min-width: 320px) and (max-width: 639px) {
  body {
    background-position: right;
  }
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header__logo {
    font-size: 6rem;
    margin-top: 3rem;
    margin-left: 0rem;
  }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 0rem 0rem;
    position: relative;
  }
  .header__nav__link {
    display: none;
    font-size: 1.2rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
  .header__nav span {
    display: none;
  }
  .first__block {
    height: 42rem;
  }
  .first__block h1 {
    font-size: 13rem;
    margin-top: 7rem;
  }
  .first__block p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .8rem;
  }
  .background-wrap {
    height: 80rem;
  }
  .reservation__and__about {
    width: 28rem;
    height: 84rem;
    display: flex;
    flex-direction: column;
  }
  .reservation,
  .about {
    height: 41rem;
    flex-direction: column;
    align-items: center;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 5rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    width: 24rem;
  }
  .reservation__left-block button {
    width: 13rem;
    padding: .7rem .5rem;
  }
  .reservation img {
    position: static;
    width: 25rem;
    height: 15rem;
    border-radius: .8rem;
  }
  .reservation__left-block,
  .about__right-block {
    width: 100%;
    padding: 2rem;
  }
  .reservation__left-block button {
    margin-bottom: 1rem;
  }
  .about {
    position: relative;
  }
  .about__right-block {
    position: absolute;
    top: -2.5rem;
  }
  .about img {
    width: 24.5rem;
    height: 15rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .8rem;
  }
  .our__spesialities {
    height: 30rem;
  }
  .our__spesialities h1 {
    width: 28rem;
    font-size: 7rem;
    line-height: 6rem;
  }
  .dishes {
    width: 30rem;
    height: 105rem;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0rem 0rem 2rem 0rem;
    justify-content: flex-start;
    overflow: auto;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 30rem;
    flex-direction: column;
    padding: 2rem;
  }
  .idlis,
  .burger {
    position: relative;
  }
  .langsta__right-block,
  .pizza__right-block,
  .idlis__left-block,
  .burger__left-block {
    display: flex;
    justify-content: center;
  }
  .idlis__left-block {
    position: absolute;
    bottom: -46rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .idlis__right-block {
    width: 85%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger__left-block {
    position: absolute;
    margin: 2rem 0rem;
    bottom: -98rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger__right-block {
    width: 85%;
    position: absolute;
    top: 52rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .langsta__left-block,
  .pizza__left-block,
  .idlis__right-block,
  .burger__right-block {
    margin-bottom: 2rem;
  }
  .dishes__image {
    width: 25rem;
    border-radius: 1rem;
  }
  .wrap__skewers__and__menu {
    height: 177rem;
  }
  .skewers__and__menu {
    margin-top: 21rem;
    height: 20rem;
  }
  .menu {
    height: 156rem;
  }
  .menu__header__menu {
    font-size: 6rem;
    margin-top: 0rem;
  }
  .menu__header {
    font-size: 1.6rem;
    margin: 0rem 0rem;
    padding: 2rem 0rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 68rem;
    justify-content: flex-start;
  }
  .food__item,
  .deserts__item {
    width: 28rem;
    flex-direction: column;
    padding: .7rem;
  }
  .food__item__wrap,
  .desert__item__wrap {
    align-items: center;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    text-align: center;
  }
  .food__item h2,
  .deserts__item h2 {
    font-size: 1.4rem;
    padding-bottom: .5rem;
  }
  .price {
    font-size: 2rem;
  }
  .price span {
    font-size: 1.2rem;
  }
  .menu__dish__image1,
  .menu__dish__image2,
  .menu__dish__image3,
  .menu__dish__image4,
  .menu__dish__image5,
  .menu__dish__image6,
  .menu__dish__image7 {
    width: 5rem;
  }
  .menu__dish__image1 {
    top: -2rem;
  }
  .menu__dish__image2 {
    top: -0.5rem;
  }
  .menu__dish__image3 {
    top: 53.5rem;
  }
  .menu__dish__image4 {
    width: 4rem;
    top: 52rem;
  }
  .menu__dish__image5 {
    bottom: -5rem;
  }
  .menu__dish__image6 {
    bottom: -3rem;
  }
  .menu__dish__image7 {
    bottom: -3rem;
  }
  .wrap__location {
    width: 28rem;
  }
  .main__location__block {
    width: 28rem;
  }
  .main__location__block {
    flex-direction: column;
  }
  .location__image {
    width: 28rem;
  }
  .location__sing__me__up input {
    width: 30rem;
  }
}
