@media (min-width:1366px) and (max-width:1600px)
    
    .header__logo
        font-size: 9rem
        
    .header__nav
        margin-top: 2.5rem

    .background-wrap
        height: 63.5rem

    .reservation__and__about
        width: 130rem
        height: 66.5rem
        top: -1.5rem

    .reservation
        height: 33.5rem

    .reservation__right-block img
        width: 82.6rem
        height: 33.5rem

    .about__left-block img 
        width: 47.4rem
        height: 33rem

    .reservation__left-block p,
    .about__right-block p 
        font-size: 1.5rem

    .dishes
        width: 130rem
        height: 68rem
        top: -1.5rem

    .langsta, 
    .pizza,
    .idlis,
    .burger
        width: 65rem

    .dishes__image
        width: 32.5rem

    .dishes__description
        font-size: 1.4rem
        padding: 1.3rem
    
    .skewers__and__menu
        height: 95rem
        margin-top: 1.5rem

    .header__nav__link
        font-size: 1.5rem

    .menu__food,
    .menu__deserts
        width: 105rem
        
    .food__item,
    .deserts__item 
        width: 40rem
        align-items: flex-end

    .food__item p,
    .deserts__item p 
        position: relative

    .food__item__wrap p,
    .desert__item__wrap p 
        font-size: 1.5rem
        &::after
            content: ''
            position: absolute
            display: block
            bottom: .2rem
            left: 16.4rem
            width: 14.2rem
            height: .1rem
            background: #000

    //location
    .wrap__location
        width: 130rem
        height: 65rem
        
    .location_header
        margin: 2rem 0rem 5rem 0rem

    .main__location__block
        width: 130rem
        height: 60rem

    .wrap__adress,
    .wrap__phone
        width: 40rem

    .adress,
    .phone
        width: 40rem
        text-align: start
        margin-left: 1.5rem


    .location__image
        width: 60rem

    .join
        width: 55rem
        font-size: 3.4rem