@media (min-width: 1024px) and (max-width: 1365px) {
  .skewers__and__menu {
    height: 67rem;
  }
  .food__item p,
  .deserts__item p {
    text-align: satrt;
    position: relative;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 14.2rem;
    width: 12.2rem;
    height: .1rem;
    background: #000;
  }
}
