.our__spesialities {
  background-image: url(../image/ourSpecialities/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our__spesialities h1 {
  width: 50rem;
  font-family: 'Tangerine', cursive;
  font-size: 15rem;
  font-weight: 600;
  line-height: 13rem;
  color: #fc4263;
  text-align: center;
}

.background-wrap {
  width: 100%;
  height: 39rem;
  background: #fff;
  position: relative;
}
