.clints__wrap
    width: 100%
    background-image: url(F:/creativia/image/bg-clints.png) 
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    
.clints
    max-width: 1240px
    margin-left: auto
    margin-right: auto
    height: 700px
    
.clints__content__wrap
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    background: #000
    opacity: 0.9
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center


.clints__header
    font-family: Raleway
    font-size: 30px
    font-weight: 700
    color: #ffffff
    z-index: 5
    text-align: center
    margin-top: 85px
    margin-bottom: 30px
    & span
        color: #ff0036

.clints__text
    width: 700px
    color: #a4a4a4
    font-family: Lato
    font-size: 16px
    font-weight: 700
    line-height: 1.4
    z-index: 5
    text-align: center
    & span
        color: #ff0036

.clints__container
    width: 90%
    height: 100%
    display: flex
    justify-content: center

.clints__container__left-block
    width: 48%
    margin-top: 60px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
 
.clints__container__header
    color: #ffffff
    font-family: Raleway
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
    margin-top: 15px
    z-index: 5

.clints__container__text
    color: #a4a4a4
    width: 400px
    font-family: Lato
    font-size: 16px
    font-weight: 400
    line-height: 22px
    z-index: 5

.clints__container__image
    margin: 40px 0px 15px 0px 

.clints__container__name
    color: #ff0036
    font-family: Raleway
    font-size: 16px
    font-weight: 700
    text-transform: uppercase

.clints-left-block-clide
    display: flex

.clints-slide__square
    width: 8px
    height: 8px
    background: #e0e0e0
    margin-right: 5px
    margin-top: 25px
    &:nth-child(3)
        margin-right: 0px
    &:hover
        background: #ff0036
        
.clints__container__right-block
    width: 48%
    height: 300px
    margin-top: 60px

.clints__container__right-block__wrap
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: inherit
    justify-content: space-around

.clints__right-block__item
    width: 50%

.clints__right-block__image
    display: inline-block
    width: 85%
    height: 65%

.clints-bottom-slide
    width: 60%
    text-align: center 

.clints-bottom-slide-line
    width: 250px
    height: 1px
    background-color: #ff0036
    position: relative
    left: 50%
    bottom: 8%
    transform: translate( -50%, -50%) 
    z-index: 5

.clints-bottom-slide-hexagon
    position: absolute
    top: 50%
    left: 50%
    transform: translate( -50%, -50%)
    width: 20px
    height: 20px
    z-index: 5

.clints-bottom-slide-hexagon-image
    width: 100%
    height: 100%

