.header-wrap
    width: 100%
    background-color: #000
    height: 60px

    
.creativia 
    max-width: 1240px
    margin: 0px 50px
    background-color: #07070b
    height: 60px
    display: flex
    justify-content: space-around


.headerlogo
    flex-basis: 15%
    color: #fff
    width: 200px
    height: 100px
    z-index: 3


.header-img
    width: 220px
    height: 100px

.link
    flex-basis: 82%
    display: flex
    align-items: center
    text-transform: uppercase
    justify-content: flex-end
    z-index: 3

.nav-link
    font-size: 14px  
    color: #7b7b7c
    padding-right: 25px
    text-decoration: none
    cursor: pointer
    &:nth-child(8)
        padding-right: 0px  
    &::before
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: #ff0036
        transform: translateY(35px) scale(0)
        transition: all .2s
    &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: #ff0036
        transform: translateY(-35px) scale(0)
        transition: all .2s
    &:hover
        color: #fff
        transition: .2s
        &::after
            transform: translateY(-35px) scale(1.1)
        &::before
            transform: translateY(35px) scale(1.1)
        
    



