@media (min-width:1025px) and (max-width:1440px)

    .full-block
        width: 1440px
        overflow: hidden

    .creativia 
        max-width: 1440px
        justify-content: flex-start

    .headerlogo
        width: 220px
        flex-basis: 15%
        display: flex
        justify-content: center

    .link
        flex-basis: 82.5%
        align-items: center

    .first-text
        width: 1100px
        font-size: 18px

    .first-btn
        padding: 12px 30px

    .about-main-text
        width: 520px
        text-align: center
        font-size: 18px

    .about-header
        font-size: 35px

    .about-main-text
        font-size: 18px
        width: 1100px

    .about-text
        font-size: 16px

    .about-adaptation-item
        flex-basis: 24%

    .portfolio-header
        font-size: 33px

    .portfolio-link-item
        font-size: 15px

    .portfolio-offers-blocks
        max-width: 1440px  
        flex-wrap: no-wrap

    .portfolio-offers-blocks-money,
    .portfolio-offers-blocks-pot,
    .portfolio-offers-blocks-currency,
    .portfolio-offers-blocks-check
        width: 15%

    .portfolio-offers-blocks-bank,
    .portfolio-offers-blocks-cards,
    .portfolio-offers-blocks-purse,
    .portfolio-offers-blocks-calc
        width: 10%

    .product
        max-width: 1440px
        margin-top: 60px
        height: 750px

    .our__product
        margin-top: -265px

    .product__text
        margin-bottom: 90px

    .product__text
        font-size: 16px

    .clints
        max-width: 1440px

    .clints__container
        width: 90%
        margin-left: auto
        margin-right: auto

    .team-container
        width: 85%

    .team-item-square
        width: 232px
        height: 218px

    .team-item-hover
        width: 230px
