.facts
    height: 65rem
    display: flex
    justify-content: flex-end
    margin-bottom: 30rem

.facts__wrap
    width: 138rem
    display: flex
    flex-direction: column
    position: relative
    & h2 
        font-family: 'Playfair Display', serif
        font-size: 4.7rem
        font-weight: 500
        margin-bottom: .5rem
    & h3 
        font-family: 'Playfair Display', serif
        font-size: 2.5rem
        font-weight: 300
        font-style: italic
        padding-left: 20rem
        margin-bottom: 3rem

.facts__text__block 
    display: flex
    & .facts__text__block__item
        width: 52rem
        margin-right: 10rem
        & p 
            font-family: 'Lato', sans-serif
            font-size: 1.6rem
    & div:first-child
        width: 22rem
            

.big__L
    width: 40rem
    position: absolute
    top: 44rem
    left: 6rem


