.interested
    display: flex
    justify-content: flex-end
    height: 50rem

.interested__wrap
    width: 138rem
    & h1 
        font-family: 'Playfair Display', serif 
        font-size: 8rem
        letter-spacing: .2rem
        font-weight: 400
    & p 
        width: 63rem
        font-family: 'Lato', sans-serif
        font-size: 1.6rem
        margin-bottom: 5rem

.contact__block
    width: 50rem
    display: flex
    justify-content: space-between
    position: relative
    &::after
        content: ''
        display: block
        position: absolute
        width: 100% 
        height: .1rem
        bottom: 0
        left: 0
        background-color: #e1e1e1

.contact__Us,
.Visit__the__office
    width: 25rem
    & h3 
        font-family: 'Playfair Display', serif
        font-size: 2.8rem
        font-weight: 500
        padding-bottom: 1.5rem

    & li 
        font-family: 'Lato', sans-serif
        font-size: 1.6rem
        padding-bottom: .8rem
