@media (min-width:800px) and (max-width:1023px)

    //header
    .header__block
        justify-content: space-between

    .header__line
        width: 100%

    .menu
        justify-content: flex-end
        margin-right: 3.5rem

    //welcome
    .welcome
        height: 80rem
        flex-direction: column
        align-items: center
        margin-bottom: 6rem
        position: relative
        & p
            height: 0
            line-height: 4rem
            font-size: 2.5rem
            transform: rotate(90deg)
            margin-top: 12.5rem
            margin-left: -83.5%


    .welcome__image__and__text__wrap
        flex-direction: column
        width: 100%
        & .span__london
            width: 100%
            height: 6rem
            font-size: 12rem
            text-align: center
            font-style: normal
            line-height: 0rem
            text-align: left
            transform: rotate(0deg)
            padding-left: 3rem

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        & img 
            width: 100%

    //history
    .history
        height: 89rem
        margin: 7rem 0rem 5rem 0rem

    .history__wrap
        height: 85rem

    .the__square__mile__wrap
        padding-right: 3.5rem

    .the__square__mile
        width: 87%

    .roman__london
        padding-left: 3.5rem
        width: 37rem
        margin-top: 10rem

    .about
        font-size: 1.3rm
        margin-top: 8rem
        padding-left: 1rem

    .prehistory__of__london
        width: 37rem
        padding-left: 3.5rem
        flex-direction: column

    //transport
    .transport
        justify-content: start

    .transport__wrap
        width: 100%
        & h1
            font-size: 8rem
            margin-left: 2.5rem

    .transport__block
        flex-direction: column

    .transport__block__wrap
        height: 42.8rem
        margin-bottom: 2rem
        & img 
            width: 100%

    .transport__wrap__text
        width: 100%
        height: 42.7rem
        align-items: flex-start

    .transport__text
        padding-right: 3.5rem
        & p 
            width: 100%
            padding-left: 3.5rem

    //transports
    .transports
        height: 36rem
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 8rem
        & p 
            padding-left: 2.5rem
            width: 100%

    .transports__block
        width: 100%
        align-items: center
        & h1 
            &::after
                left: 31%
        & p 
            padding-left: 51.7rem

    .image__block
        width: 100%
        & img 
            width: 32.3%
            margin-bottom: 1.5rem
        
    //facts
    .facts
        margin-bottom: 16rem

    .facts__wrap
        align-items: flex-start
        & h2
            padding-left: 2.5rem
        & h3 
            padding-left: 4.5rem

    .facts__text__block
        height: 39.5rem
        flex-direction: column
        justify-content: space-between
        & .facts__text__block__item
            width: 100%
            margin: 0 0 1.5rem 0
            padding: 0 3.5rem 0 2.5rem 

        & div:first-child
            width: 100%
            padding: 0 3.5rem 0 2.5rem 

    .big__L
        top: 52.5rem
        left: 19.5rem

    
    //night
    .night
        height: 71rem
        margin-bottom: 5rem
        justify-content: center

    .night__block__wrap
        width: 100%
        align-items: start

    .night__vertical__text
        left: -15rem
        top: 15.7rem

    .night__in__london
        width: 95%

    .night__image__and__text__wrap
        width: 100%
        height: 48rem
        & img 
            width: 100%
            height: 48rem
  
    .night__block__text
        width: 100%
        height: 48rem
        & h1 
            font-size: 4rem
