@media (min-width:320px) and (max-width:639px)
    
    //header
    .header__line
        width: 32rem
        flex-direction: column

    .header__logo
        margin: 1.5rem 0

    .hamburger__menu
        width: 28rem
        margin-right: 0

    //welcome
    .welcome__image__and__text__wrap
        width: 32rem

    .welcome__slide
        width: 28rem
        & img
            28rem
