@media (min-width:800px) and (max-width:1023px)

    .welcome__image__and__text__wrap
        width: 80rem
        & .span__london
            font-size: 10rem

    .slider__item
        width: 78rem
        & img 
            width: 78rem