@media (min-width:1024px) and (max-width:1279px)

    //header
    .header__line
        width: 100%

    .header__logo
        margin-left: 7rem

    //welcome
    .welcome
        margin-bottom: 7rem
        & p 
            padding-right: 9.5rem

    .welcome__image__and__text__wrap
        width: 75%
        position: relative
        & .span__london
            font-size: 9.8rem
            width: 6rem
            height: 11.5rem
            position: absolute
            left: -13.5rem
            bottom: -.9rem

    .slider
        width: 100%

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        & img 
            width: 100%
            height: 40.8rem

    //history
    .history
        height: 88.5rem
        margin: 0 0 7rem 0
        
    .history__wrap
        & img 
            top: 15%

    .the__square__mile
        width: 73%
        & p 
            width: 88%

    .roman__london
        width: 47%
        padding-left: 2.5rem
        margin-top: 5rem

    .about
        padding-left: 2.5rem

    .prehistory__of__london
        flex-direction: column
        padding-left: 2.5rem
        align-items: start

    //transport
    .transport
        height: 67.8rem

    .transport__wrap
        width: 100%
        margin-bottom: 7rem
        & h1 
            font-size: 6rem
            padding-left: 2.5rem

    .transport__block__wrap
        width: 70%
        & img 
            width: 100%

    .transport__wrap__text
        width: 100%
        height: 100%

    .transport__text
        width: 30%
        padding-right: 2rem
        & p
            width: 100%
            padding-left: 2rem

    //transports 
    .transports 
        width: 100%
        height: 46rem
        flex-direction: column
        margin-bottom: 7rem
        & p 
            padding-left: 2.5rem

    .transports__block
        width: 100%
        & h1
            padding-left: 2.5rem
            &::after
                width: 48.1rem
                left: 2.7rem
        & p 
            padding-left: 40.5rem

    .image__block
        width: 100%
        & img 
            width: 33%