@media (min-width:640px) and (max-width:799px)

    //header
    .header__line
        width: 100%
        justify-content: space-between

    .header__logo
        margin-left: 2.5rem

    .menu
        width: 100%
        justify-content: flex-end
        margin-right: 0
        padding-left: 2.5rem

    .header__menu
        justify-content: flex-start
        margin-right: 0

    .header__menu__nav
        padding: 0 3rem

    //welcome
    .welcome
        height: 64rem
        flex-direction: column
        align-items: center
        margin-bottom: 6rem
        & p 
            height: 0
            line-height: 4rem
            font-size: 3rem
            transform: rotate(90deg)
            margin-top: 13.5rem
            margin-left: -52.5rem

    .welcome__image__and__text__wrap
        flex-direction: column
        width: 64rem
        & .span__london
            width: 63rem
            height: 7.5rem
            font-size: 14.5rem
            text-align: center
            font-style: normal
            line-height: 0rem
            transform: rotate(0deg)

    .slider
        width: 64rem

    .slider__item
        width: 64rem
        & img
            width: 64rem


    //history
    .history
        height: 78rem
        margin: 6rem 0 1rem 0

    .history__wrap
        width: 100%
        height: 78rem
        & img 
            width: 30rem
            height: 55rem
            top: 22%

    .the__square__mile__wrap
        padding-right: 4rem

    .the__square__mile
        width: 60rem

    .roman__london  
        width: 44%
        margin-top: 3rem
        margin-left: 2.5rem

    .about
        margin-top: 0rem
        position: absolute
        left: 1rem
        top: 41.5rem

    .prehistory__of__london
        width: 47%
        margin: 7rem 0 0 2.5rem
        flex-direction: column
        h2 
            font-size: 3.2rem
            margin-right: 7rem
            font-weight: 400
            text-align: left

    //transport
    .transport
        justify-content: start

    .transport__wrap
        width: 100%
        & h1
            font-size: 8rem
            margin-left: 2.5rem

    .transport__block
        flex-direction: column

    .transport__block__wrap
        margin-bottom: 2rem

    .transport__wrap__text
        width: 100%
        height: 42.7rem
        align-items: flex-start

    .transport__text
        & p 
            width: 59.5rem
            padding-left: 2.5rem

    //transports
    .transports
        height: 105rem
        justify-content: center
        align-items: center
        flex-direction: column
        & p 
            width: 100%

    .transports__block
        align-items: center
        & h1 
            &::after
                left: 31%
        & p 
            padding-left: 80.8rem

    .image__block
        flex-direction: column
        & img 
            margin-bottom: 1rem