@media (min-width:320px) and (max-width:639px)
    
    //header
    .header__line
        width: 32rem
        flex-direction: column
        margin-bottom: 3rem

    .header__logo
        margin: 1.5rem 0

    .hamburger__menu
        width: 30rem
        margin-right: 0

    //welcome
    .welcome
        height: 38rem
        flex-direction: column
        justify-content: space-around
        & p 
            height: 0
            line-height: 4rem
            font-size: 2rem
            transform: rotate(-90deg)
    .welcome__image__and__text__wrap
        flex-direction: column
        width: 32rem
        & .span__london
            width: 32rem
            height: 4rem
            font-size: 7rem
            text-align: center
            font-style: normal
            line-height: 0rem
            transform: rotate(0deg)

    .welcome__slide
        width: 32rem
        & img
            width: 32rem

    //history
    .history
        height: 114rem
        margin: 5rem 0

    .history__wrap
        width: 32rem
        position: static
        & img
            width: 18rem
            height: 36rem
            position: static
            float: right
        
    .the__square__mile__wrap
        width: 100%
        padding-right: 0rem

    .the__square__mile
        width: 100%
        flex-direction: column
        align-items: flex-start
        padding-left: 1rem
        & h2 
            font-size: 2.2rem
        & p 
            width: 90%

    .roman__london
        width: 100%
        padding-left: 1rem
        margin-top: 6rem
        & h3 
            font-size: 2.2rem
            font-style: italic
        & p 
            width: 90%

    .about
        width: 100%
        margin-top: 4rem
        padding-left: 1rem
    
    .prehistory__of__london
        width: 100%
        flex-direction: column
        align-items: start
        padding-left: 1rem
        & h2 
            font-size: 2.2rem
            font-style: italic
        & p 
            width: 90%

    //transport
    .transport
        height: 61rem
        margin-bottom: 5rem

    .transport__wrap
        flex-direction: column
        width: 32rem
        & h1 
            font-size: 5rem

    .transport__block
        flex-direction: column
        & img 
            width: 32rem

    .transport__wrap__text
        height: 14rem
        bottom: 33rem
        & h3 
            font-size: 2.8rem
            padding-left: .5rem
            margin-bottom: .5rem
        & p 
            width: 31rem
            font-size: 1.4rem
            line-height: 2rem
            padding-left: 4rem

    .transport__text
        & p
            width: 30rem
            padding-left: 1rem

    //transports
    .transports
        height: 108rem
        margin-top: 0rem
        margin-bottom: 5rem
        flex-direction: column
        & p 
            font-size: 2.3rem
            padding-left: 1rem

    .transports__block
        width: 32rem
        flex-direction: column
        & h1 
            letter-spacing: 0rem
            padding-left: 1rem
        & p 
            font-size: 1.3rem
            padding-left: 19rem

    .image__block
        flex-direction: column
        & img
            padding-bottom: 1rem

    //facts
    .facts
        height: 97rem
        margin-bottom: 28rem

    .facts__wrap
        width: 32rem
        flex-direction: column
        & h2 
            padding-left: 1rem
        & h3 
            width: 32rem
            margin-bottom: 2rem
            padding-left: 15rem

    .facts__text__block
        flex-direction: column
        & .facts__text__block__item
            width: 32rem
            & p 
                width: 32rem
                padding: 0rem 1rem
                margin-bottom: 3rem

    .big__L
        width: 22rem
        top: 108.5rem
        left: 4.5rem

    //night
    .night
        height: 44rem
        padding-top: 25rem
        margin-bottom: 0

    .night__block__wrap
        width: 32rem

    .night__vertical__text
        font-size: 1.8rem
        left: 18.5rem
        top: -14.5rem

    .night__in__london
        width: 32rem

    .night__image__and__text__wrap
        & img 
            width: 32rem

    .night__block__text
        left: 2rem
        bottom: 3rem
        & h1 
            font-size: 2.8rem
            margin-bottom: 1rem
        & p 
            width: 28rem
            font-size: 1.4rem
            line-height: 2rem

    //places
    .places
        height: 100rem
        margin-top: 4rem
    
    .places__wrap
        width: 32rem 
        & h1 
            font-size: 5rem
            padding-left: .5rem
        & .places__wrap__text 
            width: 32rem
            padding: 0rem 1rem
            margin-bottom: 2rem

    .places__image__block
        width: 32rem
        flex-direction: column

    .slide__img
        width: 32rem
        margin-bottom: 2rem
        & img 
            width: 32rem
            height: 22rem

    .places__text__block
        right: 0
        bottom: 2rem
        & h2 
            font-size: 2.8rem
            text-align: left
        & p 
            width: 30rem
            font-size: 1.4rem
            line-height: 2rem
                  
    .other__img__item__wrap
        margin-bottom: 2rem
        & p 
            top: .5rem
            right: -1rem

    //interested
    .interested

    .interested__wrap
        width: 32rem
        & h1 
            font-size: 5rem
            padding-left: 1rem
        & p 
            width: 32rem
            padding: 0 1rem