@media (min-width:320px) and (max-width:639px)

    //header
    .header__block
        height: 13rem
        justify-content: center
        margin-bottom: 2rem

    .header__line
        width: 100%
        flex-direction: column
        margin-bottom: 3rem

    .header__logo
        margin: 1.5rem 0 2.5rem 0

    .menu
        width: 100%
        margin: 0
        padding: 0 1rem

    .header__menu
        width: 100%


    .header__menu__nav__item
        font-size: 1.4rem

    //welcome
    .welcome
        height: 35rem
        flex-direction: column
        align-items: center
        margin-bottom: 6rem
        & p 
            height: 0
            line-height: 4rem
            font-size: 2rem
            transform: rotate(90deg)
            margin-top: 7.5rem
            margin-right: -12%
            

    .welcome__image__and__text__wrap
        width: 100%
        flex-direction: column
        align-items: center
        & .span__london
            width: 100%
            height: 4rem
            font-size: 7rem
            text-align: center
            font-style: normal
            line-height: 0rem
            transform: rotate(0deg)
            margin-right: 0
            padding-left: .9rem

    .slider
        width: 100%
        max-width: 50rem
        height: 20.1rem

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        max-width: 50rem
        height: 20.1rem
        & img
            width: 100%
            max-width: 50rem
            height: 20.1rem

    //history
    .history
        width: 100%
        height: 143rem
        justify-content: center

    .history__wrap
        height: 144rem
        width: 100%
        max-width: 41.1rem
        justify-content: space-around
        align-items: center
        padding: 0 1rem
        & img 
            position: static
            width: 32rem
            height: 56rem
            
    .the__square__mile__wrap
        width: 100%
        padding-right: 0rem
        margin-bottom: 1rem

    .the__square__mile
        width: 100%
        flex-direction: column
        align-items: flex-start
        & h2 
            width: 100%
            text-align: left
            font-size: 2.7rem
            padding-left: 1rem
            margin-bottom: .5rem
        & p 
            width: 100%

    .roman__london
        width: 100%
        margin-top: 3rem
        & h3 
            font-size: 2.7rem
            font-style: italic
            padding-left: 1rem
        & p 
            width: 100%

    .about
        width: 100%
        margin-top: 3rem
        padding-left: 1rem
    
    .prehistory__of__london
        width: 100%
        flex-direction: column
        align-items: start
        & h2 
            font-size: 2.7rem
            font-style: italic
            padding-left: 1rem
        & p 
            width: 100%

    //transport
    .transport
        height: 62rem
        margin-bottom: 5rem
        flex-direction: column
        justify-content: center
        align-items: center

    .transport__wrap
        max-width: 41.1rem
        flex-direction: column
        width: 100%
        & h1 
            font-size: 5rem
            padding-left: 2rem

    .transport__block
        width: 100%
        flex-direction: column
        align-items: center

    .transport__block__wrap
        width: 100%
        flex-direction: column
        height: 21.4rem
        & img 
            width: 100%
            height: 21.4rem

    .transport__wrap__text
        width: 100%
        height: 21.4rem
        bottom: 0
        align-items: flex-start
        & h3 
            font-size: 2.8rem
            padding-left: 1rem
            margin-bottom: .5rem
        & p 
            width: 31rem
            font-size: 1.4rem
            line-height: 2rem
            padding-left: 4rem
            padding-bottom: 2rem

    .transport__text
        max-width: 41.1rem
        padding: 0 1rem
        & p
            width: 100%
            padding-left: 0rem
            &:last-child
                font-size: 1.4rem

    //transports
    .transports
        height: 84rem
        margin-top: 0rem
        margin-bottom: 5rem
        flex-direction: column
        align-items: center
        & p 
            width: 100%
            max-width: 41.1rem
            font-size: 2.3rem
            padding-left: 2rem

    .transports__block
        width: 100%
        max-width: 41.1rem
        flex-direction: column
        align-items: center
        & h1 
            width: 100%
            letter-spacing: 0rem
            padding-left: 2rem
            &::after
                width: 27.5rem
                left: 6.5%
        & p 
            font-size: 1.3rem
            padding-left: 20rem

    .image__block
        width: 100%
        flex-direction: column
        align-items: center
        & img
            width: 100%
            max-width: 50rem
            height: 23.3rem
            padding-bottom: 1rem

    //facts
    .facts
        height: 106rem
        margin-bottom: 20rem
        justify-content: center

    .facts__wrap
        width: 100%
        max-width: 41.1rem
        flex-direction: column
        align-items: center
        padding: 0 1rem
        & h2 
            width: 100%
            padding-left: 1rem
        & h3 
            width: 100%
            margin-bottom: 2rem
            padding-left: 1rem

    .facts__text__block
        flex-direction: column
        align-items: center
        & div:first-child
            width: 100%
        & .facts__text__block__item
            width: 100%
            margin-right: 0
            & p 
                margin-bottom: 3rem

    .big__L
        width: 22rem
        top: 112rem
        left: 4.5rem

    //night
    .night
        height: 44rem
        padding-top: 25rem
        margin-bottom: 0
        justify-content: center

    .night__block__wrap
        width: 32rem

    .night__vertical__text
        font-size: 1.8rem
        left: 18.5rem
        top: -14.5rem

    .night__in__london
        width: 32rem

    .night__image__and__text__wrap
        height: 17.5rem
        & img 
            width: 32rem

    .night__block__text
        width: 32rem
        height: 17.5rem
        left: 0rem
        bottom: 0rem
        & h1 
            font-size: 2.8rem
            margin-bottom: .5rem
            padding-left: 1rem
        & p 
            width: 28rem
            font-size: 1.2rem
            line-height: 2rem
            padding-bottom: 1rem
            padding-left: 2rem

    //places
    .places
        height: 100rem
        margin-top: 4rem
        justify-content: center
    
    .places__wrap
        width: 32rem 
        & h1 
            font-size: 5rem
            padding-left: .5rem
        & .places__wrap__text 
            width: 32rem
            padding: 0rem 1rem
            margin-bottom: 2rem

    .places__image__block
        width: 32rem
        flex-direction: column

    .main__img
        width: 32rem
        margin-bottom: 2rem
        & img 
            width: 32rem
            height: 22rem

    .places__text__block
        width: 32rem
        height: 22rem
        right: 0
        bottom: .2rem
        & h2 
            font-size: 2.8rem
            text-align: left
            margin-bottom: .5rem
            padding-left: 1rem            
        & p 
            width: 30rem
            font-size: 1.2rem
            line-height: 2rem
            padding-bottom: 1rem
            padding-left: 2rem

                  
    .other__img__item__wrap
        margin-bottom: 2rem
        & img
            width: 32rem
        & p 
            top: .5rem
            right: 1rem
    
    .other__img__blackout__block
        width: 32rem
        height: 17.2rem

    //interested
    .interested
        height: 63rem
        justify-content: center
        & button 
            bottom: -10rem
            right: 5.5rem 

    .interested__wrap
        width: 32rem
        & h1 
            font-size: 5rem
            padding-left: 1rem
        & p 
            width: 32rem
            padding: 0 1rem
            margin-bottom: 3rem

    .contact__block
        width: 32rem
        padding: 0rem 1rem
        flex-direction: column

    .contact__Us,
    .visit__the__office
        width: 30rem
        & h3 
            font-size: 2rem

    .contact__Us
        margin-bottom: 1rem

    //footer
    .foter__block
        height: 3rem
        & p 
            font-size: 1rem
            padding-right: 1rem