@media (min-width:1024px) and (max-width:1279px)

    //welcome
    .welcome
        & p 
            padding-right: 0

    .welcome__image__and__text__wrap
        width: 100%
        position: relative
        & .span__london
            font-size: 10rem
            width: 6rem
            height: 11.5rem
            position: absolute
            left: 0
            bottom: -2.5rem

    .slider
        width: 87%

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        & img 
            width: 100%