@media (min-width:1921px) 

    //header
    .header__line
        width: 100%

    .header__logo
        margin-left: 2.5rem
        & img 
            width: 9rem

    .menu
        width: 97%
        margin-right: 10.2rem

    .header__menu__nav__item
        font-size: 2rem

    //welcome
    .welcome
        margin-bottom: 14rem
        & p 
            font-size: 6rem
            height: 5rem
            padding-right: 17.5rem

    .welcome__image__and__text__wrap
        width: 70%
        position: relative
        & .span__london
            font-size: 21.4rem
            width: 6rem
            height: 11.5rem
            position: absolute
            left: -22rem
            bottom: 2.5rem

    .slider
        width: 100%

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        & img 
            width: 100%
            height: 88rem

    //history
    .history
        height: 126.5rem
        margin: 0 0 7rem 0
        
    .history__wrap
        width: 70%
        & img 
            width: 60rem
            height: 110rem
            top: 15%

    .the__square__mile
        width: 90%
        & h2 
            width: 62%
            font-size: 6rem
        & p 
            width: 88%
            font-size: 2.5rem

    .roman__london
        width: 47%
        padding-left: 2.5rem
        margin-top: 24rem
        & h3 
            font-size: 6rem
        & p 
            font-size: 2.5rem

    .about
        font-size: 2.5rem
        padding-left: 2.5rem
        margin-top: 24rem

    .prehistory__of__london
        flex-direction: column
        padding-left: 2.5rem
        align-items: start
        & h2 
            font-size: 6rem 
        & p 
            font-size: 2.5rem


    //transport
    .transport
        height: 96rem
        margin-bottom: 12rem

    .transport__wrap
        width: 100%
        height: 100%
        & h1 
            font-size: 12rem
            padding-left: 2.5rem

    .transport__block
        height: 80rem

    .transport__block__wrap
        width: 75%
        & img 
            width: 100%
            height: 100%
            font-size: 10rem

    .transport__wrap__text
        width: 100%
        height: 100%
        & h3 
            font-size: 12rem
            padding-left: 4rem
        & p 
            width: 75.5rem
            font-size: 2.5rem
            padding: 0 0 6rem 10rem

    .transport__text
        width: 30%
        padding-right: 2rem
        & p
            width: 100%
            font-size: 2.5rem
            padding-left: 2rem

    //transports 
    .transports 
        width: 100%
        height: 68.5rem
        flex-direction: column
        margin-bottom: 7rem
        & p 
            font-size: 6rem
            padding-left: 2.5rem

    .transports__block
        width: 100%
        & h1
            font-size: 12rem
            padding-left: 2.5rem
            &::after
                width: 98.7rem
                left: 3rem
        & p 
            font-size: 3rem
            top: 1rem
            padding: 1rem 0 0 82.5rem

    .image__block
        width: 100%
        & img 
            width: 33%
            height: 43rem

    //facts
    .facts
        height: 104.7rem
        margin-bottom: 14rem

    .facts__wrap
        width: 100%
        padding-left: 2.5rem
        & h2 
            font-size: 12rem
        & h3 
            font-size: 6rem
            padding-left: 0

    .facts__text__block 
        width: 71.2%
        & .facts__text__block__item
            width: 37rem
            margin-right: 4rem
            & p 
                font-size: 2.5rem
        & div:first-child
            width: 22rem

    .big__L
        top: 85.5rem
        left: 13%

    //night
    .night
        margin-bottom: 9rem
        
    .night__block__wrap
        width: 100%
        height: 80rem
        & p 
            font-size: 6.1rem
            left: 6.3%
            top: 38rem

    .night__in__london
        width: 75%
        height: 52.9rem
    
    .night__image__and__text__wrap
        width: 94.5%
        height: 80rem
        display: flex
        justify-content: flex-end
        & img
            width: 100%
            height: 100%

    .night__block__text
        width: 100%
        height: 100%
        & h1 
            font-size: 12rem
            padding-left: 4rem
        & p 
            width: 91rem
            font-size: 2.5rem
            padding: 0 0 6rem 10rem
    

    //places
    .places
        margin-bottom: 10rem

    .places__wrap
        width: 100%
        & h1 
            font-size: 12rem
            padding-left: 2.5rem
        & .places__wrap__text
            width: 74%
            font-size: 2.5rem
            padding-left: 2.5rem
            margin-bottom: 2rem

    .places__image__block
        width: 100%

    .main__img
        width: 74%
        & img 
            width: 100%
            height: 100%

    .places__text__block
        width: 100%
        height: 100%
        bottom: 0
        right: 0
        & h2 
            font-size: 12rem
            padding-left: 4rem
        & p 
            width: 66rem
            font-size: 2.5rem
            padding: 0 0 6rem 10rem

    .other__img
        width: 25%
        justify-content: space-between
        & img 
            width: 100%

    .other__img__item__wrap
        margin-bottom: 0rem
        height: 32%
        & p 
            right: 2.5rem
        & img 
            height: 100% 

    .other__img__blackout__block
        width: 100%
        height: 100%
        & p 
            font-size: 4.5rem
            right: 3.5rem
            top: 3rem

    //interested
    .interested
        height: 63rem
        & button 
            left: 50%
            transform: translate(-50%, 0)
    .interested__wrap
        width: 100%
        & h1 
            font-size: 12rem
            padding-left: 2.5rem
        & p 
            width: 74%
            font-size: 2.5rem
            padding-left: 2.5rem

    .contact__block
        width: 74%
        padding-left: 2.5rem
        &::after
           width: 99% 
           left: 2rem
    
    .contact__Us,
    .visit__the__office
        width: 40rem
        & h3 
            font-size: 6rem
        & ul
            width: 100%
            & li
                font-size: 2.5rem

    //footer
    .footer__block
        & p 
            font-size: 1.4rem
            padding-right: 2.5rem
