@media (min-width:640px) and (max-width:799px)

    //header
    .header__line
        width: 100%
        justify-content: space-between

    .header__logo
        margin-left: 2.5rem

    .menu
        width: 100%
        justify-content: flex-end
        margin-right: 0
        padding-left: 2.5rem

    .header__menu
        justify-content: flex-start
        margin-right: 0

    .header__menu__nav
        padding: 0 3rem

    //welcome
    .welcome
        height: 64rem
        flex-direction: column
        align-items: center
        margin-bottom: 6rem
        & p 
            height: 0
            line-height: 4rem
            font-size: 3rem
            transform: rotate(90deg)
            margin-top: 13.5rem
            margin-left: -52.5rem

    .welcome__image__and__text__wrap
        flex-direction: column
        width: 100%
        & .span__london
            width: 63rem
            height: 7.5rem
            font-size: 14.5rem
            text-align: center
            font-style: normal
            line-height: 0rem
            transform: rotate(0deg)

    .slider

        height: 34.2rem

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        height: 34.2rem
        & img
            width: 100%
            height: 34.2rem


    //history
    .history
        height: 78rem
        margin: 6rem 0 1rem 0

    .history__wrap
        width: 100%
        height: 78rem
        & img 
            width: 30rem
            height: 55rem
            top: 22%

    .the__square__mile__wrap
        padding-right: 4rem

    .the__square__mile
        width: 60rem

    .roman__london  
        width: 44%
        margin-top: 3rem
        margin-left: 2.5rem

    .about
        margin-top: 0rem
        position: absolute
        left: 1rem
        top: 41.5rem

    .prehistory__of__london
        width: 47%
        margin: 7rem 0 0 2.5rem
        flex-direction: column
        h2 
            font-size: 3.2rem
            margin-right: 7rem
            font-weight: 400
            text-align: left

    //transport
    .transport
        justify-content: start

    .transport__wrap
        width: 100%
        & h1
            font-size: 8rem
            margin-left: 2.5rem

    .transport__block
        flex-direction: column

    .transport__block__wrap
        height: 42.8rem
        margin-bottom: 2rem

    .transport__wrap__text
        width: 100%
        height: 42.7rem
        align-items: flex-start

    .transport__text
        & p 
            width: 59.9rem
            padding-left: 2.5rem

    //transports
    .transports
        height: 152rem
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 8rem
        & p 
            padding-left: 2.5rem
            width: 100%

    .transports__block
        align-items: center
        & h1 
            &::after
                left: 31%
        & p 
            padding-left: 80.8rem

    .image__block
        flex-direction: column
        & img 
            width: 64rem
            margin-bottom: 1.5rem

    //facts
    .facts
        margin-bottom: 23rem

    .facts__wrap
        align-items: flex-start
        & h2
            padding-left: 2.5rem
        & h3 
            padding-left: 4.5rem

    .facts__text__block
        flex-direction: column
        align-items: center
        & .facts__text__block__item
            width: 60rem
            margin: 0 0 1.5rem 0
            padding-left: 2.5rem
        & div:first-child
            width: 60rem
            padding-left: 2.5rem

    .big__L
        top: 61.5rem
        left: 11.5rem

    //night
    .night
        height: 71rem
        margin-bottom: 5rem
        justify-content: center

    .night__block__wrap
        width: 64rem
        flex-direction: column
        justify-content: flex-end
        align-items: start

    .night__vertical__text
        left: 45.5rem
        top: 16.2rem

    .night__in__london
        width: 64rem

    .night__image__and__text__wrap
        & img 
            width: 64rem
  
    .night__block__text
        width: 64rem
        height: 35.2rem
        & h1 
            font-size: 4rem

    //places
    .places
        justify-content: center
        margin-bottom: 5rem

    .places__wrap
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        & h1 
            width: 100%
            font-size: 5rem
            text-align: left 
            padding-left: 2.5rem

    .places__wrap 
        & .places__wrap__text
            width: 100%
            text-align: left
            padding: 0 4rem 0 2.5rem 
            margin-bottom: 2rem

    .places__image__block
        width: 64rem
        flex-direction: column

    .places__text__block
        width: 64rem
        height: 38rem
        right: 44rem
        bottom: .2rem
        align-items: flex-start
        & h2 
            font-size: 4rem

    .main__img
        margin-bottom: 1rem
        & img 
            width: 64rem
            height: 38rem

    .other__img
        width: 64rem
        flex-direction: row
        justify-content: space-between
        & img 
            width: 20.5rem

    .other__img__blackout__block
        width: 20.5rem
        height: 11rem
        & p 
            top: 0.2rem
            right: 0.8rem

    //interested
    .interested
        height: 44rem

    .interested__wrap
        width: 100%
        justify-content: center
        & h1
            font-size: 5rem
            padding-left: 2.5rem
        & p 
            width: 100%
            letter-spacing: .04rem
            padding: 0 4rem 0 2.5rem
            margin-bottom: 3rem

    .contact__block
        padding: 0 4rem 0 2.5rem
        width: 100%
        justify-content: space-between
        flex-wrap: no-wrap
        position: relative
        & button 
            position: absolute
            right: 50%
            transform: translate(50%, 0)

    .contact__Us
        width: 32rem

    .visit__the__office
        width: 32rem
        text-align: right

    //footer
    .footer__block
        & p 
            padding-right: 3rem