.places
    display: flex
    justify-content: flex-end
    margin-bottom: 20rem

.places__wrap
    width: 138rem
    & h1 
        font-family: 'Playfair Display', serif
        font-size: 10rem
        font-weight: 400
    & .places__wrap__text
        width: 66rem
        font-family: 'Lato', sans-serif
        font-size: 1.6rem
        margin-bottom: 8rem

.places__image__block
    width: 138rem
    display: flex
    justify-content: space-between

.main__img
    width: 108rem
    position: relative
    & img 
        width: 106rem
        height: 59.8rem
    &:hover .places__text__block
        opacity: 1


.places__text__block
    width: 106rem
    height: 59.8rem
    display: flex
    justify-content: flex-end
    flex-direction: column
    align-items: end
    position: absolute
    right: 2rem
    bottom: 3rem
    opacity: 0
    background:  rgba(0, 0, 0, .6)
    transition: .6s
    & h2 
        font-family: 'Playfair Display', serif
        font-size: 4.5rem
        font-weight: 400
        color: #fff
        text-align: right
        margin-bottom: 2rem
        padding-left: 3rem
    & p 
        width: 50rem
        font-family: 'Lato', sans-serif
        font-size: 1.6rem
        color: #fff
        padding-bottom: 4rem
        padding-left: 6rem

.other__img
    width: 30rem
    display: flex
    flex-direction: column
    p 
        font-family: 'Lato', sans-serif
        font-size: 1.6rem

.other__img__item__wrap
    position: relative
    margin-bottom: 2.7rem
    & p 
        font-family: 'Playfair Display', serif
        position: absolute
        top: .5rem
        right: 4.5rem
        color: #ffffff
    & .Big__Ben
        font-family: 'Playfair Display', serif
        color: #000
    &:hover .other__img__blackout__block
        opacity: 1

.other__img__blackout__block
    position: absolute
    top: 0
    left: 0
    width: 33.5rem
    height: 18rem
    background:  rgba(0, 0, 0, .4)
    transition: .6s
    opacity: 0