.transport
    display: flex
    justify-content: flex-end
    
.transport__wrap
    width: 79%
    & h1 
        font-family: 'Playfair Display', serif
        font-size: 10rem

.transport__block
    display: flex