.welcome
    width: 100%
    display: flex
    justify-content: flex-end
    align-items: flex-end
    & p
        font-family: 'Playfair Display', serif
        font-style: italic
        font-size: 3rem
        font-style: italic
        padding-right: 1rem

.welcome__image__and__text__wrap
    width: 149rem
    display: flex
    align-items: flex-end
    justify-content: flex-end
    & .span__london
        font-family: 'Playfair Display', serif
        width: 16rem
        height: 16rem
        font-size: 14.3rem
        font-style: normal
        line-height: 19rem
        text-transform: uppercase
        transform: rotate(-90deg)

.slider__item
    width: 138rem
    & img 
        width: 138rem

       

    

