.welcome
    width: 100%
    display: flex
    justify-content: flex-end
    align-items: flex-end
    & p
        font-family: 'Playfair Display', serif
        font-style: italic
        font-size: 3rem
        font-style: italic

.welcome__image__and__text__wrap
    width: 87.3%
    display: flex
    align-items: flex-end
    & .span__london
        font-family: 'Playfair Display', serif
        width: 16rem
        height: 16rem
        font-size: 14.3rem
        font-style: normal
        text-transform: uppercase
        transform: rotate(-90deg)
    & img 
        width: 119%
       

    

