.welcome
    width: 100%
    display: flex
    justify-content: flex-end
    align-items: flex-end
    & p
        font-family: 'Playfair Display', serif
        font-style: italic
        font-size: 3rem
        font-style: italic
        padding-right: 1rem

.welcome__image__and__text__wrap
    width: 149rem
    display: flex
    align-items: flex-end
    justify-content: flex-end
    & .span__london
        font-family: 'Playfair Display', serif
        width: 16rem
        height: 16rem
        font-size: 14.3rem
        font-style: normal
        line-height: 19rem
        text-transform: uppercase
        transform: rotate(-90deg)

.slider 
    position: relative
    overflow: hidden

.slider__wrapper 
    display: flex
    transition: transform 1s ease

.slider__item 
    flex: 0 0 50%
    width: 100%

.slider__control 
    position: absolute
    top: 50%
    display: flex
    align-items: center
    justify-content: center
    width: 4rem
    color: #fff
    text-align: center
    opacity: 0.5
    height: 5rem
    transform: translateY(-50%)
    background: rgba(0, 0, 0, .5)

.slider__control:hover,
.slider__control:focus 
    color: #fff
    text-decoration: none
    outline: 0
    opacity: .9

.slider__control_left 
    left: 0
    
.slider__control_right 
    right: 0
    
.slider__control::before 
    content: ''
    display: inline-block
    width: 2rem
    height: 2rem
    background: transparent no-repeat center center
    background-size: 100% 100%
    
.slider__control_left::before 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")

.slider__control_right::before 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")

.slider__item>div 
    line-height: 25rem
    font-size: 10rem
    text-align: center

.slider__item
    width: 138rem
    & img 
        width: 138rem

       

    

