@font-face 
    font-family: 'circe-Bold'
    src: url('../fonts/Circe-Bold.ttf') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff')
    font-weight: 700 
    font-style: normal

@font-face 
    font-family: 'circe-Regular'
    src: url('../fonts/Circe-Regular_0.ttf') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff')
    font-weight: 400 
    font-style: normal

@font-face 
    font-family: 'circe-ExtraBold'
    src: url('../fonts/Circe-ExtraBold.ttf') format('woff2'), url('../fonts/Circe-ExtraBold.woff') format('woff')
    font-weight: 900 
    font-style: normal