.full_block
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    overflow: hidden
    & .wrap_image
        position: absolute
        top: -1rem
        left: -30rem
        & img         
            width: 36rem
    & .wrap_image2
        position: absolute
        bottom: 11rem
        right: -7rem
        & img 
            width: 54rem
    & .wrap_image3
        position: absolute
        left: -9rem
        bottom: -2rem
        & img 
            width: 26rem
main    
    width: 90%