.header_block
    width: 90%
    display: flex
    justify-content: space-between
    position: relative
    padding-top: 4rem
    margin-bottom: 6rem
    & h1
        @include fontSet(4rem, 'circe-ExtraBold', 900)
        color: #679c42

.healthy_Moscow
    width: 22rem
    margin-top: 1.2rem
