.about
    margin: 0 auto
    display: flex
    flex-direction: column
    position: relative
    background-color: #c2c2c233

.about__me
    width: 100%
    font-size: 5rem
    letter-spacing: .5rem
    font-family: 'Open Sans', sans-serif
    padding-top: 6rem
    margin-bottom: 5rem
    text-align: center
    position: relative
    text-shadow: 5px 5px 4px rgba(0,0,0, .2)
    &::after
        content: ''
        background-color: #000
        display: block
        position: absolute
        bottom: -1.5rem
        left: 44%
        width: 12%
        height: 0.2rem

.photo__and__text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: wrap

.photo__and__personal__wrap
    width: 97%
    display: flex

.about img
    width: 25rem
    height: 28rem
    background-color: #555
    box-shadow: 2px 1px 3px #777
    border-radius: 1rem
    box-shadow:  5px 5px 6px 1px rgba(0,0,0, .1), -5px -5px 6px 1px rgba(0,0,0, .1), -5px 5px 6px 1px rgba(0,0,0, .1), 5px -5px 6px 1px rgba(0,0,0, .1)

.about__text__peronal
    font-family: 'Open Sans', sans-serif
    width: 96%
    font-size: 2rem
    padding: 2rem 
    margin-left: 3rem
    background: rgba(0, 0, 0, .1)
    box-shadow:  5px 5px 6px 1px rgba(0,0,0, .1), -5px -5px 6px 1px rgba(0,0,0, .1), -5px 5px 6px 1px rgba(0,0,0, .1), 5px -5px 6px 1px rgba(0,0,0, .1)
    border-radius: 1rem 

.about__text__about,
.skills
    font-family: 'Open Sans', sans-serif
    width: 97%
    font-size: 2rem
    padding: 2rem 
    margin-top: 2.3rem
    background: rgba(0, 0, 0, .1)
    box-shadow:  5px 5px 6px 1px rgba(0,0,0, .1), -5px -5px 6px 1px rgba(0,0,0, .1), -5px 5px 6px 1px rgba(0,0,0, .1), 5px -5px 6px 1px rgba(0,0,0, .1)
    border-radius: 1rem

.about__text__peronal h4,
.about__text__about h4,
.skills h4 
    font-size: 3rem

.skills h4
    margin-bottom: 2rem

.skills h3 
    font-size: 2.5rem

.skills p:last-child
    margin-top: 5rem

.education
    margin-top: 2rem
