.contacts
    height: 60rem
    display: flex
    flex-direction: column
    align-items: center
    background-color: #c2c2c233

.my__contacts
    width: 100%
    font-family: 'Open Sans', sans-serif
    font-size: 5rem
    text-align: center
    padding-top: 2rem
    text-shadow: 5px 5px 4px rgba(0,0,0, .2)
    margin-bottom: 4rem
    position: relative
    &::after
        content: ''
        background-color: #000
        display: block
        position: absolute
        bottom: -1.5rem
        left: 44%
        width: 12%
        height: 0.2rem

.contacts p 
    font-family: 'Open Sans', sans-serif
    font-size: 1.8rem
    margin-bottom: 1rem

.contact__block,
.git__block
    width: 68rem
    height: 10rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.contact__phone,
.contact__mail,
.contact__github,
.contact__gitlab
    display: flex
    justify-content: center
    align-items: center
    margin: 0 2rem

.contact__github
.contact__gitlab
    display: flex
    align-items: center

.contact__phone
    img
        width: 3rem
        padding-right: .8rem

.contact__mail
    img
        width: 3rem
        padding-right: .8rem

.contact__github
    img
        width: 2.8rem
        height: 2.8rem

.contact__gitlab
    img
        width: 2.4rem
        height: 2.4rem

.contact__phone a,
.contact__mail a,
.contact__github a,
.contact__gitlab a     
    font-family: 'Open Sans', sans-serif 
    font-size: 1.8rem
    text-transform: lowercase
    color: #000
    cursor: pointer

.contact__github a, 
.contact__gitlab a 
    padding-left: .8rem

