@media (min-width:320px) and (max-width:639px)

    //header
    header  
        background-position: top

    .navigation
        width: 100%
        height: 40rem
        float: none
        background: rgba(0,0 ,0 , .1)
        justify-content: flex-start

    .navigation img 
        width: 10rem
        margin: 4rem 0rem 2rem 0rem

    .header__nav 
        justify-content: start

    .header__nav__item
        width: 100%
        height: 4rem

    .name__and__position
        width: 100%
        left: 50%
        & h1
            width: 100%
            font-size: 3rem
            line-height: 5rem
        & h2 
            width: 100%
            font-size: 1.4rem

    //about
    .about__me
        font-size: 3.8rem
        &::after
            width: 28%
            left: 36%

    .about__text__peronal
        font-size: 1.6rem

    .about__text__peronal h4,
    .about__text__about h4,
    .skills h4
        font-size: 2rem
        margin-bottom: 1rem

    .skills h3
        font-size: 1.6rem
        margin: 1rem 0rem

    .about__text__about,
    .skills
        font-size: 1.6rem
        width: 28rem

    .photo__and__personal__wrap
        width: 28rem
        flex-direction: column
        justify-content: center
        align-items: center

    .photo__and__personal__wrap img 
        margin-bottom: 3rem

    .about__text__peronal
        width: 28rem
        margin-left: 0rem

    //portfolio
    .portfolio
        padding-top: 6rem

    .my__works
        font-size: 3.8rem
        &::after
            width: 28%
            left: 36%

    .work__block
        width: 28rem
        flex-direction: column
        flex-wrap: nowrap
        
    .work__block__sites-header,
    .work__block__projects-header
        font-size: 2.5rem

    .work__item
        width: 26rem
        height: 40rem
        margin: 0rem 0rem 5rem 0rem
        justify-content: flex-start

    .work__item h3 
        font-size: 1.8rem

    .work__item p 
        font-size: 1.4rem
        margin-bottom: .6rem
    
    .work__item:nth-child(3)
        & h3 
            margin-top: 1.5rem
        & p
            margin-top: 0
    
    .work__item__background
        width: 26rem

    .work__wrap img 
        width: 26rem

    .work__item__soon
        font-family: 'Open Sans', sans-serif
        font-size: 1.4rem

    .work__button
        font-size: 1.2rem

    .work__item__empty
        display: none

    //contacts
    .my__contacts
        font-size: 3.8rem
        &::after
            width: 28%
            left: 36%

    .contacts p 
        font-size: 1.6rem
        text-align: center
        padding: 0rem 2rem
        margin-bottom: 3rem

    .contact__block,
    .git__block
        width: 87.5%
        height: 14rem
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: center

    .contact__phone,
    .contact__mail,
    .contact__mail,
    .contact__gitlab
        width: 22rem

    .contact__phone a,
    .contact__mail a,
    .contact__github a, 
    .contact__gitlab a 
        font-size: 1.4rem