@media (min-width:1366px) and (max-width:2560px)
    
    .name__and__position h2 
        font-size: 1.8rem   

    .header__nav__item__link
        font-size: 1.6rem

    .photo__and__personal__wrap
        width: 132rem

    .about__text__peronal
        width: 132rem

    .about__text__about,
    .skills
        width: 132rem