@media (min-width:640px) and (max-width:1023px)

    //header
    .header__nav__item
        width: 100%

    .navigation img
        width: 10rem
        margin:  0

    //about
    .photo__and__personal__wrap
        flex-direction: column
        justify-content: center
        align-items: center

    .about img
        margin-bottom: 3rem

    .about__text__peronal
        margin-left: 0rem
        width: 96%

    .about__text__about,
    .skills
        width: 93.5%

    //portfolio
    .portfolio
        width: 100%
        height: 225rem
        align-items: center
        justify-content: start
        margin: 0 auto

    .work__block
        width: 96%
        height: 50rem

    .work__item,
    .work__item__soon
        width: 28rem

    .work__item__empty
        display: none

    //contacts
    .contact__block,
    .git__block
        width: 87.5%

    .contact__phone,
    .contact__mail,
    .contact__mail,
    .contact__gitlab
        width: 40%

    .contacts p
        text-align: center
        width: 96% 
