main
    margin-top: 32.4rem
    
.book_a_cab
    width: 100%
    display: flex
    height: 50rem
    justify-content: space-around
    background: #f0c536
    padding-top: 12rem
    margin: 0rem 0rem 0rem 0rem 

.left__or__top__block
    width: 47%
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    & h2 
        font-size: 2.5rem
        font-weight: bold
        text-transform: uppercase
        margin-bottom: .5rem
    & h1 
        font-size: 3.5rem
        text-transform: uppercase
        margin-bottom: 1rem
        text-align: center
    & p 
        font-size: 1.5rem
        line-height: 2rem
        text-align: center
    & button
        width: 14rem
        padding: 1rem 0rem
        align-items: center
        margin: 3rem auto 0rem auto
        background: #000
        border-radius: .8rem
        font-size: 1.4rem
        color: #fff
        text-transform: uppercase
        border: none
        transition: 0.2s
        &:hover
            background: #fff
            color: #000

.right__or__bottom__block
    width: 30%
    display: flex
    flex-direction: column
    justify-content: space-between

.book__a__cab__table h2 
    background: #000
    font-size: 2.5rem
    color: #fff
    padding: 1rem 0rem 1rem 2rem
    text-transform: uppercase

.book__a__cab__table span
    color: #f0c536
    text-transform: uppercase

.table__contect
    height: 28rem
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #fff

.table__contect__item__wrap
    height: 17rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    position: relative
    & input:nth-child(4)
        position: absolute
        top: 14rem
        left: 0
        width: 90%

.table__contect__item__wrap input
    width: 40%
    font-weight: bold
    font-size: 1.4rem
    position: relative
    margin: 1rem 1rem
    padding: .5rem .5rem
    border: none
    border-bottom: solid .1rem #b3b0b0
    outline: none

.table__contect button
    width: 95%
    padding: 1rem 0rem
    align-items: center
    margin: 4rem auto 1.5rem auto
    background: #000
    border-radius: .8rem
    font-size: 1.4rem
    color: #fff
    text-transform: uppercase
    border: none
    &:hover
        background: #f0c536
        color: #000