.clients    
    background-image: url(../images/clients/clients__BG.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 44rem
    margin-top: 4rem 
    & h2 
        font-size: 2rem
        color: #ffc61a
        text-transform: uppercase
        padding: 6rem 0rem
        text-align: center
        & span
            font-size: 2.8rem
            font-weight: bolder
            color: #fff

.review__block 
    width: 99.5%
    display: flex
    justify-content: space-around
    margin: 0 auto
    & .review__block__item
        width: 40%
        height: 16rem
        display: flex
        flex-direction: column
        background: #000
        border-radius: 2.5rem
        padding: 1.5rem

.review__text
    width: 98%
    font-size: 1.4rem
    color: #fff
    padding-bottom: 2rem
    
.personal__data
    display: flex
    & img 
        width: 6rem
        margin-right: 1.2rem

.name__and__position
    display: flex
    flex-direction: column
    justify-content: center
  
 
.name
    font-size: 1.6rem
    color: #ffc61a
    text-transform: uppercase
    margin-bottom: .2rem

.position
    font-size: 1.4rem
    color: #ffffff
    text-transform: uppercase