.header__block
    display: flex
    flex-direction: column

.header__contact__wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 10rem
    & p
        font-size: 4.6rem
        font-weight: 700
        color: #fff
        margin-bottom: .6rem
    & a
        font-size: 1.8rem
        letter-spacing: .6rem
        color: #fff
    & img 
        width: 60rem
        position: absolute
        top: 32rem

.header__logo__and__menu
    display: flex
    justify-content: space-between
    align-items: baseline
    margin: 3rem 0rem 0rem 5rem
    & p 
        font-size: 1.6rem
        color: #fff
        text-transform: uppercase

.header__logo
    display: flex
    flex-direction: column

.hamburger__menu
    display: flex
    justify-content: space-between
    align-items: center

#menu__toggle
    opacity: 0


.header__menu
    margin-right: 5rem
    display: flex
    

.header__menu__nav__item
    font-size: 1.4rem
    font-weight: bold
    color: #fff
    text-transform: uppercase
    text-decoration: none
    padding: .5rem 2.2rem
    transition: all .2s
    &:hover
        background: #f0c536
        color: #060606
        border-radius: 1.2rem

