@media (min-width:1600px) and (max-width:1919px)

    //header
    .header__contact__wrap
        & img 
            top: 32rem

    //book_a_cab
    .book_a_cab
        justify-content: space-evenly
        margin: 0rem 0rem 0rem 0rem

    .left__or__top__block
        width: 45rem

    //our tariffs
    .class__block
        width: 76.5%

    //we do
    .we__do__block
        width: 76.5%
        align-items: center

    //download
    .download__block
        width: 41%

    //clients
    .review__block
        width: 80%

    //footer
    .footer__block
        padding: 0 15rem

    .footer__block__item,
    .footer__block__item__last
        width: 22%