@media (min-width:1366px) and (max-width:1599px)

    //header
    .header__menu__nav__item
        font-size: 1.5rem

    .header__contact__wrap
        & img 
            top: 32rem
    
    //book_a_cab
    .book_a_cab
        padding: 10rem 12rem 0rem 12rem
        justify-content: space-between

    .left__or__top__block
        width: 50%

    .book__a__cab__table
        width: 100%

    //our tarifs
    .class__block
        width: 86%
        justify-content: space-between

    .class__item
        width: 39rem

    .class__content
        & p 
            font-size: 1.6rem

    //we do
    .we__do__block
        width: 93.5%
        align-items: flex-end
        & .we__do__block__item
            width: 57.1rem
            & .we__do__block__item__content
                width: 82%
            & img 
                margin-right: 0rem

    .we__do__block__item__content
        & p 
            font-size: 1.4rem

    //download
    .download__block
        width: 48%
        .download__block__wrap
            & p 
                font-size: 1.5rem

    .phone__in__hand
        right: -1rem

    //clients
    .review__block 
        width: 91%
        & .review__block__item
            width: 52.7rem

    .review__text
        font-size: 1.5rem

    //we are ready
    .we__are__ready
        & h2 
            width: 49.5%

    //footer
    .footer__block
        height: 36rem
        padding: 0 5.3rem

    .footer__block__item,
    .footer__block__item__last
        width: 24%