@media (min-width:640px) and (max-width:767px)

    //header
    .header__logo__and__menu
        flex-direction: column
        align-items: center
        margin: 0rem 0rem

    .header__logo
        align-items: center
        margin: 4rem 0rem 3rem 0rem

    .hamburger__menu
        width: 100%
        justify-content: space-evenly

    .header__menu
        width: 100%
        margin: 0rem 1rem 0rem 0rem
        justify-content: space-between

    .header__menu__nav__item
        padding: .5rem 1rem
        letter-spacing: .1rem

    .header__contact__wrap
        & img 
            width: 56rem
            top: 35rem
    
    //main
    main
        margin-top: 28.1rem

    //book a cab
    .book_a_cab
        width: 100%
        height: 45rem
        justify-content: space-between
        align-items: center
        padding: 6.5rem 3rem 0rem 4rem 

    .left__or__top__block
        width: 48%
        margin-top: 0rem
        & h2 
            font-size: 2rem
        & h1
            font-size: 2.5rem
        & button 
            margin-top: 1.5rem

    .right__or__bottom__block
        width: 28rem

    .book__a__cab__table
        margin: 3.5rem 0rem 

    //our tariffs
    .our__tariffs
        width: 100%
        height: 46.5rem
        margin-top: 2rem
        & h2 
            margin-bottom: 2rem

    .class__block
        width: 95%

    .class__item
        width: 30%
        display: flex
        justify-content: center

    .class__content
        height: 34rem
        justify-content: start
        & h3 
            font-size: 1.8rem
            margin-top: 4rem
        & button
            margin: 1rem auto 0rem auto

    .triangle
        width: 4rem

    .class__car
        width: 18rem
        top: -17%

    //we do
    .we__do
        background-size: cover 
        height: 40rem
        justify-content: start
        & h2
            margin: 2.5rem 0
        & button
            margin-bottom: 3.5rem

    .we__do__block
        width: 100%
        height: 28rem
        justify-content: flex-start
    
    .we__do__block__item
        flex-basis: 30%
        width: 27rem
        & img 
            width: 5rem
            height: 5rem
            margin-right: 1rem

    //download
    .download__block
        width: 100%
        padding-left: 9rem

    .phone__in__hand
        right: -1rem

    //clients
    .clients
        height: 36rem
        & h2
            padding: 4.5rem 0
          
    .review__block 
        width: 100%
        margin: 0 auto
        & .review__block__item
            width: 42%
            height: 16rem
            justify-content: space-around
            padding: 1rem
            & .review__text
                padding-bottom: 1rem

    //we__are__ready
    .we__are__ready
        height: 13rem
        & h2 
            width: 100%
            font-size: 2rem
            text-align: center
        & h1 
            font-size: 3rem

    //footer
    .footer__block
        height: 32rem
        flex-wrap: wrap
        padding: 0 1.5rem
        & .footer__block__item
            width: 28%
            height: 26rem
            margin: 0rem 1.5rem
            & p 
                font-size: 1.3rem
        
    .footer__block__item__last 
        width: 28%
        height: 26rem
        margin: 0rem 1.5rem
        & .contacts__block
            margin-bottom: .6rem
            & .contacts__item
                & a 
                    font-size: 1.3rem

        

