@media (min-width:1920px) and (max-width:2560px)
      
    //header
    .header__logo
        & img 
            width: 18rem
        & p 
            font-size: 2.2rem

    .header__menu__nav__item 
        font-size: 1.5rem

    .header__contact__wrap
        font-size: 7.1rem
        & img
            top: 33rem


    //book_a_cab
    .book_a_cab
        justify-content: center
        margin: 0rem 0rem 0rem 0rem

    .left__or__top__block
        width: 45rem
        margin-right: 11rem

    .right__or__bottom__block
        align-items: center

    .right__or__bottom__block
        width: 52rem
        & .book__a__cab__table
            width: 52rem
            margin-left: -.5rem

    //our tariffs
    .class__block
        width: 114rem

    //we do
    .we__do
        height: 45rem

    .we__do__block
        width: 127rem
        align-items: center
        padding-left: 1rem
    .we__do__block__item
        width: 45rem
        margin-bottom: 3rem
        & img 
            margin-right: 1rem
        & .we__do__block__item__content
            & p 
                width: 38rem
                font-size: 1.4rem

    //download
    .download__block
        width: 75rem
        & .download__block__wrap
            & p 
                font-size: 1.5rem

    .phone__in__hand
        right: .5rem

    //clients
    .review__block
        width: 119rem

    //footer
    .footer__block
        padding: 0 39.5rem

    .footer__block__item,
    .footer__block__item__last
        width: 31rem