@media (min-width:320px) and (max-width:639px)

    //baseSet
    body
        width: 100%
        background-position: top
        height: 35rem

    //header
    .header__block
        align-items: center
        position: relative

    .header__logo__and__menu 
        margin: 3rem 0rem 0rem 0rem 
        & img 
            width: 13rem  

    .hamburger__menu  
        position: revative
        height: 100%
        
    .header__menu
        display: flex
        flex-direction: column
        align-items: start
        margin: 0
        padding-top: 4rem
        position: absolute
        top: 0
        left: 0
        width: 103%
        height: 211%
        opacity: 0.9
        background-color: #f0c536
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
        transition: 0.2s
        visibility: hidden

    .header__menu__nav
        padding-top: .8rem 

    .header__contact__wrap 
        margin-top: 2rem
        & p
            font-size: 2rem
        & img 
            width: 26rem
            top: 19.5rem

    .menu__button
        display: flex
        align-items: center
        position: absolute
        top: 1.5rem
        left: 1.5rem
        width: 2rem
        height: 2rem
        cursor: pointer
        z-index: 1
        transition: 0.2s
        span,
        span::before,
        span::after
            display: block
            position: absolute
            width: 100%
            height: 0.2rem
            background-color: #f0c536
            transition: 0.2s


    .menu__button span::before
        content: ""
        top: -1rem

    .menu__button span::after
        content: ""
        top: 1rem

    #menu__toggle:checked ~ .menu__button span
        transform: rotate(45deg)

    #menu__toggle:checked ~ .menu__button span::before
        top: 0
        transform: rotate(0)

    #menu__toggle:checked ~ .menu__button span::after
        top: 0rem
        transform: rotate(90deg)
    
    #menu__toggle:checked ~ .menu__button
        span::before,
        span::after
            background-color: #000

    //main
    main
        margin-top: 16.2rem

    //book a cab
    .book_a_cab
        width: 100%
        height: 80rem
        justify-content: center
        flex-direction: column
        align-items: center
        padding-top: 0rem

    .left__or__top__block
        width: 28rem
        margin-top: 6rem
        & h2 
            font-size: 2rem
        & h1
            font-size: 2.5rem
        & button 
            margin-top: 1.5rem

    .right__or__bottom__block
        width: 28rem

    .book__a__cab__table
        margin: 3.5rem 0rem 

    //our tariffs
    .our__tariffs
        width: 100%
        height: 125rem
        margin-top: 2rem
        & h2 
            margin-bottom: 2rem

    .class__block
        flex-direction: column
        align-items: center

    .class__item
        width: 28rem
        display: flex
        justify-content: center
        margin-bottom: 10rem

    //we do
    .we__do
        background-size: cover 
        height: 59rem
        justify-content: start
        & h2
            margin: 2.5rem 0
        & button
            margin-bottom: 3.5rem

    .we__do__block
        width: 28rem
        height: 40rem
        justify-content: flex-start
    
    .we__do__block__item
        width: 28rem 
        & img 
            width: 5rem
            height: 5rem

    //download
    .download
        width:  100%
        height: 52.5rem
        & h2 
            margin: 2.5rem 0rem

    .download__block
        width: 28rem
        height: 47rem
        flex-direction: column
        & .download__block__wrap
            width: 28rem
            & h3 
                font-size: 1.7rem
            & p 
                margin-bottom: 1.8rem

    .phone__in__hand
        top: 18.7rem
        right: -2rem

    .download__block__wrap__img 
        justify-content: space-around
        & img
            width: 13rem
            margin-right: 0rem

    //clients
    .clients
        height: 46rem
        & h2 
            padding: 2.5rem 0rem
    
    .review__block
        flex-direction: column
        justify-content: center
        align-items: center
        & .review__block__item
            width: 28rem
            height: 15.5rem
            padding: 1rem
            margin-bottom: 1.5rem

    .review__text
        width: 26rem
        font-size: 1.3rem
        padding: .5rem .5rem 1.5rem .5rem

    .personal__data
        & img 
            width: 5rem
            height: 5rem

    //we__are__ready
    .we__are__ready
        height: 17rem
        & h2 
            width: 100%
            font-size: 2rem
            text-align: center
        & h1 
            font-size: 3rem

    //footer
    .footer__block
        height: 82rem
        flex-direction: column
        & .footer__block__item
            width: 28rem
            margin-bottom: 1.5rem
            & p 
                font-size: 1.3rem
        
    .footer__block__item__last
        width: 28rem
        & a 
        font-size: 1.3rem
        
 



        





