@media (min-width:768px) and (max-width:1023px)
    
    //header
    .header__logo__and__menu
        flex-direction: column
        align-items: center
        margin: 0rem 0rem

    .header__logo
        align-items: center
        margin: 4rem 0rem 3rem 0rem

    .hamburger__menu
        width: 100%
        justify-content: space-evenly

    .header__menu
        width: 96%
        margin: 0rem 1rem 0rem 0rem
        justify-content: space-between

    .header__menu__nav__item
        padding: .5rem 1rem
        letter-spacing: .1rem

    .header__contact__wrap
        margin-top: 5rem
        & img 
            width: 56rem
            top: 34rem

    //book a cab
    .book_a_cab
        height: 53rem

    .left__or__top__block
        width: 50%

    .right__or__bottom__block
        width: 32%
        justify-content: flex-start

    //our tariffs
    .class__block
        width: 97%

    .we__do__block__item
        width: 48%
        & p 
            width: 95%
        & img 
            margin-right: .7rem

    .we__do button 
        margin-bottom: 7.5rem

    //download
    .download__block
        width: 72%

    //clients
    .review__block
        & .review__block__item
            width: 44%

    //we__are__ready
    .we__are__ready
        & h2 
            width: 78%

    //footer
    .footer__block__item,
    .footer__block__item__last
        width: 26%