.we__do
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background-image: url(../images/we__do/we__do__BG.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 52rem

.we__do h2 
    width: 25rem
    font-size: 2.5rem
    color: #ffc61a
    text-transform: uppercase
    white-space: normal
    text-align: center
    margin-top: 4rem
    & span
        font-size: 3rem
        color: #fff

.we__do__block
    width: 95%
    height: 22rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: space-around

.we__do__block__item
    width: 44%
    display: flex
    align-items: center
    margin-bottom: 2rem

.we__do__block__item img 
    width: 6rem
    height: 6rem
    margin-right: 2rem

.we__do__block__item__content
    display: flex
    flex-direction: column
    text-align: center
    & h3 
        font-size: 1.7rem
        text-transform: uppercase
        color: #ffc61a
        margin-bottom: .8rem
    & p 
        font-size: 1.3rem
        color: #fff


.we__do button    
    width: 14rem  
    padding: 1rem 0rem
    align-items: center
    margin-bottom: 4.5rem 
    background: #ffc61a
    border-radius: .8rem
    font-size: 1.4rem
    color: #000
    text-transform: uppercase
    border: none
    transition: .2s
    &:hover
        background: #000
        color: #ffc61a