.we__are__ready
    width: 100%
    height: 20rem
    background: #ffc61a
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0rem 2rem
    & h2 
        width: 63%
        font-size: 2.5rem
        text-align: center
        margin-bottom: 1rem
        text-transform: uppercase
    & h1 
        font-size: 5rem