@media (min-width:800px) and (max-width:1023px)

    //welcome
    .welcome
        height: 61rem
        flex-direction: column
        align-items: center
        margin-bottom: 6rem
        position: relative
        & p 
            height: 0
            line-height: 4rem
            font-size: 2rem
            transform: rotate(90deg)
            position: absolute
            left: 0 
            top: 0

    .welcome__image__and__text__wrap
        flex-direction: column
        width: 100%
        & .span__london
            width: 32rem
            height: 4rem
            font-size: 7rem
            text-align: center
            font-style: normal
            line-height: 0rem
            transform: rotate(0deg)

    .slider__wrapper
        width: 200%

    .slider__item
        width: 100%
        & img 
            width: 100%