.transports
    height: 80rem
    display: flex
    justify-content: flex-end
    align-items: start
    & p 
        font-family: 'Playfair Display', serif
        font-size: 2.6rem
        font-weight: 400
        text-align: left
    & p:first-child
        height: 1rem

.transports__block
    width: 138rem
    display: flex
    flex-direction: column
    justify-content: flex-end
    & h1 
        font-family: 'Playfair Display', serif
        font-size: 5rem
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 1.5rem
        margin-top: 1.2rem
        position: relative
        &::after
            content: ''
            position: absolute
            width: 72%
            height: .1rem
            bottom: 0
            left: 29.5%
            background-color:  #cfcece
            
    & p
        font-family: 'Lato', sans-serif
        font-size: 1.4rem
        line-height: 1.4rem
        letter-spacing: .3rem
        text-transform: uppercase
        padding-left: 29.5rem
        margin-bottom: 4rem
        
.image__block
    display: flex
    justify-content: space-between
    & img
        width: 44rem