html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

button,
button:active,
button:focus {
  outline: none;
}

.header {
  height: 45rem;
  background-image: url("../images/header/header_background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.header__top-line {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

.logo {
  z-index: 5;
}

.logo__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__list-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 3rem;
  margin: 0 1rem;
  z-index: 5;
}

.nav-bar__link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
}

.nav-bar__list-elem--active,
.nav-bar__list-elem:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #07b569;
}

.header-content {
  width: 90rem;
  text-align: center;
  margin-top: 12rem;
  z-index: 5;
}

.header-content__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 5.4rem;
  color: #ffffff;
}

.header-content__span {
  font-weight: 700;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

.about__wrap {
  max-width: 120rem;
}

.about__image {
  width: 42%;
  position: relative;
}

.about__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  font-size: 1.4rem;
  font-weight: 400;
  width: 14rem;
  height: 4rem;
  color: #fff;
  background: #07b569;
  border: #488f94;
  cursor: pointer;
}

.button:hover {
  background: #088f55;
}

.about__info {
  width: 58%;
  padding: 0 8rem;
}

.about__info-header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin: 4rem 0;
}

.about__info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.button {
  margin: 2rem 0;
}

.servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.servises__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
  margin: 1.5rem 2rem;
}

.servises__elem-icon {
  margin-bottom: 2rem;
}

.servises__elem-header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-weight: 700;
  margin-bottom: 2rem;
}

.servises__elem-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0 6rem 0;
}

.project__header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin: 0rem 88rem 3rem 0rem;
}

.project__buttom {
  margin-top: 4rem;
}

.project__images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__image-elem {
  position: relative;
}

.project__image-elem::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 39rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.portfolio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.portfolio__quotes {
  font-size: 10rem;
  line-height: 8rem;
  margin-top: 7rem;
}

.portfolio__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 80rem;
  font-size: 1.4rem;
  text-align: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.contacts__wrap {
  max-width: 120rem;
}

.contacts__header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map-block,
.inputs-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.map-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inputs-block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.map-block__header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.map-block__adress {
  width: 10rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.input-block__input,
.input-block__textarea {
  width: 32rem;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 1rem;
  border: .1rem solid #c0c0c0e0;
}

.input-block__textarea {
  height: 14rem;
}

.contacts__block-button {
  margin: 2.5rem 0 0 0;
}

.footer {
  margin-top: 8rem;
}

.footer__wrap {
  height: 45rem;
  background-image: url("../images/footer/footer_background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
  background: #07507d;
  opacity: .7;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  z-index: 5;
}

.content-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18rem;
  margin: 0 5rem;
}

.content-elem--wide {
  width: 36rem;
}

.content-elem__header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.content-elem__adress {
  width: 10rem;
  margin-bottom: 2rem;
}

.content-elem__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content-elem__contacts,
.content-elem__mail {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */