html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

button,
button:active,
button:focus {
  outline: none;
}

.header {
  height: 45rem;
  background-image: url("../images/header/header_background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.header__top-line {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

.logo {
  z-index: 5;
}

.logo__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu__toggle {
  display: none;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__list-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 3rem;
  margin: 0 1rem;
  z-index: 5;
}

.nav-bar__link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
}

.nav-bar__list-elem--active,
.nav-bar__list-elem:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #07b569;
}

.header-content {
  width: 90rem;
  text-align: center;
  margin-top: 12rem;
  z-index: 5;
}

.header-content__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 5.4rem;
  color: #ffffff;
}

.header-content__span {
  font-weight: 700;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

.about__wrap {
  max-width: 120rem;
}

.about__image {
  width: 42%;
  position: relative;
}

.about__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  font-size: 1.4rem;
  font-weight: 400;
  width: 14rem;
  height: 4rem;
  color: #fff;
  background: #07b569;
  border: #488f94;
  cursor: pointer;
}

.button:hover {
  background: #088f55;
}

.about__info {
  width: 58%;
  padding: 0 8rem;
}

.about__info-header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin: 4rem 0;
}

.about__info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.button {
  margin: 2rem 0;
}

.servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.servises__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
  margin: 1.5rem 2rem;
}

.servises__elem-icon {
  margin-bottom: 2rem;
}

.servises__elem-header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-weight: 700;
  margin-bottom: 2rem;
}

.servises__elem-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0 6rem 0;
}

.project__header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin: 0rem 88rem 3rem 0rem;
}

.project__buttom {
  margin-top: 4rem;
}

.project__images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__image-elem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  cursor: pointer;
}

.project__image-elem img {
  width: 100%;
}

.project__image-elem::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
  opacity: .7;
}

.project__image-elem:hover::after {
  opacity: 0;
}

.portfolio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#007850), to(#025181));
  background: linear-gradient(to bottom right, #007850 0%, #025181 100%);
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.portfolio__quotes {
  font-size: 10rem;
  line-height: 8rem;
  margin-top: 7rem;
}

.portfolio__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 80rem;
  font-size: 1.4rem;
  text-align: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.contacts__wrap {
  max-width: 120rem;
}

.contacts__header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map-block,
.inputs-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.map-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-block__header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.map-block__adress {
  width: 10rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.input-block__input,
.input-block__textarea {
  width: 32rem;
  font-size: 1.4rem;
  padding: 1rem;
  border: .1rem solid #c0c0c0e0;
}

.input-block__textarea {
  height: 14rem;
}

.contacts__block-button {
  margin: 2.5rem 0 0 0;
}

.footer {
  margin-top: 8rem;
}

.footer__wrap {
  height: 45rem;
  background-image: url("../images/footer/footer_background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
  background: #07507d;
  opacity: .7;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  z-index: 5;
}

.content-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18rem;
  margin: 0 5rem;
}

.content-elem--wide {
  width: 36rem;
}

.content-elem__header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.content-elem__adress {
  width: 10rem;
  margin-bottom: 2rem;
}

.content-elem__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content-elem__contacts,
.content-elem__mail {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.slider {
  width: 55rem;
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.slider__item-name,
.slider__item-position {
  font-size: .8rem;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.3;
}

.slider__control--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control--left {
  left: 0;
}

.slider__control--right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control--left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control--right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background-size: auto;
    height: 32rem;
  }
  .header::after {
    height: 32rem;
  }
  .header__top-line {
    width: 95%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 1rem;
  }
  .nav-bar {
    width: 0;
  }
  .hamburger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 100;
  }
  .menu__button span,
  .menu__button span::before,
  .menu__button span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #b4b2b2;
  }
  .menu__button span::before {
    content: "";
    top: -1rem;
  }
  .menu__button span::after {
    content: "";
    top: 1rem;
  }
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0;
    padding-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32rem;
    opacity: 0.9;
    background-color: #228f6e;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    z-index: 99;
  }
  .nav-bar__list-elem {
    width: 10rem;
    margin-bottom: 1rem;
  }
  .nav-bar__link {
    display: block;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 0;
    color: #ffffff;
  }
  .nav-bar__link:hover {
    color: #fff;
  }
  .header__nav span {
    display: none;
  }
  #menu__toggle:checked ~ .menu__button span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__button span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__button span::after {
    top: 0rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
  .about {
    margin-top: 1rem;
  }
  .about__wrap {
    width: 100%;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__text {
    width: 95%;
    font-size: 3.5rem;
  }
  .about__image img {
    width: 100%;
  }
  .about__image {
    width: 100%;
  }
  .about__image::after {
    height: 100%;
  }
  .about__info {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .about__info-text {
    text-align: center;
  }
  .servises {
    margin-top: 2rem;
  }
  .servises__elem {
    width: 100%;
    margin: 2.5rem 0 0 0;
  }
  .servises__elem-text {
    width: 95%;
  }
  .project {
    margin: 5rem 0 0 0;
  }
  .project__header {
    margin: 0 0 1rem 0;
  }
  .project__images-block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__wrap {
    height: 43rem;
  }
  .portfolio__quotes {
    font-size: 6rem;
    line-height: 6rem;
    margin-top: 2rem;
  }
  .portfolio__text {
    width: 95%;
  }
  .slider {
    display: none;
  }
  .contacts {
    margin-top: 2rem;
  }
  .contacts__wrap {
    width: 100%;
  }
  .contacts__header {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-block,
  .inputs-block {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-block {
    margin-bottom: 3rem;
  }
  .map-block__adress {
    text-align: center;
  }
  .map-block__map {
    text-align: center;
    width: 100%;
  }
  .input-block__input,
  .input-block__textarea {
    width: 95%;
    margin-bottom: 1rem;
  }
  .footer {
    margin-top: 5rem;
  }
  .footer__wrap::after {
    height: 66rem;
  }
  .footer__wrap {
    height: 66rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-elem {
    width: 95%;
    margin: 2rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-size: auto;
  }
  .header__top-line {
    width: 95%;
    margin-top: 1rem;
  }
  .header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-content__text {
    width: 73rem;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__info {
    width: 73rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .about__info-header {
    margin-right: 58rem;
  }
  .about__image img {
    width: 73rem;
  }
  .about__image {
    width: 73rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__image::after {
    width: 73rem;
    height: 100%;
  }
  .servises {
    margin-top: 4rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .servises__elem {
    width: 34rem;
    margin: 2rem 0;
  }
  .project {
    margin: 4rem 0;
  }
  .project__header {
    margin: 0 0 2rem 0;
  }
  .project__images-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project__image-elem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .portfolio__text {
    width: 73rem;
  }
  .portfolio__quotes {
    font-size: 8.5rem;
    line-height: 8rem;
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */