.hexagon 
    width: 125rem
    height: 62.5rem
    transform: rotate(120deg)
    overflow: hidden

.hexagon-inside 
    width: 100%
    height: 100%
    transform: rotate(-60deg)
    overflow: hidden
    
.hexagon-image
    width: 100%
    height: 100%
    background-image: url('../../images/teddy_bear_men/men1_1.png')
    background-position: center
    background-repeat: no-repeat
    background-size: 60%
    transform: rotate(-60deg)
    position: relative

.row 
    width: 135rem
    margin: -8% 0%
    text-align: center

.row:first-child 
    margin-top: 2.25%

.spring-summer__geometry 
    width: 130rem
    height: 65rem
    position: relative
    display: inline-block
    overflow: hidden
    margin: 0 -1.5%
    padding: 16%
    transform: rotate(0deg) skewX(0deg) scaleY(.866)

.spring-summer__geometry:before 
    display: block
    position: absolute 
    right: 6.7% 
    bottom: 0 
    left: 6.7% 
    top: 0
    transform: scaleY(2) skewX(-30deg) rotate(30deg)
    background-color: #ffffff
    background-size: cover
    content: ''










