@media (min-width:1200px) and (max-width:1919px)

    //header
    .header__top-line
        height: 14rem
        margin: 1.5rem 0 2rem 0

    .header__country-and-logo
        flex-basis: 17%
        flex-direction: column
        align-items: center
        justify-content: space-between

    .header__logo
        margin: 1rem 0 0 1.5rem

    .header__select
        margin: 0 1.5rem

    .header__main-menu
        flex-basis: 66%

    .header__singIn-and-interaction
        flex-basis: 17%
        margin-right: 1.5rem

    //hexagon
    .hexagon
        width: 65rem
        height: 32.5rem
    
    .hexagon-description
        bottom: .5rem
        left: 36%

    .hexagon-name,
    .hexagon-buy
        font-size: 1.5rem

  