html {
  font-size: 10px;
}

body {
  background-image: url(../image/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Tangerine', cursive;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full__container {
  width: 100%;
}

.header {
  width: 100%;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: 'Tangerine', cursive;
  font-size: 7rem;
  height: 100%;
  margin-top: 5rem;
  color: #fc4263;
  margin-left: 5rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 5rem 0rem 0rem;
}

.header__nav__link {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  padding-right: 4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav__link:hover {
  color: #fc4263;
  cursor: pointer;
}

.header__nav span {
  width: .3rem;
  height: .3rem;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  top: .7rem;
  left: -1.9rem;
}

.first__block {
  width: 100%;
  height: 50.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2rem;
}

.first__block h1 {
  font-family: 'Tangerine', cursive;
  font-size: 15rem;
  color: #ffffff;
  margin-top: 10rem;
}

.first__block p {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1rem;
  color: #fff;
}

.background-wrap {
  width: 100%;
  height: 44rem;
  background: #f6f4f1;
  position: relative;
}

.reservation__and__about {
  width: 94.5rem;
  height: 47.5rem;
  position: absolute;
  background: #fff;
  top: -2rem;
  left: 4rem;
  border-radius: .8rem;
  background: #000;
  -webkit-box-shadow: 2px 2px 5px #000, 0px 0px 5px #000;
          box-shadow: 2px 2px 5px #000, 0px 0px 5px #000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 23.5rem;
}

.reservation__left-block {
  width: 36.5%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation__left-block h2 {
  font-size: 7rem;
  color: #fc4263;
}

.reservation__left-block p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #8a8a8a;
  margin-bottom: 2rem;
}

.reservation__left-block button {
  width: 15rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1rem;
  border: 1px solid #fff;
  border-radius: 7px;
  background: #000;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.reservation__left-block button:hover {
  color: #fc4263;
  border: 1px solid #fc4263;
  cursor: pointer;
}

.reservation img {
  width: 60rem;
  height: 23.5rem;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0rem .8rem 0rem 0rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24rem;
}

.about img {
  width: 34.5rem;
  height: 24rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0rem 0rem 0rem .8rem;
}

.about__right-block {
  width: 63.5%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about__right-block h2 {
  font-size: 7rem;
  color: #fc4263;
}

.about__right-block p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #8a8a8a;
}

.our__spesialities {
  background-image: url(../image/ourSpecialities/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__spesialities h1 {
  width: 50rem;
  font-family: 'Tangerine', cursive;
  font-size: 15rem;
  font-weight: 600;
  line-height: 13rem;
  color: #fc4263;
  text-align: center;
}

.background-wrap {
  width: 100%;
  height: 39rem;
  background: #f6f4f1;
  position: relative;
}

.background-wrap {
  width: 100%;
  height: 44rem;
  background: #f6f4f1;
  position: relative;
}

.dishes {
  width: 94rem;
  height: 50rem;
  position: absolute;
  top: -4rem;
  left: 4rem;
  border-radius: .8rem;
  background: #000;
  -webkit-box-shadow: 2px 2px 5px #000, 0px 0px 5px #000;
          box-shadow: 2px 2px 5px #000, 0px 0px 5px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.langsta,
.pizza,
.idlis,
.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47rem;
}

.langsta__left-block,
.pizza__left-block,
.idlis__right-block,
.burger__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.dishes__heder {
  font-family: 'Tangerine', cursive;
  color: #fc4263;
  font-size: 2.4rem;
}

.dishes__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #a3a3a3;
  padding: 2rem;
}

.dishes__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #fc4263;
}

.dishes__image {
  width: 23.5rem;
  height: 100%;
}

.skewers__and__menu {
  max-width: 100%;
  height: 80rem;
  background-image: url(../image/skewersAndMenu/skewers.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeatposr;
  margin-top: 2.5rem;
}

.menu {
  max-width: 100%;
  height: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.menu__header__menu {
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 10rem;
  color: #000;
  position: relative;
  margin-top: -14rem;
  text-align: center;
}

.menu__header__menu::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  height: 0.2rem;
  width: 60%;
  background: #fc4263;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin: 3.5rem 0rem;
  color: #fc4263;
}

.menu__food,
.menu__deserts {
  width: 94rem;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.food__item,
.deserts__item {
  width: 40rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 2rem;
}

.food__item__wrap,
.desert__item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.food__item h2,
.deserts__item h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0rem;
  padding-bottom: 1rem;
  text-align: left;
}

.food__span {
  font-size: 1rem;
}

.food__item p,
.deserts__item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: left;
  padding-right: .5rem;
}

.food__item span,
.deserts__item span {
  width: 12rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #fc4263;
  margin-top: 2.5rem;
  text-align: right;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fc4263;
}

.price span {
  font-size: 2rem;
}

.menu__dish__image1 {
  position: absolute;
  width: 22rem;
  top: -10rem;
  left: 0rem;
}

.menu__dish__image2 {
  position: absolute;
  width: 22rem;
  top: 1rem;
  right: 0;
  z-index: -1;
}

.menu__dish__image3 {
  position: absolute;
  width: 10rem;
  top: 49.5rem;
  left: 0;
}

.menu__dish__image4 {
  position: absolute;
  width: 11rem;
  top: 54rem;
  right: 0;
}

.menu__dish__image5 {
  position: absolute;
  width: 20rem;
  bottom: -20rem;
  left: 0;
  z-index: -1;
}

.menu__dish__image6 {
  position: absolute;
  width: 25rem;
  bottom: -12rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.menu__dish__image7 {
  position: absolute;
  width: 23rem;
  bottom: -13rem;
  right: 0rem;
  z-index: -1;
}

.locations {
  width: 100%;
  height: 142rem;
  background-image: url(../image/locations/locations_BG.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__location {
  width: 94rem;
  height: 51rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0rem 10rem 0rem;
}

.main__location__block {
  width: 94rem;
  height: 41.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location_header {
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Tangerine', cursive;
  color: #000000;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.location_header::after {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  display: block;
  background: #fc4263;
  height: 0.2rem;
  width: 40%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.left__block,
.rigth__block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 3;
  padding: 1rem;
}

.wrap__adress,
.wrap__phone {
  width: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon__adress,
.icon__phone {
  width: 1.7rem;
  height: 2.2rem;
}

.adress,
.phone {
  width: 20rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #878787;
  margin-bottom: 1rem;
}

.location__image {
  width: 45rem;
  margin-top: 2rem;
}

.join {
  width: 50rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;
}

.location__sing__me__up input {
  font-size: 1.8rem;
  width: 50rem;
  padding: 2rem;
  background-color: #707071;
  opacity: 0.9;
  outline: 0;
  border: 0;
  border-radius: .6rem;
}

.location__sing__me__up button {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1.8rem 5rem;
  margin-left: 2.5rem;
  background-color: #fc4263;
  outline: none;
  border: 0;
  border-radius: .6rem;
}

.location__sing__me__up button:hover {
  background-color: #bd344d;
  color: #fff;
  cursor: pointer;
}

.wrap__block {
  width: 100%;
  height: 25rem;
  background-color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.social__background {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 50%;
}

.social__background:hover {
  background: #fd6680;
  cursor: pointer;
}

.social__icon__item {
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  top: -0.4rem;
  left: -0.4rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link__item {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0rem 2rem;
}

.footer__link__item:hover {
  color: #fc4263;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 639px) {
  body {
    background-position: right;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header__logo {
    font-size: 6rem;
    margin-top: 3rem;
    margin-left: 0rem;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0rem 0rem 0rem;
    position: relative;
  }
  .header__nav__link {
    display: none;
    font-size: 1.2rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
  .header__nav span {
    display: none;
  }
  .first__block {
    height: 42rem;
  }
  .first__block h1 {
    font-size: 13rem;
    margin-top: 7rem;
  }
  .first__block p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .8rem;
  }
  .background-wrap {
    height: 80rem;
  }
  .reservation__and__about {
    width: 28rem;
    height: 84rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservation,
  .about {
    height: 41rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 5rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    width: 24rem;
  }
  .reservation__left-block button {
    width: 13rem;
    padding: .7rem .5rem;
  }
  .reservation img {
    position: static;
    width: 25rem;
    height: 15rem;
    border-radius: .8rem;
  }
  .reservation__left-block,
  .about__right-block {
    width: 100%;
    padding: 2rem;
  }
  .reservation__left-block button {
    margin-bottom: 1rem;
  }
  .about {
    position: relative;
  }
  .about__right-block {
    position: absolute;
    top: -2.5rem;
  }
  .about img {
    width: 24.5rem;
    height: 15rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: .8rem;
  }
  .our__spesialities {
    height: 30rem;
  }
  .our__spesialities h1 {
    width: 28rem;
    font-size: 7rem;
    line-height: 6rem;
  }
  .dishes {
    width: 30rem;
    height: 105rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0rem 0rem 2rem 0rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .idlis,
  .burger {
    position: relative;
  }
  .langsta__right-block,
  .pizza__right-block,
  .idlis__left-block,
  .burger__left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .idlis__left-block {
    position: absolute;
    bottom: -46rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .idlis__right-block {
    width: 85%;
    position: absolute;
    top: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .burger__left-block {
    position: absolute;
    margin: 2rem 0rem;
    bottom: -98rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .burger__right-block {
    width: 85%;
    position: absolute;
    top: 52rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .langsta__left-block,
  .pizza__left-block,
  .idlis__right-block,
  .burger__right-block {
    margin-bottom: 2rem;
  }
  .dishes__image {
    width: 25rem;
    border-radius: 1rem;
  }
  .wrap__skewers__and__menu {
    height: 177rem;
  }
  .skewers__and__menu {
    margin-top: 21rem;
    height: 20rem;
  }
  .menu {
    height: 156rem;
  }
  .menu__header__menu {
    font-size: 6rem;
    margin-top: 0rem;
  }
  .menu__header {
    font-size: 1.6rem;
    margin: 0rem 0rem;
    padding: 2rem 0rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 68rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .food__item,
  .deserts__item {
    width: 28rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .7rem;
  }
  .food__item__wrap,
  .desert__item__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    text-align: center;
  }
  .food__item h2,
  .deserts__item h2 {
    font-size: 1.4rem;
    padding-bottom: .5rem;
  }
  .price {
    font-size: 2rem;
  }
  .price span {
    font-size: 1.2rem;
  }
  .menu__dish__image1,
  .menu__dish__image2,
  .menu__dish__image3,
  .menu__dish__image4,
  .menu__dish__image5,
  .menu__dish__image6,
  .menu__dish__image7 {
    width: 5rem;
  }
  .menu__dish__image1 {
    top: -2rem;
  }
  .menu__dish__image2 {
    top: -0.5rem;
  }
  .menu__dish__image3 {
    top: 53.5rem;
  }
  .menu__dish__image4 {
    width: 4rem;
    top: 52rem;
  }
  .menu__dish__image5 {
    bottom: -5rem;
  }
  .menu__dish__image6 {
    bottom: -3rem;
  }
  .menu__dish__image7 {
    bottom: -3rem;
  }
  .wrap__location {
    width: 28rem;
  }
  .main__location__block {
    width: 28rem;
  }
  .main__location__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location__image {
    width: 28rem;
  }
  .location__sing__me__up input {
    width: 30rem;
  }
}

@media (min-width: 640px) and (max-width: 640px) {
  body {
    background-size: 100%;
    background-position: top;
    height: 60rem;
  }
  .header {
    height: 8.3rem;
  }
  .header__logo {
    font-size: 4rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -.2rem .5rem 0rem .5rem;
  }
  .header__nav__link {
    font-size: 1.2rem;
  }
  .first__block {
    width: 100%;
    height: 29rem;
  }
  .first__block h1 {
    font-size: 10rem;
    margin-top: 2.5rem;
  }
  .first__block p {
    font-size: 2.7rem;
    margin-top: 1rem;
  }
  .background-wrap {
    width: 100%;
    height: 32rem;
  }
  .reservation__and__about {
    width: 58.4rem;
    height: 38.5rem;
    left: 2.8rem;
    position: relative;
    top: -3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .reservation,
  .about {
    height: 19.5rem;
  }
  .reservation__left-block {
    padding: 0.3rem 1.2rem 1.8rem 1.2rem;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 4rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.4rem;
    margin-bottom: 0rem;
  }
  .reservation__left-block button {
    width: 11rem;
    font-size: 1rem;
    padding: .6rem .5rem;
  }
  .reservation__right-block img {
    width: 37rem;
    height: 19.5rem;
  }
  .about__right-block {
    padding: .5rem 1.2rem 1.8rem 1.2rem;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .about__left-block img {
    width: 21.5rem;
    height: 20rem;
  }
  .our__spesialities {
    height: 40rem;
  }
  .our__spesialities h1 {
    font-size: 10rem;
  }
  .background-wrap {
    height: 34rem;
  }
  .dishes {
    width: 59rem;
    height: 99rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #272727;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 57rem;
    height: 23rem;
    background: #000;
    border-radius: 1.5rem;
    margin: .2rem 0rem;
  }
  .pizza__left-block {
    position: relative;
    right: -23rem;
  }
  .idlis__right-block {
    position: relative;
    right: 24rem;
  }
  .pizza__right-block {
    position: relative;
    top: 0rem;
    left: -33.5rem;
  }
  .idlis__left-block {
    position: relative;
    top: 0rem;
    left: 33.5rem;
  }
  .dishes__description {
    color: #fff;
  }
  .dishes__image {
    height: 100%;
    border-radius: 1.5rem;
  }
  .skewers__and__menu {
    width: 100%;
    margin-top: 61rem;
    height: 41rem;
  }
  .menu {
    width: 100%;
    margin-top: 32rem;
  }
  .menu__header__menu {
    margin-top: -29rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 67rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .food__item,
  .deserts__item {
    width: 40rem;
    height: 6rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .food__item p,
  .deserts__item p {
    text-align: start;
    position: relative;
  }
  .food__item__wrap,
  .desert__item__wrap {
    padding-right: 2rem;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    font-size: 1.4rem;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 15.4rem;
    width: 13.2rem;
    height: .1rem;
    background: #000;
  }
  .menu__dish__image1 {
    width: 17rem;
    top: -38rem;
  }
  .menu__dish__image2 {
    width: 15rem;
    top: -33rem;
  }
  .menu__dish__image3 {
    width: 9rem;
    top: 42rem;
  }
  .menu__dish__image4 {
    width: 9rem;
    top: 45rem;
  }
  .menu__dish__image5 {
    width: 18rem;
    bottom: -27rem;
  }
  .menu__dish__image6 {
    width: 16rem;
    bottom: -20rem;
  }
  .menu__dish__image7 {
    width: 16rem;
    bottom: -22rem;
  }
  .locations {
    width: 100%;
    margin-top: 16rem;
    height: 140rem;
  }
  .wrap__location {
    width: 54rem;
    height: 92.5rem;
  }
  .main__location__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left__block {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }
  .join {
    font-size: 2.5rem;
  }
  .location__sing__me__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__sing__me__up input {
    font-size: 1.4rem;
    width: 50rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .location__sing__me__up button {
    width: 13rem;
    font-size: 1.4rem;
    margin-left: 0rem;
    padding: 1rem 2rem;
  }
  .wrap__block {
    padding: 5rem 0rem;
    height: 18rem;
  }
  .social__background {
    width: 3.5rem;
    height: 3.5rem;
  }
  .social__icon__item {
    width: 4rem;
    height: 4rem;
  }
  .footer__link__item {
    font-size: 1.2rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .header {
    height: 8.3rem;
  }
  .header__logo {
    font-size: 5rem;
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 77%;
        flex-basis: 77%;
    margin: 1.2rem 0rem 0rem 0rem;
  }
  .first__block {
    width: 100%;
    height: 29rem;
  }
  .first__block h1 {
    font-size: 12rem;
    margin-top: 2.5rem;
  }
  .first__block p {
    font-size: 2.7rem;
    margin-top: 1rem;
  }
  .background-wrap {
    width: 100%;
    height: 32rem;
  }
  .reservation__and__about {
    width: 58rem;
    height: 38rem;
    left: 2.8rem;
    position: relative;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .reservation,
  .about {
    height: 19.5rem;
  }
  .reservation img {
    width: 63%;
    height: 19.5rem;
  }
  .about img {
    width: 37%;
    height: 19rem;
  }
  .background-wrap {
    height: 36rem;
  }
  .reservation__left-block {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    padding: 0.8rem 1.2rem 1.8rem 1.2rem;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 4rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.4rem;
    margin-bottom: 0rem;
  }
  .reservation__left-block button {
    width: 11rem;
    font-size: 1rem;
    padding: .6rem .5rem;
  }
  .about__right-block {
    padding: .5rem 1.2rem 1.8rem 1.2rem;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .our__spesialities {
    height: 40rem;
  }
  .our__spesialities h1 {
    font-size: 10rem;
  }
  .background-wrap {
    height: 34rem;
  }
  .dishes {
    height: 98.5rem;
    width: 58rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #272727;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 55rem;
    height: 23rem;
    background: #000;
    border-radius: 1.5rem;
    margin: .2rem 0rem;
    position: relative;
  }
  .dishes__description {
    height: 14rem;
  }
  .pizza__left-block {
    max-width: 57%;
    position: relative;
    right: -23.5rem;
  }
  .pizza__right-block {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pizza__right-block img {
    height: 23rem;
  }
  .idlis__left-block {
    position: absolute;
    height: 23rem;
    top: 0;
    right: 0;
  }
  .idlis__right-block {
    max-width: 57%;
  }
  .dishes__description {
    color: #fff;
  }
  .dishes__image {
    height: 100%;
    border-radius: 1.5rem;
  }
  .skewers__and__menu {
    width: 100%;
    margin-top: 61rem;
    height: 41rem;
  }
  .menu {
    width: 100%;
    margin-top: 32rem;
  }
  .menu__header__menu {
    margin-top: -29rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 67rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .food__item,
  .deserts__item {
    width: 40rem;
    height: 6rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .food__item p,
  .deserts__item p {
    font-size: 1.5rem;
    text-align: satrt;
    position: relative;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 16.4rem;
    width: 14.2rem;
    height: .1rem;
    background: #000;
  }
  .menu__dish__image1 {
    width: 17rem;
    top: -38rem;
  }
  .menu__dish__image2 {
    width: 15rem;
    top: -33rem;
  }
  .menu__dish__image3 {
    width: 10rem;
    top: 42rem;
  }
  .menu__dish__image4 {
    width: 9rem;
    top: 45rem;
  }
  .menu__dish__image5 {
    width: 18rem;
    bottom: -27rem;
  }
  .menu__dish__image6 {
    width: 16rem;
    bottom: -20rem;
  }
  .menu__dish__image7 {
    width: 16rem;
    bottom: -22rem;
  }
  .locations {
    width: 100%;
    margin-top: 16rem;
    height: 140rem;
  }
  .wrap__location {
    width: 54rem;
    height: 92.5rem;
  }
  .main__location__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left__block {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }
  .join {
    font-size: 2.5rem;
  }
  .location__sing__me__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__sing__me__up input {
    font-size: 1.4rem;
    width: 50rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .location__sing__me__up button {
    width: 13rem;
    font-size: 1.4rem;
    margin-left: 0rem;
    padding: 1rem 2rem;
  }
  .wrap__block {
    padding: 5rem 0rem;
    height: 18rem;
  }
  .social__background {
    width: 3.5rem;
    height: 3.5rem;
  }
  .social__icon__item {
    width: 4rem;
    height: 4rem;
  }
  .footer__link__item {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .header {
    height: 8.3rem;
  }
  .header__logo {
    font-size: 5rem;
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 77%;
        flex-basis: 77%;
    margin: 1.2rem 0rem 0rem 0rem;
  }
  .first__block {
    width: 100%;
    height: 29rem;
  }
  .first__block h1 {
    font-size: 12rem;
    margin-top: 2.5rem;
  }
  .first__block p {
    font-size: 2.7rem;
    margin-top: 1rem;
  }
  .background-wrap {
    width: 100%;
    height: 32rem;
  }
  .reservation__and__about {
    width: 69rem;
    height: 38rem;
    left: 2.8rem;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.5rem;
  }
  .reservation,
  .about {
    height: 19.5rem;
  }
  .reservation img {
    width: 63%;
    height: 19.5rem;
  }
  .about img {
    width: 37%;
    height: 19rem;
  }
  .background-wrap {
    height: 36rem;
  }
  .reservation__left-block {
    padding: 1.8rem;
  }
  .reservation__left-block h2,
  .about__right-block h2 {
    font-size: 4rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .reservation__left-block button {
    width: 11rem;
    font-size: 1rem;
    padding: .6rem .5rem;
  }
  .about__right-block {
    padding: 1.8rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .our__spesialities {
    height: 40rem;
  }
  .our__spesialities h1 {
    font-size: 10rem;
  }
  .background-wrap {
    height: 34rem;
  }
  .dishes {
    height: 98.5rem;
    width: 69rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #272727;
  }
  .langsta,
  .pizza,
  .idlis,
  .burger {
    width: 65rem;
    height: 23rem;
    background: #000;
    border-radius: 1.5rem;
    margin: .2rem 0rem;
    position: relative;
  }
  .pizza__left-block {
    position: relative;
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
    right: -23.5rem;
  }
  .idlis__right-block {
    position: relative;
    right: 24rem;
  }
  .pizza__right-block {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pizza__right-block img {
    height: 23rem;
  }
  .idlis__left-block {
    position: absolute;
    height: 23rem;
    top: 0;
    right: 0;
  }
  .idlis__right-block {
    position: relative;
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
    right: 0;
  }
  .dishes__description {
    color: #fff;
    font-size: 1.4rem;
    padding: 2rem;
  }
  .dishes__image {
    height: 100%;
    border-radius: 1.5rem;
  }
  .skewers__and__menu {
    width: 100%;
    margin-top: 61rem;
    height: 48rem;
  }
  .menu {
    width: 100%;
    margin-top: 32rem;
  }
  .menu__header__menu {
    margin-top: -29rem;
  }
  .menu__food,
  .menu__deserts {
    width: 100%;
    height: 67rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .food__item,
  .deserts__item {
    width: 48rem;
    height: 6rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .food__item p,
  .deserts__item p {
    text-align: start;
    position: relative;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    font-size: 1.5rem;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 7.8rem;
    width: 31.4rem;
    height: .1rem;
    background: #000;
  }
  .menu__dish__image1 {
    width: 17rem;
    top: -38rem;
  }
  .menu__dish__image2 {
    width: 15rem;
    top: -33rem;
  }
  .menu__dish__image3 {
    width: 10rem;
    top: 42rem;
  }
  .menu__dish__image4 {
    width: 9rem;
    top: 45rem;
  }
  .menu__dish__image5 {
    width: 18rem;
    bottom: -27rem;
  }
  .menu__dish__image6 {
    width: 16rem;
    bottom: -20rem;
  }
  .menu__dish__image7 {
    width: 16rem;
    bottom: -22rem;
  }
  .locations {
    width: 100%;
    margin-top: 16rem;
    height: 140rem;
  }
  .wrap__location {
    width: 54rem;
    height: 92.5rem;
  }
  .main__location__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left__block {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }
  .join {
    font-size: 2.9rem;
  }
  .location__sing__me__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__sing__me__up input {
    font-size: 1.4rem;
    width: 50rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .location__sing__me__up button {
    width: 13rem;
    font-size: 1.5rem;
    margin-left: 0rem;
    padding: 1rem 2rem;
  }
  .wrap__block {
    padding: 5rem 0rem;
    height: 18rem;
  }
  .social__background {
    width: 3.5rem;
    height: 3.5rem;
  }
  .social__icon__item {
    width: 4rem;
    height: 4rem;
  }
  .footer__link__item {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .header__nav__link {
    font-size: 1.5rem;
  }
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.5rem;
  }
  .dishes__description {
    font-size: 1.4rem;
    padding: 1.3rem;
  }
  .skewers__and__menu {
    height: 67rem;
  }
  .menu__food,
  .menu__deserts {
    width: 88rem;
  }
  .food__item,
  .deserts__item {
    width: 40rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .food__item p,
  .deserts__item p {
    position: relative;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    font-size: 1.5rem;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 16.5rem;
    width: 14.3rem;
    height: .1rem;
    background: #000;
  }
  .menu__dish__image4 {
    width: 10rem;
  }
  .join {
    width: 50rem;
    font-size: 3rem;
  }
  .location__sing__me__up button {
    font-size: 1.6rem;
  }
}

@media (min-width: 1366px) and (max-width: 1600px) {
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.5rem;
  }
  .dishes__description {
    font-size: 1.4rem;
    padding: 1.3rem;
  }
  .skewers__and__menu {
    height: 95rem;
  }
  .header__nav__link {
    font-size: 1.5rem;
  }
  .menu__food,
  .menu__deserts {
    width: 105rem;
  }
  .food__item,
  .deserts__item {
    width: 40rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .food__item p,
  .deserts__item p {
    position: relative;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    font-size: 1.5rem;
  }
  .food__item__wrap p::after,
  .desert__item__wrap p::after {
    content: '';
    position: absolute;
    display: block;
    bottom: .2rem;
    left: 16.4rem;
    width: 14.2rem;
    height: .1rem;
    background: #000;
  }
  .join {
    width: 55rem;
    font-size: 3.4rem;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .reservation__left-block p,
  .about__right-block p {
    font-size: 1.5rem;
  }
  .dishes__description {
    font-size: 1.4rem;
    padding: 1.3rem;
  }
  .menu__food,
  .menu__deserts {
    width: 135rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .food__item,
  .deserts__item {
    width: 40rem;
  }
  .food__item p,
  .deserts__item p {
    position: relative;
  }
  .food__item__wrap p,
  .desert__item__wrap p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */