@font-face 
    font-family: "CenturyGothic"
    src: url("../../fonts/CenturyGothic.eot"),
    url("../../fonts/CenturyGothic.woff") format("woff"), 
    url("../../fonts/CenturyGothic.ttf") format("truetype")
    font-style: 400
    font-weight: normal

@font-face 
    font-family: "CenturyGothic-Bold" 
    src: url("../../fonts/CenturyGothic-Bold.eot"),
    url("../../fonts/CenturyGothic-Bold.woff") format("woff"), 
    url("../../fonts/CenturyGothic-Bold.ttf") format("truetype")
    font-style: bold
    font-weight: 700

@font-face 
    font-family: "AktivGrotesk-Bold" 
    src: url("../../fonts/AktivGrotesk-Bold.eot"),
    url("../../fonts/AktivGrotesk-Bold.woff") format("woff"), 
    url("../../fonts/AktivGrotesk-Bold.ttf") format("truetype")
    font-style: bold
    font-weight: 700

@font-face 
    font-family: "MyriadPro-Regular" 
    src: url("../../fonts/MyriadPro-Regular.eot"),
    url("../../fonts/MyriadPro-Regular.woff") format("woff"), 
    url("../../fonts/MyriadPro-Regular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

