@media (min-width:768px) and (max-width:1199px)

    //header
    .header__free-shopping
        margin-top: 5rem
    
    .header__top-line
        height: 17rem
        position: relative
        padding-top: 9rem

    .header__country-and-logo
        flex-basis: 50%
        align-items: center

    .header__select
        height: 3rem

    .header__logo
        margin: 1rem 0 0 1rem

    .header__main-menu
        width: 100%
        flex-basis: 100%
        position: absolute
        top: 0
        right: 0

    .header__nav-bar
        margin-top: 1rem

    .header__singIn-and-interaction
        flex-direction: row
        align-items: center

    .header__singIn
        height: 3rem

    //hexagon
    .hexagon 
        width: 62.5rem
        height: 31.25rem
        position: static
        width: 38rem
        height: 19rem
        margin: 4rem 0

    .hexagon-description
        bottom: -2rem
        left: 26%
    
    .hexagon-name
        font-size: 1.6rem

    .hexagon-buy
        font-size: 1.6rem

    //men and woman   
    .men__collection,
    .woman__collection,
    #woman__mein-image,
    #men__mein-image
        width: 100%
    
    .men__main-image-block,
    .woman__main-image-block
        width: 100%
        display: flex
        flex-wrap: wrap
        flex-direction: row
        align-items: center
        justify-content: center

    .men__mein-image,
    .woman__mein-image
        width: 100%

    .spring-summer__geometry
        width: 70rem
        height: 35rem
        margin: 0 0 7rem 0

    .row
        width: 100%

    .row:first-child 
        margin-top: 3rem

    .spring-summer__men-hexagon,
    .spring-summer__woman-hexagon
        width: 65rem
        height: 32.5rem
        position: absolute
        right: -12.5rem
        top: -2.75rem

    .spring-summer__men-left,
    .spring-summer__woman-right
        left: 6rem

    .spring-summer__men-left img,
    .spring-summer__woman-right img
        width: 17rem
        margin-top: 1rem
