@media (min-width:320px) and (max-width:767px)

    //common style   
    .common__title
        font-size: 4.2rem
        margin-bottom: 1rem
    
    .common__under-title-text
        width: 90%

    .buttons-group
        flex-direction: column
        margin-bottom: 3.5rem

    .left-button,
    .right-button
        margin: 1.5rem 0
    
    //header
    .header__free-shopping,
    .header__title,
    .header__logo,
    .header__selected-country,
    .header__select--narrow
        display: none
    
    .header__top-line
        flex-direction: column
        height: 15rem

    .header__country-and-logo
        height: 0rem
        flex-basis: 0%

    .header__main-menu
        width: 100%

    .hamburger__menu  
        display: flex
        align-items: center

    #menu__toggle
        opacity: 0

    .menu__button
        display: flex
        align-items: center
        position: absolute
        top: 12.5rem
        left: 1rem
        width: 2rem
        height: 2rem
        cursor: pointer
        z-index: 100
        span,
        span::before,
        span::after
            display: block
            position: absolute
            width: 100%
            height: 0.2rem
            background-color: #b4b2b2

    .menu__button span::before
        content: ""
        top: -1rem

    .menu__button span::after
        content: ""
        top: 1rem

    .header__nav-bar
        width: 0rem

    .header__nav-list
        display: flex
        flex-direction: column
        align-items: start
        position: absolute
        top: 17rem
        left: -100%
        width: 100%
        height: 55rem
        background: #fff
        z-index: 99
        transition: all .3s 

    .header__nav-list.active 
        left: 0

    .header__nav-item
        width: 100%
        margin-bottom: 1rem
        text-align: left

    .header__nav-link
        display: block
        top: 0
        left: 0
        font-size: 1.8rem
        font-weight: 700
        padding: .5rem 2rem
        color: #000
        &:hover
            color: #777777

    .header__nav span
        display: none

    #menu__toggle:checked ~ .menu__button span
        transform: rotate(45deg)

    #menu__toggle:checked ~ .menu__button span::before
        top: 0
        transform: rotate(0)

    #menu__toggle:checked ~ .menu__button span::after
        top: 0rem
        transform: rotate(90deg)

    .header__select--wide
        position: absolute
        top: -100%
        left: 0
        margin: 0 0 0 2rem
        z-index: 100

    .header__select--wide
        top: -100%

    .header__select--wide.active
        top: 68rem

    .header__singIn-and-interaction
        width: 100%
        flex-direction: row
        justify-content: flex-start
        align-items: center
        margin: 0

    .header__interaction
        width: 100%
        display: flex
        justify-content: flex-end

    .header__magnifier
        margin-left: 4rem

    .header__interaction-item img,
    .header__magnifier img
        width: 2.5rem

    .header__quantity-goods
        margin-right: .5rem

    .header__singIn
        width: 0

    //hexagon
    .hexagon 
        width: 62.5rem
        height: 31.25rem
        position: static
        width: 50rem
        height: 25rem
        margin: 4rem 0

    .hexagon-description
        bottom: -5rem
        left: 32%
    
    .hexagon-name
        font-size: 1.6rem

    .hexagon-buy
        font-size: 1.8rem
    
    .spring-summer__geometry 
        width: 65rem
        height: 32.5rem

    //sale
    .sale__title-text
        font-size: 10rem

    .sale__buttons
        display: flex
        flex-direction: column
        align-items: center

    .sale__button
        margin-bottom: 3rem

    //men and woman 
    .men__collection,
    .woman__collection,
    #woman__mein-image,
    #men__mein-image
        width: 100%

    .men__main-image-block,
    .woman__main-image-block
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    .men__mein-image,
    .woman__mein-image
        width: 100%

    .spring-summer__geometry
        width: 31rem
        height: 15.5rem
        margin: 0 0 4rem 0

    .row
        width: 100%

    .row:first-child 
        margin-top: 3rem

    .spring-summer__men-hexagon,
    .spring-summer__woman-hexagon
        display: none 

    .spring-summer__men-title,
    .spring-summer__woman-title
        font-size: 1.5rem
        padding-left: 0
        margin-bottom: .5rem

    .spring-summer__men-text,
    .spring-summer__woman-text
        font-size: 3rem
        padding-left: 0

    .spring-summer__men-left,
    .spring-summer__woman-right
        left: 8rem

    .spring-summer__men-left img,
    .spring-summer__woman-right img
        width: 8rem
        margin-top: 0

    //social
    .social__wrap
        width: 90%

    //sing Up
    .sing-up__text
        width: 90%
        text-align: center

    .sing-up__send-form
        flex-direction: column
        align-items: center

    .sing-up__button
        margin-top: 1.5rem

    //about
    .about
        height: 95rem
        flex-wrap: wrap
        align-items: center

    .about__our-world,
    .about__customer-care,
    .about__corporate-info
        width: 20rem
        margin: 1rem 
        align-items: center

    //junior-and-outlet
    .junior-and-outlet__block
        width: 90%
        height: 35rem
        display: flex
        flex-direction: column
