.sing-up
    height: 24.5rem
    display: flex
    justify-content: center
    align-items: center
    position: relative

.sing-up::after
    position: absolute
    bottom: 0
    left: 5%
    content: ''
    width: 90%
    height: .1rem
    background: #000

.sing-up__block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.sing-up__title
    @include fontSet(2.2rem, 'CenturyGothic')
    margin-bottom: 1rem

.sing-up__text
    @include fontSet(1.4rem, 'CenturyGothic')
    margin-bottom: 1rem

.sing-up__send-form
    display: flex

.sing-up__input[type=text]
    width: 25rem
    height: 4rem
    padding: 1rem
    border: .1rem solid #000

.sing-up__input::placeholder
    @include fontSet(1.6rem, 'MyriadPro-Regular')
    color: #d7d7d7

.sing-up__button[type=submit] 
    @include fontSet(1.6rem, 'MyriadPro-Regular')
    width: 10rem
    padding: .5rem 
    background:#000000 
    color: #fff
    border: 0 none
    text-transform: uppercase
    cursor: pointer
