.social
    height: 17rem
    display: flex
    justify-content: center
    align-items: center
    position: relative

.social__wrap
    width: 32rem
    display: flex
    justify-content: center

.social__link
    margin: 0 1.5rem

.social:before 
    content: ''
    position: absolute
    top: 0
    left: 5%
    width: 90%
    height: .2rem
    background: #000

.social:after 
    content: ''
    position: absolute
    bottom: 0
    left: 5%
    width: 90%
    height: .1rem
    background: #000

.social__image
    width: 4.5rem
