.footer__wrap
    background: #19263F

.footer__nav
    margin-top: 4rem

.nav__list
    display: flex
    justify-content: center
    margin-bottom: 0
    & a 
        text-decoration: none

.nav__link
    font-size: 1.6rem
    line-height: 2rem
    color: #ffffff
    margin: 0 1.25rem
    background: #19263F

.social__list
    display: flex
    justify-content: center
    height: 5rem
    margin: 2.6rem 0 0 0 
    & img
        cursor: pointer

.social__link
    margin: 1.55rem
    & img 
        &:hover
            filter: invert(1)

.footer__copyright
    & p 
        color: #ffffff
        font-weight: 700
        font-size: 1.5rem
        line-height: 1.94rem
        text-align: center
        margin: 2.9rem 0 5.2rem 0

    
