@media (min-width:1200px)

    .products__line,
    .hidden_products
        display: flex
        justify-content: space-between

    .products__block
        justify-content: space-between
        & .products__col
            flex: 0 0 32.08%

    .even__item
        justify-content: center

@media (min-width:992px) and (max-width:1199px)

    .nav-item
        padding: 0 .5rem 0 4rem

    .header__login
        & a 
            padding-left: 1.5rem 

    .worldwide__icons-block 
        margin-top: 3.3rem

    .worldwide__icons-line
        margin-bottom: 5rem
    
    .products__col
        margin-bottom: 3rem

    .third
        justify-content: center

    .worldwide__icons-line
        margin-bottom: 2rem
        & img
            margin-bottom: 3rem


@media (min-width:768px) and (max-width:991px)
    
    .heder__logo
        display: flex
        justify-content: center

    .header__navbar
        margin-top: 3rem
        padding-left: 0

    .nav-item
        padding: 0 4rem 0 0 

    .header__header
        & h1
            margin-top: 5rem

    .header__text
        & p 
            margin-top: 6.5rem

    .third
        margin-top: 3rem 
        justify-content: center
    
    .worldwide__icons-line
        justify-content: center
        margin-bottom: 2.5rem

    .worldwide__icons-line
        margin-bottom: 2rem
        & img
            margin-bottom: 3rem

@media (min-width:576px) and (max-width:767px)
    
    .heder__logo
        display: flex
        justify-content: center

    .header__navbar
        margin-top: 2rem
        padding-left: 0

    .nav-item
        padding: 0 1rem 0 0 

    .header__login
        & a 
            padding-left: 1.8rem 

    .header__header
        & h1
            margin-top: 5rem

    .header__text
        & p 
            margin-top: 6.5rem

    .products__block
        & .products__col
            margin: 2rem 0

    .products__item 
        width: 26rem

    .product__item-text
        padding: 0 1.5rem

    .worldwide__icons-line
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 2rem
        & img
            margin-bottom: 3rem

@media (max-width:575px)

    .header__wrap
        height: 65rem

    .header__top-line
        height: 10rem
        align-items: center
        justify-content: center

    .header__login
        justify-content: start
        & a 
            padding: 0 2rem 0 0 

    .header__navbar
        justify-content: flex-end

    .products__block
        & .products__col
            padding: 0
            margin: 1.5rem 0

    .more
        margin: 4.4rem 0 12.2rem 0
        & .products__col
            margin: 2rem 0

    .header__header
        & h1 
            width: 100%
            max-width: 30rem
            margin-top: 8rem

    .products__col
        justify-content: center
    
    .worldwide__icons-line
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-bottom: 2rem
        & img
            margin-bottom: 3rem

    .nav__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    
    .nav__list-item
        margin-bottom: 2rem

    .list__item--last
        width: 100%
        text-align: center


