.product__item-text .more__text, 
.product__item-text.show .dots 
    display: none

.product__item-text.show .more__text 
    display: inline

.product__item-text a 
    cursor: pointer
    display: block

.product__all .more__products, 
.product__all.show .dots 
    display: none

.product__all.show .more__products 
    display: inline 

.product__all a
    cursor: pointer
    display: block






