@font-face 
    font-family: 'HelveticaNeueCyr-Light'
    src: url('../fonts/HelveticaNeueCyr-Light.otf') format('woff2'), url('../fonts/HelveticaNeueCyr.woff') format('woff')
    font-weight: 300 
    font-style: normal

@font-face 
    font-family: 'HelveticaNeueCyr-medium'
    src: url('../fonts/HelveticaNeueCyr-Medium.otf') format('woff2'), url('../fonts/HelveticaNeueCyr.woff') format('woff')
    font-weight: 500 
    font-style: normal

    





