@media (min-width:320px) and (max-width:767px)

    //header 
    .header__nav
        height: 7rem
        align-items: center
        & ul
            width: 100%
            justify-content: center
            margin: 0 0 
            & a 
                font-size: 1.5rem

    .syngenta_header
        height: 30rem
        & .sygenta_logo
            & img
                width: 9rem
                margin: 0 2rem 1rem 0

    //registration
    .registration
        width: 88%
        margin: 3rem auto
        & h2 
            width: 100%
            font-size: 2rem
            margin-top: 1rem
        & button
            margin-bottom: .5rem

    .data
        width: 100%

    .main_date,
    .personal_data,
    .company_data
        margin-bottom: 1rem
        & h3 
            font-family: 'HelveticaNeueCyr-Medium'
            text-align: center
            margin-bottom: 2.5rem

    .main_date_wrap,
    .personal_data_wrap,
    .company_data_wrap
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 2rem

    .company_data_wrap
        margin-bottom: 1rem

    .main_date_input_wrap,
    .second_name_input_wrap,
    .name_input_wrap,
    .phone_input_wrap,
    .company_input_wrap,
    .position_input_wrap
        margin-bottom: 2rem
        & input 
            font-size: 1.6rem
            width: 28rem

    .check
        margin-bottom: 3rem

    //about_project
    .about_project
        padding: 1rem 0
        z-index: 1
        & img  
            width: 10rem
            z-index: -1

    .about_project_wrap
        width: 88%
        padding: 0
        & h1
            font-size: 2.5rem
            margin: 3rem 0 3rem 0
        & h3 
            font-size: 1.8rem

    //agrashow_program 
    .agrashow_program
        & h1 
            font-size: 3rem
            margin: 3rem 0
        & span 
            font-size: 2.5rem
        & h2 
            font-size: 2rem
    
    .program_block
        width: 95%
        display: flex
        flex-direction: column 
        align-items: center
        padding: .5rem
        & .program_item
            width: 95.7%

    //footer
    .footer
        height: 6rem
        justify-content: flex-end
        align-items: flex-end
        & img 
            width: 12rem
            padding: 0 1rem 1rem 0
