.amazing__features
    display: flex
    flex-wrap: wrap 
    justify-content: center
    align-items: center
    position: relative

.image__block
    width: 45% 
    & img 
        width: 100%
        padding: 1rem

.amazing_text__block
    background-color: #fff
    border-radius: .7rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)