.Anita__block
    display: flex
    justify-content: flex-end

.Anita__alen__wrap
    display: flex
    width: 96.4rem

.Anita__left__block
    width: 42%
    display: flex
    flex-direction: column
    padding-right: 4.5rem
    & h1 
        @include fontSet(4rem, 'Bernadette')
        color: $headerColor
        padding-left: .9rem
        line-height: 4rem
    & h3
        @include fontSet(1.6rem, 'Lato', 700)
        color: #636363 
        padding-left: .5rem
        margin-bottom: 1.5rem
    & p 
        font-size: 1.2rem
        line-height: 2rem
        margin-bottom: 4rem

.Creativity,
.Team__work,
.Designing
    display: flex
    justify-content: space-between
    & h3
        font-size: 1.8rem
        color: $headerColor
    & 
        
.skill__level__number
    font-size: 1.7rem
    font-weight: 900

.Anita__right__block
    width: 58%
    display: flex

.Anita__social
    display: flex
    flex-direction: column
    justify-content: space-between
    background-image: linear-gradient(to bottom right, #dd813d 0%, #435297 100%)
    color: #fff
    & p 
        width: 28rem
        font-size: 1.2rem
        line-height: 2rem
        padding: 3.5rem 3.5rem 0 3.5rem
        & span
            font-size: 1.4rem
            font-weight: bolder 

.Anita__social__icon
    display: flex 
    padding: 0 3.5rem 3.5rem 3.5rem  

.social__icon__item
    & img 
        width: 4rem
        margin: .7rem

.Anita__photo
    & img
        width: 28rem