@media (min-width:1024px)
    //header
    .header__logo
        img
            -webkit-transform: scale(0)
            -webkit-transition: .5s
            -webkit-border-radius: 50%
        .active__element
            -webkit-transform: scale(1)
            -webkit-border-radius: 0rem

    .header__nav
        .features,
        .offer,
        .pricing,
        .clients,
        .facts,
        .projects,
        .team,
        .contact
            -webkit-transform: translate(0, -100%)
            -webkit-transition: .2s
            -webkit-opacity: 0

        .features
            -webkit-transition: .3s

        .offer
            -webkit-transition: .4s

        .pricing
            -webkit-transition: .5s

        .clients
            -webkit-transition: .6s

        .facts
            -webkit-transition: .7s

        .projects
            -webkit-transition: .8s

        .team
            -webkit-transition: .9s

        .contact
            -webkit-transition: 1s

        .active__element
            &.features,
            &.offer,
            &.pricing,
            &.clients,
            &.facts,
            &.projects,
            &.team,
            &.contact
                -webkit-transform: translate(0, 0)
                -webkit-opacity: 1

    //first block
    .first__block
        h1
            -webkit-transform: translate(0rem, -50%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        h2 
            -webkit-transform: translate(-50%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        p 
            -webkit-transform: translate(50%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        button
            -webkit-transform: translate(0, 100%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .progress__block
        .progress__item
            -webkit-transform: scale(0)
            -webkit-transition: 1s
            -webkit-border-radius: 50%
            p 
                -webkit-transform: translate(0, 0)
                -webkit-opacity: 1
        .active__element
            -webkit-transform: scale(1)
            -webkit-border-radius: 1rem

    //we are creative agency 
    .wrap__creative__agency
        img
            -webkit-transform: scale(0)
            -webkit-height: 1rem
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: scale(1)
            -webkit-height: 100%
            -webkit-opacity: 1
    
    .left__block,
    .right__block
        -webkit-transform: translate(-50%, 0)
        -webkit-opacity: 0
        -webkit-transition: 1s
    .right__block
        -webkit-transform: translate(50%, 0)
        .active__element
            .left__block,
            .right__block
                -webkit-transform: translate(0, 0)
                -webkit-width: 38%
                -webkit-opacity: 1

    //amazing features
    .image__block
        .features_element1,
        .features_element3
            -webkit-transform: translate(-100%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .features_element2,
        .features_element4
            -webkit-transform: translate(100%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            &.features_element1,
            &.features_element3,
            &.features_element2,
            &.features_element4
                -webkit-transform: translate(0, 0)
                -webkit-opacity: 1

    .amazing__features
        .amazing_text__block
            h1,
            p, 
            button
                -webkit-opacity: 0
                -webkit-transition: 1s
            .active__element
                -webkit-opacity: 1

    // services we provide
    .services__we__provide
        .left__side
            -webkit-transform: translate(-30%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .center__block
            -webkit-transform: translate(-50%, -50%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .right__side
            -webkit-transform: translate(100%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            &.right__side,
            &.center__block,
            &.left__side
                -webkit-transform: translate(0, 0)
                -webkit-opacity: 1
        .center__block.active__element
            -webkit-transform: translate(0, -50%)

    //we are perfect team
    .we__are__perfect__team
        h1, 
        p 
            -webkit-transform: translate(0, -300%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .team__item
        h3,
        p 
            -webkit-transform: translate(0, -100%)
            -webkit-opacity: 0
            -webkit-ttransition: 1s
        .team_img1,
        .team_img2,
        .team_img3,
        .team_img4,
        .team_img5
            -webkit-transform: scale(0)
            -webkit-transition: .2s
            -webkit-border-radius: 50%
        .active__element
            &.team_img1,
            &.team_img2,
            &.team_img3,
            &.team_img4,
            &.team_img5
                -webkit-transform: scale(1)
                -webkit-border-radius: 0rem

    .team__item
        .team_img2
            -webkit-transition: .4s
    .team__item
        .team_img3
            -webkit-transition: .6s
    .team__item
        .team_img4
            -webkit-transition: .8s
    .team__item
        .team_img5
            -webkit-transition: 1s

    //Anita Alen 
    .Anita__left__block 
        h1, 
        h3, 
        p 
            -webkit-transform: translate(-30%, 0)
            -webkit-opacity: 0
            -webkit-transition: .5s
        h3 
            -webkit-transition: 1s
        p 
            -webkit-transition: 1s 
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .Creativity,
        &::before
            width: 0
            transition: 1s
        &.active__element::before
            width: 95%

    .Team__work    
        &::before
            width: 0
            transition: 1s
        &.active__element::before
            width: 80%

    .Designing
        &::before
            width: 0
            transition: 1s
        &.active__element::before
            width: 90%

    .Anita__right__block
        .Anita__photo,
        .social__icon__item
            img 
                -webkit-transform: scale(0)
                -webkit-transition: 1s
                -webkit-border-radius: 50%
            .active__element
                -webkit-transform: scale(1)
                -webkit-border-radius: 0

    .Anita__social
        p 
            -webkit-transform: translate(-30%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1 

    //take your website
    .professional
        h2,
        h3, 
        p 
            -webkit-transform: translate(0, -50%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .Our__Best
        h1,
        h3, 
        p 
            -webkit-transform: translate(0, -100%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        li 
            -webkit-transform: translate(-200%, 0)
            -webkit-opacity: 0
        li:nth-child(1)
            -webkit-transition: .2s
        li:nth-child(2)
            -webkit-transition: .3s
        li:nth-child(3)
            -webkit-transition: .4s
        li:nth-child(4)
            -webkit-transition: .5s
        li:nth-child(5)
            -webkit-transition: .6s
        li:nth-child(6)
            transition: .7s
        button 
            -webkit-transform: translate(0, 300%) 
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .take__your__website
        .website__right__side
            h1
                -webkit-transform: translate(0, -200%)
                -webkit-opacity: 0
                -webkit-transition: 1s
            p
                -webkit-transform: translate(-20%, 0)
                -webkit-opacity: 0
                -webkit-transition: 1s
            .active__element
                -webkit-transform: translate(0, 0)
                -webkit-opacity: 1

    //get in touch
    .get__in__touch
        h1
            -webkit-transform: translate(0, -50%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .get__social__block   
        .get__social__item
            -webkit-transform: scale(0)
            -webkit-opacity: 0
            -webkit-transition: 1s
            -webkit-border-radius: 50%
        .active__element
            -webkit-transform: scale(1)
            -webkit-opacity: .6
            -webkit-border-radius: 0rem

    //footer
    .mail__icon,
    .call__Us__icon,
    .address__icon
        img 
            -webkit-transform: translate(0, -50%)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1

    .mail__text,
    .call__Us__text,
    .address__text
        h3,
        a 
            -webkit-transform: translate(-50%, 0)
            -webkit-opacity: 0
            -webkit-transition: 1s
        .active__element
            -webkit-transform: translate(0, 0)
            -webkit-opacity: 1
        



        


