.Anita__block
    display: flex
    justify-content: flex-end
    margin-bottom: 6rem

.Anita__alen__wrap
    display: flex
    width: 96.4rem

.Anita__left__block
    width: 42%
    display: flex
    flex-direction: column
    padding-right: 4.5rem
    & h1 
        @include fontSet(4rem, 'Bernadette')
        color: $headerColor
        padding-left: .9rem
        line-height: 4rem
    & h3
        @include fontSet(1.6rem, 'Lato', 700)
        color: #636363 
        padding-left: .5rem
        margin-bottom: 1.5rem
    & p 
        font-size: 1.2rem
        line-height: 2rem
        margin-bottom: 4rem

.Creativity,
.Team__work,
.Designing
    display: flex
    justify-content: space-between
    position: relative
    margin-bottom: 3rem
    & h3
        font-size: 1.8rem
        color: $headerColor
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 1rem
        bottom: 0
        left: 0
        background-color: #e0e0e0
        border-radius: .5rem     
    &::before
        content: ''
        position: absolute
        width: 0%
        height: 1rem
        bottom: 0
        left: 0
        background-image: $gradient
        border-radius: .5rem
        z-index: 1
        min-width: 1rem
        transition: 3s

.Creativity
    &:hover
        &::before
            width: 95%

.Team__work
    &:hover
        &::before
            width: 80%

.Designing
    &:hover
        &::before
            width: 90%
        
.skill__level__number
    font-size: 1.5rem
    font-weight: 900

.Anita__right__block
    width: 58%
    display: flex

.Anita__social
    height: 47.6rem
    display: flex
    flex-direction: column
    justify-content: space-between
    background-image: $gradient
    color: #fff
    & p 
        width: 28rem
        font-size: 1.2rem
        line-height: 2rem
        padding: 3.5rem 3.5rem 0 3.5rem
        & span
            font-size: 1.4rem
            font-weight: bolder 

.Anita__social__icon
    display: flex 
    padding: 0 3.5rem 3.5rem 3.5rem  

.social__icon__item
    & img 
        width: 4rem
        margin: .7rem

.Anita__photo
    & img
        width: 28rem