html 
    font-size: 10px

body 
    background-image: url(../image/simply__the__best/Main__Image.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 60rem
    font-family: 'Lato', sans-serif
    font-size: 1rem
    margin: 0

*, *:after, *:before 
    box-sizing: border-box
    padding: 0
    margin: 0

li 
    list-style-type: none
ul 
    margin-left: 0
    padding-left: 0

a 
    text-decoration: none
    cursor: pointer

p 
    line-height: 3rem

.wrapper
    overflow: hidden




    