.creative__agency
    background-color: #fefefe
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 4rem

.wrap__creative__agency
    width: 90rem
    height: 46.25rem
    display: flex
    position: relative
    & img 
        width: 42rem
        margin-left: 25.5rem

.left__block
    width: 38.5%
    position: absolute
    left: 0
    & h2
        @include fontSet(3.5rem, 'Bernadette')
        text-align: center
        color: $headerColor
        margin-bottom: 2rem
    & p 
        font-size: 1.6rem 
        line-height: 2.4rem
        font-weight: 700
        color: $mainColor
        margin-bottom: 2rem
    & span
        font-size: 1.4rem
        color: $mainColor
        line-height: 2.4rem
        font-weight: lighter
    & button
        @include button

.right__block 
    width: 33.5%
    position: absolute
    right: 0
    & p 
        padding: 9rem 0 1.5rem 0
        line-height: 2.4rem
        color: $mainColor
        @include fontSet(1.6rem)
        font-weight: 700
        text-align: right
    & span 
        @include fontSet(3rem, 'Bernadette')
        color: $mainColor
        padding-left: 52%

