.first__block
    height: 54rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    margin-bottom: 34rem
    & h1
        @include fontSet(7rem, 'Bernadette')
        color: #fff
        margin-bottom: 1rem
    & h2 
        @include fontSet(2.5rem)
        color: #fff
        margin-bottom: 3rem
    & p 
        width: 46rem
        @include fontSet(1.6rem, 'Lato')
        font-weight: lighter
        line-height: 2.4rem
        color: #ffffff
        margin-bottom: 3rem
        text-align: center
    & button 
        width: 12rem
        @include fontSet()
        font-weight: 700
        background-color: #ffffff
        color: #020202
        text-transform: uppercase
        border-radius: 3rem
        padding: 1rem 1.6rem
        line-height: .2rem
        border: solid #fff
        cursor: pointer
        transition: .2s
        margin-bottom: 6rem
        &:hover
            background-color: #de813c
            color: #fff
            border: solid #de813c

.progress__block
    width: 90rem
    display: flex
    justify-content: space-between
    position: absolute
    top: 80%
    left: 50%
    transform: translate(-50%, 0)

.progress__item
    width: 28.5rem
    height: 35rem
    background-color: #fff
    border-radius: 1rem
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.1), -1rem -1rem 3rem rgba(0,0,0,0.1)
    margin-bottom: 8rem
    position: relative
    & img 
        width: 100%
        border-radius: 1rem 1rem 0 0 
    & h3 
        text-align: center
        font-size: 2rem 
        font-weight: 700
        color: $headerColor
        margin-top: 1rem
    & p 
        width: 100%
        @include fontSet(1.6rem)
        font-weight: bolder
        text-align: center
        color: $mainColor
        padding: 1rem 3rem
    & button 
        position: absolute
        bottom: -7.5rem
        left: 50%
        transform: translate(-50%, 0)
        @include button