.first__block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    & h1 
        font-family: 'bernadette'
        font-size: 7rem
        color: #fff
        margin-top: 9rem
    & h2 
        font-family: 'Lato', sans-serif
        font-size: 2.5rem
        color: #fff
        margin-bottom: 3rem
    & p 
        width: 46rem
        font-family: 'Lato', sans-serif
        font-size: 1.1rem
        font-weight: lighter
        line-height: 1.7rem
        color: #ffffff
        margin-bottom: 3rem
    & button 
        font-size: 1.2rem
        font-weight: 700
        background-color: #ffffff
        text-transform: uppercase
        border-radius: 3rem
        padding: .6rem 1.6rem
        border: solid #fff
        cursor: pointer
        transition: .2s
        margin-bottom: 6rem
        &:hover
            background-color: #de813c
            color: #fff
            border: solid #de813c

.progress__block
    width: 90rem
    display: flex
    justify-content: space-between

.progress__item
    width: 28rem
    height: 50rem
    background-color: #fff
    border-radius: 1rem
    & img 
        width: 100%
        border-radius: 1rem 1rem 0 0 
    & p 
        width: 100%
        color: #000