@font-face 
	font-family: 'bernadette'
	src: url('../fonts/bernadette.eot')
	src: local('☺'), url('../fonts/bernadette.woff') format('woff'), url('../fonts/bernadette.ttf') format('truetype'), url('../fonts/bernadette.svg') format('svg')
	font-weight: normal
	font-style: normal

// @mixin bold 
// 	font-family: 'bernadette'

// @mixin regular 
//     font-family: 'Lato', sans-serif	
	