.footer__block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    & p 
        font-size: .8rem
        text-align: center

.footer__contact__block
    width: 100%
    display: flex
    justify-content: space-around
    margin: 7rem 0 4rem 0

.mail__block,
.call__Us__block,
.address__block
    height: 8rem
    display: flex

.mail__icon,
.address__icon
    & img 
        width: 4rem
        margin-right: 2rem

.call__Us__icon
    & img 
        width: 3rem
        margin-right: 2rem

.mail__text,
.call__Us__text,
.address__text
    display: flex
    flex-direction: column
    justify-content: flex-start
    & h3 
        font-size: 1.4rem
        color: $headerColor
        text-transform: uppercase
    & a 
        font-size: 1.2rem
        line-height: 2rem
        color: $mainColor
        margin: .8rem 0


