@media (min-width:2560px) 

    //header
    .header
        padding: 1rem 0

    .header__logo
        & img
            width: 15rem

    .header__nav
        & a 
            font-size: 2.3rem

    //first block
    .first__block
        height: 155rem
        justify-content: start
        padding-top: 25rem
        margin-bottom: 12rem
        & h1 
            font-size: 9rem
            margin-bottom: 4rem
        & h2 
            font-size: 3.5rem
        & p 
            width: 80rem
            font-size: 2.5rem
            line-height: 3rem
            margin-bottom: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem

    .progress__block
        width: 180rem
        top: 100rem

    .progress__item
        width: 55rem
        height: 56rem
        & h3 
            font-size: 3rem 
            padding: 1rem 0
        & p 
            width: 100%
            font-size: 2.2rem

    //creative agency 
    .wrap__creative__agency
        width: 180rem
    
    .left__block 
        & h2 
            font-size: 5rem
        & p, 
        & span
            font-size: 2.2rem
            line-height: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem