@media (min-width:2560px) 

    //header
    .header
        padding: 1rem 0

    .header__logo
        & img
            width: 15rem
            margin-left: 1.5rem 

    .header__nav
        padding-right: 7.5rem
        & a 
            font-size: 2.3rem

    //first block
    .first__block
        height: 155rem
        justify-content: start
        padding-top: 25rem
        margin-bottom: 12rem
        & h1 
            font-size: 9rem
            margin-bottom: 4rem
        & h2 
            font-size: 3.5rem
        & p 
            width: 80rem
            font-size: 2.5rem
            line-height: 3rem
            margin-bottom: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem

    .progress__block
        width: 180rem
        top: 100rem

    .progress__item
        width: 55rem
        height: 56rem
        & h3 
            font-size: 3rem 
            padding: 1rem 0
        & p 
            width: 100%
            font-size: 2.2rem

    //creative agency 
    .wrap__creative__agency
        width: 180rem 
        & img 
            margin: 0 auto
    
    .left__block 
        & h2 
            font-size: 5rem
        & p, 
        & span
            font-size: 2.2rem
            line-height: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem

    .right__block
        display: flex
        flex-direction: column
        align-items: flex-end
        & p 
            font-size: 2.2rem
            line-height: 3rem
        & span 
            width: 100%
            font-size: 3.2rem
            padding-left: 0 
            text-align: right

    //amazing features
    .amazing_text__block
        width: 80rem
        height: 35rem
        padding: 2rem 4rem
        & h1 
            font-size: 5rem
        & p 
            font-size: 2.2rem
            line-height: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem
    
    //services we provide
    .services__we__provide 
        height: 70rem

    .left__side
        padding: 0 18% 0 5.4%
        & h1 
            font-size: 5rem 
        & p 
            font-size: 2.2rem
            line-height: 3rem
        & button 
            width: 14rem
            font-size: 1.7rem

    .right__side 
        & img 
            width: 127rem
        
    .center__block
        width: 27rem
        height: 27rem
        right: 113.5rem
        & .icon__cell 
            & p 
                font-size: 1.6rem
                line-height: 1.8rem
                padding: 0 1.5rem
            & img 
                width: 4.5rem

    //we are perfect team
    .we__are__perfect__team 
        width: 180rem
        margin: 0 auto
        margin-bottom: 14rem
        & h1 
            font-size: 5rem
        & p 
            width: 180rem
            font-size: 2.2rem
            line-height: 3rem
    
    .team__block 
        width: 203rem
        & .team__item
            & h3 
                font-size: 3rem
                margin: 1rem 0 2rem 0
            & p 
                font-size: 2.5rem

    //Anita block
    .Anita__block
        height: 60rem

    .Anita__left__block
        padding: 0 24.6% 0 5.4%
        & h1 
            font-size: 5rem 
            margin-top: 3rem
        & h3 
            font-size: 3rem
        & p 
            font-size: 2.2rem 
            line-height: 3rem 
    
    .Anita__right__block
        flex: 0 0 66rem

    .Anita__photo
        & img 
            width: 38rem
    
    .Anita__social
        & p 
            font-size: 2.2rem
            line-height: 3rem
            & span
                font-size: 2.2rem
                line-height: 3rem
    
    //take your website
    .take__your__website
        height: 90rem
        
    .professional
        width: 82%
        & h2 
            font-size: 4rem
        & h3 
            font-size: 3rem
        & p 
            width: 100%
            font-size: 2.2rem
            line-height: 3rem
            padding: 0 1rem

    .Our__Best
        & h1 
            font-size: 5rem
        & h3 
            font-size: 3rem
        & ul
            & li 
                font-size: 2.2rem
        & button 
            width: 14rem
            font-size: 1.7rem

    .website__right__side
        & h1 
            font-size: 5rem
            margin-bottom: 3.5rem
        & p 
            font-size: 2.2rem
            line-height: 3rem
    
    //get in touch
    .get__in__touch
        height: 33rem
        & h1 
            font-size: 5rem
            margin-bottom: 3rem

    .get__social__block
        width: 180rem

    //footer
    .footer__block
        height: 30rem
        justify-content: space-between
        & p 
            font-size: 1.3rem
            margin-bottom: 2rem

    .footer__contact__block
        width: 228rem

    .mail__text,
    .call__Us__text,
    .address__text
        & h3 
            font-size: 2.5rem 
            margin-bottom: 1rem
        & a 
            font-size: 2.2rem

    .mail__icon,
    .address__icon
        & img 
            width: 6.5rem

    .call__Us__icon
        & img 
            width: 4.5rem


    .get__social__item
            & img
                width: 10rem
