@media (min-width:1600px) and (max-width:2559px)

    //header
    .header__nav
        & a 
            font-size: 2.2rem

    //first block
    .first__block 
        padding-top: 30rem
        & h1 
            font-size: 10rem
        & h2 
            font-size: 3.5rem
            margin-top: 1rem
        & p 
            width: 37%
            font-size: 2rem
        & button 
            margin-bottom: 2rem

    .progress__block
        width: 65%
        top: 130%

    .progress__item 
        width: 50rem
        height: 48rem
        & h3 
            margin: 2rem 0 1rem 0
        & p 
            width: 100%
        & button 
            width: 15rem
            font-size: 1.5rem
            bottom: -3.5rem

    //creative agency
    .creative__agency
        padding-top: 38rem 

    .wrap__creative__agency
        width: 65%
        & img


    .left__block 
        & p, 
        & span
            font-size: 2rem

    .right__block 
        & p 
            font-size: 2rem