@mixin button
    width: 10rem
    background-image: linear-gradient(to left, #dd813d 0%, #435297 100%)
    font-size: 1.1rem
    font-weight: 700
    text-transform: uppercase
    border: none
    border-radius: 3rem
    padding: .7rem 1.2rem
    cursor: pointer
    transition: .2s
    margin-bottom: 6rem
    color: #fff
    &:hover
        background-image: linear-gradient(to left, #435297 0%, #dd813d 100%)
        border: none
        
@mixin fontSet($size: 1.2rem, $family: 'Lato', $weight: 400)
    font-family: $family
    font-size: $size
    font-weight: $weight

$mainColor: #040404
$headerColor: #333332
$gradient: linear-gradient(to bottom right, #de813c 0%, #3f519a 100%)

