.we__are__perfect__team
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    & h1 
        @include fontSet(3rem, 'Bernadette')
        margin-bottom: 1.5rem
    & p 
        width: 88%
        font-size: 1.4rem 
        margin-bottom: 4rem

.team__block
    display: flex
    justify-content: center
    position: relative
    z-index: 2
    & .team__item
        width: 17.9%
        padding: 0 .7rem
        & img 
            width: 100%
    &::before
        position: absolute
        content: ""
        width: 96%
        height: 80%
        top: 33%
        left: 2%
        background: #f7f7f7
        z-index: -1


