$basefont:  'Montserrat', sans-serif
$italicsfont:  'Tangerine', cursive 
$pink: #fc4263  
    
@import "baseSets"
@import "header"
@import "firstBlock"
@import "reservation"
@import "ourSpesialities"
@import "dishes"
@import "menu"
@import "locations"
@import "footer"
@import "media640px"
@import "media768px"
@import "media1024px"
@import "media1366px"
