html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 300rem;
}

.full__block {
  width: 100%;
  overflow: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

.full__block {
  overflow: hidden;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__line {
  width: 149rem;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 3.5rem;
}

.menu {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10rem;
}

.header__menu {
  width: 62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu__nav__item {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color: #585c62;
  text-transform: uppercase;
  position: relative;
}

.header__menu__nav__item::before {
  content: '';
  display: block;
  width: 100%;
  height: .1rem;
  background-color: #c30000;
  -webkit-transform: translateY(25px) scale(0);
          transform: translateY(25px) scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

.header__menu__nav__item::after {
  content: '';
  display: block;
  width: 100%;
  height: .1rem;
  background-color: #c30000;
  -webkit-transform: translateY(-25px) scale(0);
          transform: translateY(-25px) scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header__menu__nav__item:hover {
  color: #c30000;
}

.header__menu__nav__item:hover::before {
  -webkit-transform: translateY(25px) scale(1);
          transform: translateY(25px) scale(1);
}

.header__menu__nav__item:hover::after {
  -webkit-transform: translateY(-25px) scale(1);
          transform: translateY(-25px) scale(1);
}

.welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3rem;
  font-style: italic;
  padding-right: 1rem;
}

.welcome__image__and__text__wrap {
  width: 149rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcome__image__and__text__wrap .span__london {
  font-family: 'Playfair Display', serif;
  width: 16rem;
  height: 16rem;
  font-size: 14.3rem;
  font-style: normal;
  line-height: 19rem;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
  line-height: 25rem;
  font-size: 10rem;
  text-align: center;
}

.slider__item {
  width: 138rem;
}

.slider__item img {
  width: 138rem;
}

.history {
  width: 100%;
  height: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 9rem;
}

.history__wrap {
  width: 138rem;
  height: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.history__wrap img {
  width: 40rem;
  height: 72rem;
  position: absolute;
  right: 0;
  top: 20%;
}

.the__square__mile__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10rem;
}

.the__square__mile {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.the__square__mile h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
  width: 52%;
  font-size: 4.6rem;
  font-style: italic;
  margin-right: 4rem;
}

.the__square__mile p {
  font-family: 'Lato', sans-serif;
  width: 67%;
  font-size: 1.6rem;
  text-align: left;
}

.roman__london {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23rem;
}

.roman__london h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}

.roman__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.about {
  font-size: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-top: 12rem;
}

.prehistory__of__london {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prehistory__of__london h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4.8rem;
  margin-right: 4rem;
}

.prehistory__of__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 7rem;
}

.transport__wrap {
  width: 138rem;
}

.transport__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: 400;
}

.transport__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transport__block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.transport__block__wrap:hover {
  background: rgba(0, 0, 0, 0.4);
}

.transport__block__wrap:hover .transport__wrap__text {
  opacity: 1;
  border-radius: 1rem;
}

.transport__wrap__text {
  width: 87.7rem;
  height: 58.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .6s;
  transition: .6s;
}

.transport__wrap__text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.transport__wrap__text p {
  width: 58rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  padding-bottom: 4rem;
  padding-left: 6rem;
}

.transport__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transport__text p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  width: 40.5rem;
  padding-left: 7.5rem;
}

.transport__text p:last-child {
  font-weight: bolder;
  text-align: right;
  padding-right: .5rem;
}

.transports {
  height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.transports p {
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  font-weight: 400;
  text-align: left;
}

.transports p:first-child {
  height: 1rem;
}

.transports__block {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.transports__block h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-top: 1.2rem;
  position: relative;
}

.transports__block h1::after {
  content: '';
  position: absolute;
  width: 72%;
  height: .1rem;
  bottom: 0;
  left: 29.5%;
  background-color: #cfcece;
}

.transports__block p {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  padding-left: 29.5rem;
  margin-bottom: 4rem;
}

.image__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image__block img {
  width: 44rem;
}

.facts {
  height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30rem;
}

.facts__wrap {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.facts__wrap h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.7rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.facts__wrap h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  padding-left: 20rem;
  margin-bottom: 3rem;
}

.facts__text__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facts__text__block .facts__text__block__item {
  width: 52rem;
  margin-right: 10rem;
}

.facts__text__block .facts__text__block__item p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.facts__text__block div:first-child {
  width: 22rem;
}

.big__L {
  width: 40rem;
  position: absolute;
  top: 44rem;
  left: 6rem;
}

.night {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20rem;
}

.night__block__wrap {
  width: 149rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.night__vertical__text {
  font-family: 'Playfair Display', serif;
  height: 3.5rem;
  white-space: nowrap;
  font-size: 2.6rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -16rem;
  top: 56.5rem;
}

.night__in__london {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.night__image__and__text__wrap {
  position: relative;
}

.night__image__and__text__wrap img {
  width: 138rem;
}

.night__image__and__text__wrap:hover {
  background: rgba(0, 0, 0, 0.4);
}

.night__image__and__text__wrap:hover .night__block__text {
  opacity: 1;
}

.night__block__text {
  width: 138rem;
  height: 75.7rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0rem;
  bottom: 0rem;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.night__block__text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.night__block__text p {
  width: 63rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  padding-bottom: 4rem;
  padding-left: 6rem;
}

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20rem;
}

.places__wrap {
  width: 138rem;
}

.places__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: 400;
}

.places__wrap .places__wrap__text {
  width: 66rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 8rem;
}

.places__image__block {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__img {
  width: 108rem;
  position: relative;
}

.main__img img {
  width: 106rem;
  height: 59.8rem;
}

.main__img:hover .places__text__block {
  opacity: 1;
}

.places__text__block {
  width: 106rem;
  height: 59.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .6s;
  transition: .6s;
}

.places__text__block h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #fff;
  text-align: right;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.places__text__block p {
  width: 50rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 4rem;
  padding-left: 6rem;
}

.other__img {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.other__img p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.other__img__item__wrap {
  position: relative;
  margin-bottom: 2.7rem;
}

.other__img__item__wrap p {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: .5rem;
  right: 4.5rem;
  color: #ffffff;
}

.other__img__item__wrap .Big__Ben {
  font-family: 'Playfair Display', serif;
  color: #000;
}

.other__img__item__wrap:hover .other__img__blackout__block {
  opacity: 1;
}

.other__img__blackout__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.5rem;
  height: 18rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: .6s;
  transition: .6s;
  opacity: 0;
}

.interested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50rem;
  position: relative;
}

.interested button {
  font-family: 'Lato', sans-serif;
  position: absolute;
  bottom: -11rem;
  padding: 1rem 2rem;
  border: .1rem solid red;
  border-radius: 2rem;
  background-color: #fff;
  color: red;
  cursor: pointer;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.interested button:hover {
  border: .1rem solid #1d82b6;
  color: #1d82b6;
}

.interested__wrap {
  width: 138rem;
}

.interested__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

.interested__wrap p {
  width: 63rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.contact__block {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.contact__block::after {
  content: '';
  display: block;
  position: absolute;
  width: 117%;
  height: .1rem;
  bottom: -2rem;
  left: 0;
  background-color: #cfcece;
}

.contact__Us,
.visit__the__office {
  width: 25rem;
}

.contact__Us h3,
.visit__the__office h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.contact__Us li,
.visit__the__office li {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  padding-bottom: .8rem;
}

.footer__block {
  height: 5rem;
}

.footer__block p {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 8rem;
}

.footer__block span {
  font-weight: bolder;
}

.footer__block img {
  float: right;
}

@media (min-width: 320px) and (max-width: 639px) {
  .header__block {
    height: 13rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
  .header__line {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
  .header__logo {
    margin: 1.5rem 0 2.5rem 0;
  }
  .menu {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu {
    width: 100%;
    max-width: 50rem;
  }
  .header__menu__nav__item {
    font-size: 1.4rem;
  }
  .welcome {
    height: 35rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6rem;
  }
  .welcome p {
    height: 0;
    line-height: 4rem;
    font-size: 2rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 7.5rem;
    margin-right: -12%;
  }
  .welcome__image__and__text__wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome__image__and__text__wrap .span__london {
    width: 100%;
    height: 4rem;
    font-size: 7rem;
    text-align: center;
    font-style: normal;
    line-height: 0rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-right: 0;
    padding-left: .9rem;
  }
  .slider {
    width: 100%;
    max-width: 50rem;
    height: 20.1rem;
  }
  .slider__wrapper {
    width: 200%;
  }
  .slider__item {
    width: 100%;
    max-width: 50rem;
    height: 20.1rem;
  }
  .slider__item img {
    width: 100%;
    max-width: 50rem;
    height: 20.1rem;
  }
  .history {
    width: 100%;
    height: 143rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history__wrap {
    height: 144rem;
    width: 100%;
    max-width: 41.1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
  }
  .history__wrap img {
    position: static;
    width: 30rem;
    height: 56rem;
  }
  .the__square__mile__wrap {
    width: 100%;
    padding-right: 0rem;
    margin-bottom: 1rem;
  }
  .the__square__mile {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .the__square__mile h2 {
    width: 100%;
    text-align: left;
    font-size: 2.7rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
  }
  .the__square__mile p {
    width: 100%;
  }
  .roman__london {
    width: 100%;
    margin-top: 3rem;
  }
  .roman__london h3 {
    font-size: 2.7rem;
    font-style: italic;
    padding-left: 1rem;
  }
  .roman__london p {
    width: 100%;
  }
  .about {
    width: 100%;
    margin-top: 3rem;
    padding-left: 1rem;
  }
  .prehistory__of__london {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .prehistory__of__london h2 {
    font-size: 2.7rem;
    font-style: italic;
    padding-left: 1rem;
  }
  .prehistory__of__london p {
    width: 100%;
  }
  .transport {
    height: 62rem;
    margin-bottom: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transport__wrap {
    max-width: 41.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .transport__wrap h1 {
    font-size: 5rem;
    padding-left: 2rem;
  }
  .transport__block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transport__block__wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 21.4rem;
  }
  .transport__block__wrap img {
    width: 100%;
    height: 21.4rem;
  }
  .transport__wrap__text {
    width: 100%;
    height: 21.4rem;
    bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .transport__wrap__text h3 {
    font-size: 2.8rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
  }
  .transport__wrap__text p {
    width: 31rem;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
  }
  .transport__text {
    max-width: 41.1rem;
    padding: 0 1rem;
  }
  .transport__text p {
    width: 100%;
    padding-left: 0rem;
  }
  .transport__text p:last-child {
    font-size: 1.4rem;
  }
  .transports {
    height: 84rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transports p {
    width: 100%;
    max-width: 41.1rem;
    font-size: 2.3rem;
    padding-left: 2rem;
  }
  .transports__block {
    width: 100%;
    max-width: 41.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transports__block h1 {
    width: 100%;
    letter-spacing: 0rem;
    padding-left: 2rem;
  }
  .transports__block h1::after {
    width: 27.5rem;
    left: 6.5%;
  }
  .transports__block p {
    font-size: 1.3rem;
    padding-left: 20rem;
  }
  .image__block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image__block img {
    width: 100%;
    max-width: 50rem;
    height: 23.3rem;
    padding-bottom: 1rem;
  }
  .facts {
    height: 119rem;
    margin-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .facts__wrap {
    width: 100%;
    height: 100rem;
    max-width: 41.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
  }
  .facts__wrap h2 {
    width: 100%;
    padding-left: 1rem;
  }
  .facts__wrap h3 {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
  .facts__text__block {
    width: 32rem;
    height: 90rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .facts__text__block div:first-child {
    width: 100%;
  }
  .facts__text__block .facts__text__block__item {
    width: 100%;
    margin-right: 0;
  }
  .facts__text__block .facts__text__block__item p {
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
  .big__L {
    position: static;
    width: 22rem;
  }
  .night {
    height: 44rem;
    padding-top: 25rem;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .night__block__wrap {
    width: 100%;
    max-width: 41.1rem;
  }
  .night__vertical__text {
    font-size: 1.8rem;
    left: -10.5rem;
    top: -14.5rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .night__in__london {
    width: 100%;
    max-width: 41.1rem;
  }
  .night__image__and__text__wrap {
    width: 100%;
    max-width: 41.1rem;
    height: 17.5rem;
  }
  .night__image__and__text__wrap img {
    width: 100%;
    max-width: 41.1rem;
    height: 17.5rem;
  }
  .night__block__text {
    width: 100%;
    max-width: 41.1rem;
    height: 17.5rem;
    left: 0rem;
    bottom: 0rem;
  }
  .night__block__text h1 {
    font-size: 2.8rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
  }
  .night__block__text p {
    width: 28rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  .places {
    height: 100rem;
    margin-top: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .places__wrap {
    width: 100%;
    max-width: 41.1rem;
  }
  .places__wrap h1 {
    font-size: 5rem;
    padding-left: .5rem;
    padding-left: 1rem;
  }
  .places__wrap .places__wrap__text {
    width: 100%;
    max-width: 41.1rem;
    margin-bottom: 2rem;
    padding: 0rem 1rem;
  }
  .places__image__block {
    width: 100%;
    max-width: 41.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__img {
    width: 100%;
    max-width: 41.1rem;
    margin-bottom: 2rem;
  }
  .main__img img {
    width: 100%;
    max-width: 41.1rem;
    height: 22rem;
  }
  .places__text__block {
    width: 100%;
    max-width: 41.1rem;
    height: 22rem;
    left: 0;
    bottom: .2rem;
  }
  .places__text__block h2 {
    font-size: 2.8rem;
    text-align: left;
    margin-bottom: .5rem;
    padding-left: 1rem;
  }
  .places__text__block p {
    width: 30rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  .other__img {
    width: 100%;
    max-width: 41.1rem;
  }
  .other__img__item__wrap {
    max-width: 41.1rem;
    margin-bottom: 2rem;
  }
  .other__img__item__wrap img {
    width: 100%;
    max-width: 41.1rem;
    height: 16.1rem;
  }
  .other__img__item__wrap p {
    top: .5rem;
    right: 1rem;
  }
  .other__img__blackout__block {
    width: 100%;
    max-width: 41.1rem;
    height: 16.1rem;
  }
  .interested {
    height: 63rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interested button {
    bottom: -10rem;
    right: 5.5rem;
  }
  .interested__wrap {
    width: 32rem;
  }
  .interested__wrap h1 {
    font-size: 5rem;
    padding-left: 1rem;
  }
  .interested__wrap p {
    width: 32rem;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }
  .contact__block {
    width: 32rem;
    padding: 0rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__Us,
  .visit__the__office {
    width: 30rem;
  }
  .contact__Us h3,
  .visit__the__office h3 {
    font-size: 2rem;
  }
  .contact__Us {
    margin-bottom: 1rem;
  }
  .foter__block {
    height: 3rem;
  }
  .foter__block p {
    font-size: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  .header__line {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin-left: 2.5rem;
  }
  .menu {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
    padding-left: 2.5rem;
  }
  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 0;
  }
  .header__menu__nav {
    padding: 0 3rem;
  }
  .welcome {
    height: 64rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6rem;
  }
  .welcome p {
    height: 0;
    line-height: 4rem;
    font-size: 3rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 13.5rem;
    margin-left: -52.5rem;
  }
  .welcome__image__and__text__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .welcome__image__and__text__wrap .span__london {
    width: 63rem;
    height: 7.5rem;
    font-size: 14.5rem;
    text-align: center;
    font-style: normal;
    line-height: 0rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .slider {
    height: 34.2rem;
  }
  .slider__wrapper {
    width: 200%;
  }
  .slider__item {
    width: 100%;
    height: 34.2rem;
  }
  .slider__item img {
    width: 100%;
    height: 34.2rem;
  }
  .history {
    height: 78rem;
    margin: 6rem 0 1rem 0;
  }
  .history__wrap {
    width: 100%;
    height: 78rem;
  }
  .history__wrap img {
    width: 30rem;
    height: 55rem;
    top: 22%;
  }
  .the__square__mile__wrap {
    padding-right: 4rem;
  }
  .the__square__mile {
    width: 60rem;
  }
  .roman__london {
    width: 44%;
    margin-top: 3rem;
    margin-left: 2.5rem;
  }
  .about {
    margin-top: 0rem;
    position: absolute;
    left: 1rem;
    top: 41.5rem;
  }
  .prehistory__of__london {
    width: 47%;
    margin: 7rem 0 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prehistory__of__london h2 {
    font-size: 3.2rem;
    margin-right: 7rem;
    font-weight: 400;
    text-align: left;
  }
  .transport {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .transport__wrap {
    width: 100%;
  }
  .transport__wrap h1 {
    font-size: 8rem;
    margin-left: 2.5rem;
  }
  .transport__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transport__block__wrap {
    height: 42.8rem;
    margin-bottom: 2rem;
  }
  .transport__wrap__text {
    width: 100%;
    height: 42.7rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .transport__text p {
    width: 59.9rem;
    padding-left: 2.5rem;
  }
  .transports {
    height: 152rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .transports p {
    padding-left: 2.5rem;
    width: 100%;
  }
  .transports__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transports__block h1::after {
    left: 31%;
  }
  .transports__block p {
    padding-left: 80.8rem;
  }
  .image__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image__block img {
    width: 64rem;
    margin-bottom: 1.5rem;
  }
  .facts {
    margin-bottom: 23rem;
  }
  .facts__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .facts__wrap h2 {
    padding-left: 2.5rem;
  }
  .facts__wrap h3 {
    padding-left: 4.5rem;
  }
  .facts__text__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .facts__text__block .facts__text__block__item {
    width: 60rem;
    margin: 0 0 1.5rem 0;
    padding-left: 2.5rem;
  }
  .facts__text__block div:first-child {
    width: 60rem;
    padding-left: 2.5rem;
  }
  .big__L {
    top: 61.5rem;
    left: 11.5rem;
  }
  .night {
    height: 71rem;
    margin-bottom: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .night__block__wrap {
    width: 64rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .night__vertical__text {
    left: 45.5rem;
    top: 16.2rem;
  }
  .night__in__london {
    width: 64rem;
  }
  .night__image__and__text__wrap img {
    width: 64rem;
  }
  .night__block__text {
    width: 64rem;
    height: 35.2rem;
  }
  .night__block__text h1 {
    font-size: 4rem;
  }
  .places {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  .places__wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .places__wrap h1 {
    width: 100%;
    font-size: 5rem;
    text-align: left;
    padding-left: 2.5rem;
  }
  .places__wrap .places__wrap__text {
    width: 100%;
    text-align: left;
    padding: 0 4rem 0 2.5rem;
    margin-bottom: 2rem;
  }
  .places__image__block {
    width: 64rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .places__text__block {
    width: 64rem;
    height: 38rem;
    right: 44rem;
    bottom: .2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .places__text__block h2 {
    font-size: 4rem;
  }
  .main__img {
    margin-bottom: 1rem;
  }
  .main__img img {
    width: 64rem;
    height: 38rem;
  }
  .other__img {
    width: 64rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .other__img img {
    width: 20.5rem;
  }
  .other__img__blackout__block {
    width: 20.5rem;
    height: 11rem;
  }
  .other__img__blackout__block p {
    top: 0.2rem;
    right: 0.8rem;
  }
  .interested {
    height: 44rem;
  }
  .interested__wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interested__wrap h1 {
    font-size: 5rem;
    padding-left: 2.5rem;
  }
  .interested__wrap p {
    width: 100%;
    letter-spacing: .04rem;
    padding: 0 4rem 0 2.5rem;
    margin-bottom: 3rem;
  }
  .contact__block {
    padding: 0 4rem 0 2.5rem;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    position: relative;
  }
  .contact__block button {
    position: absolute;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .contact__Us {
    width: 32rem;
  }
  .visit__the__office {
    width: 32rem;
    text-align: right;
  }
  .footer__block p {
    padding-right: 3rem;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .header__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__line {
    width: 100%;
  }
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 3.5rem;
  }
  .welcome {
    height: 80rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6rem;
    position: relative;
  }
  .welcome p {
    height: 0;
    line-height: 4rem;
    font-size: 2.5rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 12.5rem;
    margin-left: -83.5%;
  }
  .welcome__image__and__text__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .welcome__image__and__text__wrap .span__london {
    width: 100%;
    height: 6rem;
    font-size: 12rem;
    text-align: center;
    font-style: normal;
    line-height: 0rem;
    text-align: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding-left: 3rem;
  }
  .slider {
    height: 42.7rem;
  }
  .slider__wrapper {
    width: 200%;
  }
  .slider__item {
    width: 100%;
    height: 42.7rem;
  }
  .slider__item img {
    width: 100%;
    height: 42.7rem;
  }
  .history {
    height: 89rem;
    margin: 7rem 0rem 5rem 0rem;
  }
  .history__wrap {
    height: 85rem;
  }
  .the__square__mile__wrap {
    padding-right: 3.5rem;
  }
  .the__square__mile {
    width: 87%;
  }
  .roman__london {
    padding-left: 3.5rem;
    width: 37rem;
    margin-top: 10rem;
  }
  .about {
    font-size: 1.3rm;
    margin-top: 8rem;
    padding-left: 1rem;
  }
  .prehistory__of__london {
    width: 37rem;
    padding-left: 3.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transport {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .transport__wrap {
    width: 100%;
  }
  .transport__wrap h1 {
    font-size: 8rem;
    margin-left: 2.5rem;
  }
  .transport__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transport__block__wrap {
    height: 42.8rem;
    margin-bottom: 2rem;
  }
  .transport__block__wrap img {
    width: 100%;
  }
  .transport__wrap__text {
    width: 100%;
    height: 42.7rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .transport__text {
    padding-right: 3.5rem;
  }
  .transport__text p {
    width: 100%;
    padding-left: 3.5rem;
  }
  .transports {
    height: 36rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .transports p {
    padding-left: 2.5rem;
    width: 100%;
  }
  .transports__block {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transports__block h1::after {
    left: 31%;
  }
  .transports__block p {
    padding-left: 51.7rem;
  }
  .image__block {
    width: 100%;
  }
  .image__block img {
    width: 32.3%;
    margin-bottom: 1.5rem;
  }
  .facts {
    margin-bottom: 16rem;
  }
  .facts__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .facts__wrap h2 {
    padding-left: 2.5rem;
  }
  .facts__wrap h3 {
    padding-left: 4.5rem;
  }
  .facts__text__block {
    height: 39.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .facts__text__block .facts__text__block__item {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0 3.5rem 0 2.5rem;
  }
  .facts__text__block div:first-child {
    width: 100%;
    padding: 0 3.5rem 0 2.5rem;
  }
  .big__L {
    top: 52.5rem;
    left: 19.5rem;
  }
  .night {
    height: 71rem;
    margin-bottom: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .night__block__wrap {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .night__vertical__text {
    left: -15rem;
    top: 15.7rem;
  }
  .night__in__london {
    width: 95%;
  }
  .night__image__and__text__wrap {
    width: 100%;
    height: 48rem;
  }
  .night__image__and__text__wrap img {
    width: 100%;
    height: 48rem;
  }
  .night__block__text {
    width: 100%;
    height: 48rem;
  }
  .night__block__text h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */