html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
}

.full__block {
  width: 100%;
  overflow: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

.full__block {
  overflow: hidden;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__line {
  width: 149rem;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 3.5rem;
}

.hamburger__menu {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10rem;
}

.header__menu {
  width: 62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu__nav__item {
  font-size: 1.5rem;
}

.header__menu__nav__item {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: #585c62;
  text-transform: uppercase;
}

.welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3rem;
  font-style: italic;
}

.welcome__image__and__text__wrap {
  width: 149rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcome__image__and__text__wrap .span__london {
  font-family: 'Playfair Display', serif;
  width: 16rem;
  height: 16rem;
  font-size: 14.3rem;
  font-style: normal;
  line-height: 19rem;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.welcome__image__and__text__wrap img {
  width: 138rem;
}

.welcome__slide {
  width: 138rem;
}

.history {
  width: 100%;
  height: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 9rem;
}

.history__wrap {
  width: 138rem;
  height: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.history__wrap img {
  width: 40rem;
  height: 72rem;
  position: absolute;
  right: 0;
  top: 20%;
}

.the__square__mile__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10rem;
}

.the__square__mile {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.the__square__mile h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
  width: 52%;
  font-size: 4.6rem;
  font-style: italic;
  margin-right: 4rem;
}

.the__square__mile p {
  font-family: 'Lato', sans-serif;
  width: 67%;
  font-size: 1.6rem;
  text-align: left;
}

.roman__london {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23rem;
}

.roman__london h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}

.roman__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.about {
  font-size: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-top: 12rem;
}

.prehistory__of__london {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prehistory__of__london h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4.8rem;
  margin-right: 4rem;
}

.prehistory__of__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 7rem;
}

.transport__wrap {
  width: 138rem;
}

.transport__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: 400;
}

.transport__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.transport__wrap__text {
  position: absolute;
  left: 0;
  bottom: 5rem;
}

.transport__wrap__text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3.5rem;
}

.transport__wrap__text p {
  width: 58rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  padding-left: 10rem;
}

.transport__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transport__text p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  width: 40.5rem;
  padding-left: 7.5rem;
}

.transport__text p:last-child {
  font-weight: bolder;
  text-align: right;
  padding-right: .5rem;
}

.transports {
  height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.transports p {
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  font-weight: 400;
  text-align: left;
}

.transports p:first-child {
  height: 1rem;
}

.transports__block {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.transports__block h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-top: 1.2rem;
}

.transports__block p {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  padding-left: 29.5rem;
  margin-bottom: 4rem;
}

.image__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image__block img {
  width: 44rem;
}

.facts {
  height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30rem;
}

.facts__wrap {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.facts__wrap h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.7rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.facts__wrap h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  padding-left: 20rem;
  margin-bottom: 3rem;
}

.facts__text__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facts__text__block .facts__text__block__item {
  width: 52rem;
  margin-right: 10rem;
}

.facts__text__block .facts__text__block__item p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.facts__text__block div:first-child {
  width: 22rem;
}

.big__L {
  width: 40rem;
  position: absolute;
  top: 44rem;
  left: 6rem;
}

.night {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20rem;
}

.night__block__wrap {
  width: 149rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.night__vertical__text {
  font-family: 'Playfair Display', serif;
  height: 3.5rem;
  white-space: nowrap;
  font-size: 2.6rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -16rem;
  top: 56.5rem;
}

.night__in__london {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.night__image__and__text__wrap {
  position: relative;
}

.night__image__and__text__wrap img {
  width: 138rem;
}

.night__block__text {
  position: absolute;
  left: 8rem;
  bottom: 6rem;
}

.night__block__text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 4rem;
}

.night__block__text p {
  width: 63rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20rem;
}

.places__wrap {
  width: 138rem;
}

.places__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: 400;
}

.places__wrap .places__wrap__text {
  width: 66rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 8rem;
}

.places__image__block {
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__img {
  width: 108rem;
  position: relative;
}

.slide__img img {
  width: 105rem;
  height: 60rem;
}

.places__text__block {
  position: absolute;
  right: 6rem;
  bottom: 8rem;
}

.places__text__block h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #fff;
  text-align: right;
}

.places__text__block p {
  width: 50rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.other__img {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.other__img p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.other__img__item__wrap {
  position: relative;
  margin-bottom: 2.7rem;
}

.other__img__item__wrap p {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: .5rem;
  right: 2rem;
  color: #ffffff;
}

.other__img__item__wrap .Big__Ben {
  font-family: 'Playfair Display', serif;
  color: #000;
}

.interested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50rem;
  position: relative;
}

.interested button {
  font-family: 'Lato', sans-serif;
  position: absolute;
  bottom: -11rem;
  padding: 1rem 2rem;
  border: .1rem solid red;
  border-radius: 2rem;
  background-color: #fff;
  color: red;
  cursor: pointer;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.interested button:hover {
  border: .1rem solid #1d82b6;
  color: #1d82b6;
}

.interested__wrap {
  width: 138rem;
}

.interested__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

.interested__wrap p {
  width: 63rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.contact__block {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.contact__block::after {
  content: '';
  display: block;
  position: absolute;
  width: 117%;
  height: .1rem;
  bottom: -2rem;
  left: 0;
  background-color: #e1e1e1;
}

.contact__Us,
.Visit__the__office {
  width: 25rem;
}

.contact__Us h3,
.Visit__the__office h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.contact__Us li,
.Visit__the__office li {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  padding-bottom: .8rem;
}

@media (min-width: 320px) and (max-width: 639px) {
  .header__line {
    width: 32rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
  .header__logo {
    margin: 1.5rem 0;
  }
  .hamburger__menu {
    width: 30rem;
    margin-right: 0;
  }
  .welcome {
    height: 38rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .welcome p {
    height: 0;
    line-height: 4rem;
    font-size: 2rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .welcome__image__and__text__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32rem;
  }
  .welcome__image__and__text__wrap .span__london {
    width: 32rem;
    height: 4rem;
    font-size: 7rem;
    text-align: center;
    font-style: normal;
    line-height: 0rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .welcome__slide {
    width: 32rem;
  }
  .welcome__slide img {
    width: 32rem;
  }
  .history {
    height: 114rem;
    margin: 5rem 0;
  }
  .history__wrap {
    width: 32rem;
    position: static;
  }
  .history__wrap img {
    width: 18rem;
    height: 36rem;
    position: static;
    float: right;
  }
  .the__square__mile__wrap {
    width: 100%;
    padding-right: 0rem;
  }
  .the__square__mile {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1rem;
  }
  .the__square__mile h2 {
    font-size: 2.2rem;
  }
  .the__square__mile p {
    width: 90%;
  }
  .roman__london {
    width: 100%;
    padding-left: 1rem;
    margin-top: 6rem;
  }
  .roman__london h3 {
    font-size: 2.2rem;
    font-style: italic;
  }
  .roman__london p {
    width: 90%;
  }
  .about {
    width: 100%;
    margin-top: 4rem;
    padding-left: 1rem;
  }
  .prehistory__of__london {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 1rem;
  }
  .prehistory__of__london h2 {
    font-size: 2.2rem;
    font-style: italic;
  }
  .prehistory__of__london p {
    width: 90%;
  }
  .transport {
    height: 61rem;
    margin-bottom: 5rem;
  }
  .transport__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32rem;
  }
  .transport__wrap h1 {
    font-size: 5rem;
  }
  .transport__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transport__block img {
    width: 32rem;
  }
  .transport__wrap__text {
    height: 14rem;
    bottom: 33rem;
  }
  .transport__wrap__text h3 {
    font-size: 2.8rem;
    padding-left: .5rem;
    margin-bottom: .5rem;
  }
  .transport__wrap__text p {
    width: 31rem;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-left: 4rem;
  }
  .transport__text p {
    width: 30rem;
    padding-left: 1rem;
  }
  .transports {
    height: 108rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transports p {
    font-size: 2.3rem;
    padding-left: 1rem;
  }
  .transports__block {
    width: 32rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transports__block h1 {
    letter-spacing: 0rem;
    padding-left: 1rem;
  }
  .transports__block p {
    font-size: 1.3rem;
    padding-left: 19rem;
  }
  .image__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image__block img {
    padding-bottom: 1rem;
  }
  .facts {
    height: 97rem;
    margin-bottom: 28rem;
  }
  .facts__wrap {
    width: 32rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .facts__wrap h2 {
    padding-left: 1rem;
  }
  .facts__wrap h3 {
    width: 32rem;
    margin-bottom: 2rem;
    padding-left: 15rem;
  }
  .facts__text__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .facts__text__block .facts__text__block__item {
    width: 32rem;
  }
  .facts__text__block .facts__text__block__item p {
    width: 32rem;
    padding: 0rem 1rem;
    margin-bottom: 3rem;
  }
  .big__L {
    width: 22rem;
    top: 108.5rem;
    left: 4.5rem;
  }
  .night {
    height: 44rem;
    padding-top: 25rem;
    margin-bottom: 0;
  }
  .night__block__wrap {
    width: 32rem;
  }
  .night__vertical__text {
    font-size: 1.8rem;
    left: 18.5rem;
    top: -14.5rem;
  }
  .night__in__london {
    width: 32rem;
  }
  .night__image__and__text__wrap img {
    width: 32rem;
  }
  .night__block__text {
    left: 2rem;
    bottom: 3rem;
  }
  .night__block__text h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  .night__block__text p {
    width: 28rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .places {
    height: 100rem;
    margin-top: 4rem;
  }
  .places__wrap {
    width: 32rem;
  }
  .places__wrap h1 {
    font-size: 5rem;
    padding-left: .5rem;
  }
  .places__wrap .places__wrap__text {
    width: 32rem;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  }
  .places__image__block {
    width: 32rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slide__img {
    width: 32rem;
    margin-bottom: 2rem;
  }
  .slide__img img {
    width: 32rem;
    height: 22rem;
  }
  .places__text__block {
    right: 0;
    bottom: 2rem;
  }
  .places__text__block h2 {
    font-size: 2.8rem;
    text-align: left;
  }
  .places__text__block p {
    width: 30rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .other__img__item__wrap {
    margin-bottom: 2rem;
  }
  .other__img__item__wrap p {
    top: .5rem;
    right: -1rem;
  }
  .interested__wrap {
    width: 32rem;
  }
  .interested__wrap h1 {
    font-size: 5rem;
    padding-left: 1rem;
  }
  .interested__wrap p {
    width: 32rem;
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=main.css.map */