html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
}

.full__block {
  width: 100%;
  overflow: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.full__block {
  overflow: hidden;
}

.header__line {
  width: 100%;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 4.3% 0 14.5%;
}

.hamburger__menu {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 7%;
}

.header__menu {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu__nav__item {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: #585c62;
  text-transform: uppercase;
}

.welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3rem;
  font-style: italic;
}

.welcome__image__and__text__wrap {
  width: 87.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome__image__and__text__wrap .span__london {
  font-family: 'Playfair Display', serif;
  width: 16rem;
  height: 16rem;
  font-size: 14.3rem;
  font-style: normal;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.welcome__image__and__text__wrap img {
  width: 119%;
}

.history {
  width: 100%;
  height: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 9rem;
}

.history__wrap {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 7%;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.history__wrap img {
  width: 23%;
  position: absolute;
  right: -10%;
  top: 22%;
}

.the__square__mile__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.the__square__mile {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.the__square__mile h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
  width: 52%;
  font-size: 4.6rem;
  font-style: italic;
  margin-right: 4rem;
}

.the__square__mile p {
  font-family: 'Lato', sans-serif;
  width: 67%;
  font-size: 1.6rem;
  text-align: left;
}

.roman__london {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23rem;
}

.roman__london h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}

.roman__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.about {
  font-size: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-top: 12rem;
}

.prehistory__of__london {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prehistory__of__london h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4.8rem;
  margin-right: 4rem;
}

.prehistory__of__london p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.transport__wrap {
  width: 79%;
}

.transport__wrap h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
}

.transport__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */